{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}
{% extends 'default_frame.twig' %}

{% set body_class = 'front_page' %}

{% block javascript %}
<script>
$(function(){
    $('.main_visual').slick({
        dots: true,
        arrows: false,
        autoplay: true,
        speed: 300
    });
});
</script>
{% endblock %}




{% block main %}
    <h3 class="headline5"><span>商品カテゴリ</span></h3>
    <section id="products_menu" class="pt_l mt mb_l pb_l">
      <ul class="cf">
          <li class=""><a href="{{ url('product_list') }}?category_id=7"><img src="../../wakimizunosato/images/products/product_grp1.jpg" /><span>とうふ</span></a></li>
          <li class=""><a href="{{ url('product_list') }}?category_id=7"><img src="../../wakimizunosato/images/products/product_grp2.jpg" /><span>変わりとうふ</span></a></li>
          <li class=""><a href="{{ url('product_list') }}?category_id=12"><img src="../../wakimizunosato/images/products/product_grp3.jpg" /><span>揚げ</span></a></li>
          <li class=""><a href="{{ url('product_list') }}?category_id=14"><img src="../../wakimizunosato/images/products/product_grp4.jpg" /><span>湯葉・豆乳</span></a></li>
          <li class=""><a href="{{ url('product_list') }}?category_id=13"><img src="../../wakimizunosato/images/products/product_grp5.jpg" /><span>スイーツ</span></a></li>
          <li class=""><a href="{{ url('product_list') }}?category_id=15"><img src="../../wakimizunosato/images/products/product_grp6.jpg" /><span>ギフトセット</span></a></li>
      </ul>
    </section>
    <!-- products_menu -->    

    <h3 class="headline4"><img src="../../wakimizunosato/images/products/product_osusume.jpg" ><span>おすすめ商品</span><span class="line"></span></h3>

    <!-- ▼item_list▼ -->
    <div id="item_list" class="pt_s">
        <div class="row no-padding">
            {% for Product in pagination %}
                <div id="result_list_box--{{ Product.id }}" class="item-outer col-sm-4 col-xs-6">
                    <div id="result_list__item--{{ Product.id }}" class="product_item">
                        <a href="{{ url('product_detail', {'id': Product.id}) }}">
                            <div id="result_list__image--{{ Product.id }}" class="item_photo">
                                <img src="{{ app.config.image_save_urlpath }}/{{ Product.main_list_image|no_image_product }}">
                            </div>
                            <dl id="result_list__detail--{{ Product.id }}">
                                <dt id="result_list__name--{{ Product.id }}" class="item_name">{{ Product.name }}</dt>
                                {% if Product.description_list %}
                                    <dd id="result_list__description_list--{{ Product.id }}" class="item_comment">{{ Product.description_list|raw|nl2br }}</dd>
                                {% endif %}
                                {% if Product.hasProductClass %}
                                    {% if Product.getPrice02Min == Product.getPrice02Max %}
                                    <dd id="result_list__price02_inc_tax--{{ Product.id }}" class="item_price">
                                        {{ Product.getPrice02IncTaxMin|price }}
                                    </dd>
                                    {% else %}
                                    <dd id="result_list__price02_inc_tax--{{ Product.id }}" class="item_price">
                                        {{ Product.getPrice02IncTaxMin|price }} ～ {{ Product.getPrice02IncTaxMax|price }}
                                    </dd>
                                    {% endif %}
                                {% else %}
                                    <dd id="result_list__price02_inc_tax--{{ Product.id }}" class="item_price">{{ Product.getPrice02IncTaxMin|price }}</dd>
                                {% endif %}
                            </dl>
                        </a>
                        {% if Product.ProductTag is not empty %}
                            <!--▼商品タグ-->
                            <div id="product_tag_box" class="product_tag">
                                {% for ProductTag in Product.ProductTag %}
                                    <span id="product_tag_box__product_tag--{{ ProductTag.Tag.id }}" class="product_tag_list">{{ ProductTag.Tag }}</span>
                                {% endfor %}
                            </div>
                            <!--▲商品タグ-->
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>

    </div>
    <!-- ▲item_list▲ -->

{% endblock %}
