@charset "UTF-8";
/* padding */
.pt_s {
  padding-top: 2%;
}
.pt {
  padding-top: 4%;
}
.pt_l {
  padding-top: 6%;
}
.pb_s {
  padding-bottom: 2%;
}
.pb {
  padding-bottom: 4%;
}
.pb_l {
  padding-bottom: 6%;
}

/* margin */
.mt_s {
  margin-top: 2%;
}
.mt {
  margin-top: 4%;
}
.mt_l {
  margin-top: 6%;
}
.mb_s {
  margin-bottom: 2%;
}
.mb {
  margin-bottom: 4%;
}
.mb_l {
  margin-bottom: 6%;
}

/* font-size */
.fsize_xl {
    font-size: 18px;
    font-size: 1.8rem;
}

.fsize_l {
    font-size: 16px;
    font-size: 1.6rem;
}

.fsize {
    font-size: 14px;
    font-size: 1.4rem;
}

.fsize_s {
    font-size: 12px;
    font-size: 1.2rem;
}

.fsize_xs {
    font-size: 10px;
    font-size: 1.0rem;
}

/* テキスト用BOX pタグの下に改行が入る。 */
div.textbox p {
  margin-bottom: 1em;
}
div.textbox p:last-child {
  margin-bottom: 0;
}

/********************************************************************************
　--common
*********************************************************************************/
/* --headline
************************************/


/* 　　--table
************************************/

.linkbtn1 {
  text-align:center;
}
.linkbtn1 a {
  position: relative;
  border: 1px solid #0a6600;
  display: inline-block;
  color: #fff !important;
  font-weight: bold;
  font-size:13px;
  font-size:1.3rem;
  background: #0a6600;
  width: 78%;
  padding: 8px 0;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border-radius: 5px;
  -webkit-border-radius: 5px;/* for Safari and Chrome 対応*/
  -moz-border-radius: 5px;/* for Firefox 対応*/
}
.linkbtn1 a:after {
    content: '';
    position: absolute;
    right: 7px;
    top: 15px;
    width: 6px;
    height: 6px;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.linkbtn1 a:hover {
  background: #fff;
  color: #0a6600 !important;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}


.linkbtn2 a {
  color:#424242;
  position: relative;
  padding-right: 20px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;

}
.linkbtn2 a:hover {
  color:#00540c;
  text-decoration: underline;
}
.linkbtn2 a:before{
  position: absolute;
  width: 16px;
  height: 16px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #00540c;
  content:"";
  right: 0;
  top:6px;

}
.linkbtn2 a:after{
  position: absolute;
  box-sizing: border-box;
  width: 4px;
  height: 4px;
  border: 4px solid transparent;
  border-left: 5px solid #fff;
  content:"";
  right: 1px;
  top:10px;
}


/* --headline
************************************/
.headline1 {
  color:#683b00;
  font-weight: 900;
  font-size:20px;
  font-size:2.0rem;
  text-align:left;
  padding-left:2%;
  border-left:5px solid #0a6600;
  line-height: 1.4;
  letter-spacing:1px;  
}
.headline1 span.green {
  color:#0a6600;
}
.headline1 span.large{
  font-size:22px;
  font-size:2.2rem;
}
.headline3 {
  color:#683b00;
  font-size: 20px;
  font-size:2.0rem;
  font-weight: 900;
  display: flex;
  align-items: center;
  width: 92%;
  margin: 0px auto;
}
.headline3:before, .headline3:after {
  content: "";
  flex-grow: 1;
  height: 2px;
  background: #683b00;
  display: block;
}
.headline3:before {
  margin-right: 1.5em;
}
.headline3:after {
  margin-left: 1.5em;
}
/* --bg_color
************************************/
.bg_white {
  background: #fff;
}
.bg_gray1 {
  background: #d3cac2;
}
.bg_gray2 {
  background: #eae3da;
}
.bg_orange {
  background: #f99830;
}
.bg_img1 {
    background: url(../../images/bg_img1.jpg) repeat;
}

/* --table
************************************/
table.style1,
#mfp_confirm_table
{
	margin:0 0px 20px;
	font-size:13px;
	font-size:1.3rem;
	width:100%;
		background:#fff;
color: #683b00;
}
table.style1 th,
#mfp_confirm_table th
{
text-align:left;
	display: block;
  	background:#f7cdaa;
	padding:2% 4%;
    width:100%;
}
table.style1 th em{
    float: left;
    background: #ac0019;
    color: #fff;
    font-size: 11px;
    padding: 2px 5px;
    margin-right: 9px;
    margin-top: 0px;
}
table.style1 td,
#mfp_confirm_table td
{
background: #fff;
    padding: 9px 12px 9px;
    width: 100%;
    display: block;
}
form input[type="text"], input[type="mail"], select {
padding: 3px 10px;
    font-size: 15px;
    font-size: 1.5rem;
    /* margin: 4px 0; */
    width: 100%!important;
    border: 1px solid #a7a7a7;
}
textarea {
    padding: 7px 10px;
    font-size: 15px;
    font-size: 1.5rem;
    margin: 4px 0;
    width: 100%!important;
    border: 1px solid #a7a7a7;
}

.mfp_err {
  color:#ac0019!important;
}
#mfp_phase_confirm_inner {
  color: #683b00;
  font-size:13px;
  font-size:1.3rem;
}
#mfp_phase_confirm_inner table {
  margin-bottom:4%;
}
#mfp_phase_confirm_inner .mfp_buttons {
  margin-bottom:4%;
}


/* --link
************************************/
.link_red {
  color: #c73c25 !important; }

.link_red:hover {
  text-decoration: underline; }

.link_blue {
  color: #2687a8 !important; }

.link_blue:hover {
  text-decoration: underline; }

/* --font_color
************************************/
.font_red {
  color: #c73c25 !important; }

.font_blue {
  color: #2687a8 !important; }

/* --img_center
************************************/
.img_center {
  display: block;
  text-align: center;
  margin: 0 auto;
}
/* --sml
************************************/
/* --new
************************************/
.new:after {
  content: "new";
  margin-left: 5px;
  color: #fff;
  background: #c73c25;
  padding: 1px 3px;
  font-size: 12px; }

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

