@charset "UTF-8";

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
　--page_index
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
#page_index .mainimg {
    background-size: cover;
    padding-top: 280px;
    margin-top: 48px;
    position: relative;
}

#page_index .about_top .photo {
    background-size: cover !important;
    min-height: 240px;
    background-position: center !important;
}

#page_index .about_top .text p {
    height: 100%;
}

#page_index .about_top h2 {
    width: 70%;
}

#page_index .about_top h2 img {
    width: 100%;
    height: auto;
}

#page_index .about_top .photo_right {
    margin-bottom: 4%;
}

#page_index .about_top .flexcol .text {
    font-family: 'yasashisa';
    color: #424242;
    font-size: 14px;
    font-size: 1.4rem;
}


#page_index .about_bottom ul li .box {
    /*margin-right:2%;
    margin-left:2%;*/
    padding: 4% 4%;
    margin-bottom: 2%;
}

#page_index .about_bottom ul li:first-of-type .box {
    /*    margin-right:2%;
    margin-left:0%;
    margin-bottom:2%;*/
}

#page_index .about_bottom ul li:last-of-type .box {
    /*margin-right:2%;
    margin-left:0%;
    margin-top:4%;*/
}

#page_index .about_bottom ul li .box h3 {
    text-align: center;
    font-family: 'yasashisa';
    font-size: 14px;
    font-size: 1.4rem;
    font-weight: bold;
}

#page_index .about_bottom ul li .box p {
    font-family: 'yasashisa';
    line-height: 2;
}

#page_index .ranking h2 {
    width: 70%;
}

#page_index .ranking h2 img {
    width: 100%;
    height: auto;
}

#page_index .ranking.osusume h2 {
    width: 100%;
}


#page_index .ranking ul li img {
    border-radius: 175px;
    height: 200px;
    width: 200px;
    box-shadow: 1px 2px 6px #000;
    background: #fff;
}

#page_index .ranking ul li {
    position: relative;
    width: 100%;

}

#page_index .ranking ul li:after {
    position: absolute;
    left: 0;
    top: 0;
}

#page_index .ranking ul li.rank2 {
    padding-top: 4%;
}

#page_index .ranking ul li.rank3 {
    padding-top: 4%;
}

#page_index .ranking ul li.rank1:after {
    content: url(../../images/runking1.png);
}

#page_index .ranking ul li.rank2:after {
    content: url(../../images/runking2.png);
}

#page_index .ranking ul li.rank3:after {
    content: url(../../images/runking3.png);
}

#page_index .ranking ul li .text {
    text-align: center;
    color: #683b00;
    font-family: 'yasashisa';
    font-weight: bold;
}

#page_index .voice {
    padding: 6% 0 6%;
}

#page_index .voice .outer {
    position: relative;
}

#page_index .voice .outer:before {
    content: url(../../images/index_ranking_voice_sp.png);
    position: absolute;
    left: 0;
    top: 5px;
}

#page_index .voice .naname {
    transform: rotate(-3deg);
    font-family: 'yasashisa';
    font-size: 12px;
    font-size: 1.2rem;
    padding-left: 100px;
    text-align: left;
}

#page_index .voice .linkbtn1 {
    margin-top: 12%;
}

#page_index .topics h2 {
    width: 70%;
}

#page_index .topics h2 img {
    width: 100%;
    height: auto;
}

#page_index .topics dl {
    width: 100%;
    border-bottom: 2px dashed #0b6013;
    padding: 4% 0;
}

#page_index .topics dl dt {
    width: 16%;
    float: left;
    margin-right: 4%
}

#page_index .topics dl dd {
    width: 80%;
    float: left;
}

#page_index .topics dl dd a {
    text-decoration: underline !important;
}

#page_index .topics dl dt img {
    border-radius: 100%;
    height: auto;
    width: 100%;
    text-align: center;
    margin: 0 auto 4%;
}

#page_index .topics dl dd h3 {
    font-weight: bold;
    padding-bottom: 5px;
}

#page_index .topics dl dd .text {
    font-family: 'yasashisa';
    font-size: 14px;
    font-size: 1.4rem;
}

#page_index .topics dl dd .text .tuduki-underline {
    text-decoration: underline;
}

#page_index .topics .linkbtn2 {
    text-align: right;
}

#page_index .access h2 {
    width: 70%;
}

#page_index .access h2 img {
    width: 100%;
    height: auto;
}

#page_index .access iframe {
    width: 100%;
    height: 250px;
    vertical-align: bottom;

}

#page_index .access .left {
    vertical-align: top;
    padding: 4%;
}

#page_index .access .left img {
    width: 100%;
    height: auto;
}

#page_index .access .left .text {
    padding: 0%;
}

#page_index .access .left .text h3 {
    font-size: 16px;
    font-size: 1.6rem;
}

#page_index .access .left .text a {
    text-decoration: underline;
}

#page_index .access .left .text p {
    font-size: 14px;
    font-size: 1.4rem;
}

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
 --page_kodawari
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
#page_kodawari .omoi .grid_col2 {
    width: 100%;
}

#page_kodawari .omoi .grid_col2 li:first-of-type img {
    padding-left: 0%;
    margin-bottom: 2%;
}

#page_kodawari .omoi .text {
    color: #424242;
    font-family: 'yasashisa';
}

#page_kodawari .omoi .text h3 {
    text-align: left;
    padding-top: 4%;
}

#page_kodawari .omoi .text p {
    font-size: 14px;
    font-size: 1.4rem;
}

#page_kodawari .kodawari5 {
    margin-bottom: 6%;
}

#page_kodawari .kodawari5 .flexcol .photo {
    display: block;
}

#page_kodawari .kodawari5 .flexcol .text {
    display: block;
    padding: 4% 0 4% 0;
    color: #424242;
}

#page_kodawari .kodawari5 .flexcol .text h3 {
    font-size: 18px;
    font-size: 1.8rem;
    color: #683b00;
    font-weight: bold;
    line-height: 1.4;
}

#page_kodawari .kodawari5 .flexcol .text h3 br.sp {
    display: none;
}

@media screen and (max-width: 390px) {
    #page_kodawari .kodawari5 .flexcol .text h3 br.sp {
        display: block;
    }
}

#page_kodawari .kodawari5 .flexcol .text p {
    font-size: 14px;
    font-size: 1.4rem;
    font-family: 'yasashisa';
}

#page_kodawari .kodawari5 .photo_right .photo {
    text-align: right;
}

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
 --page_menu
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
#page_menu .ranking ul li img {
    border-radius: 175px;
    height: 250px;
    width: 250px;
    box-shadow: 1px 2px 6px #000;
    background: #fff;
}

#page_menu .ranking ul li {
    position: relative;
    width: 100%;
}

#page_menu .ranking ul li:after {
    position: absolute;
    left: 0;
    top: 0;
}

#page_menu .ranking ul li.rank1:after {
    content: url(../../images/runking1.png);
}

#page_menu .ranking ul li.rank2:after {
    content: url(../../images/runking2.png);
}

#page_menu .ranking ul li.rank3:after {
    content: url(../../images/runking3.png);
}

#page_menu .ranking ul li.rank2 {
    padding-top: 4%;
}

#page_menu .ranking ul li.rank3 {
    padding-top: 4%;
}

#page_menu .ranking ul li h3 {
    text-align: center;
    font-size: 16px;
    font-size: 1.6rem;
    color: #683b00;
    font-family: 'yasashisa';
    font-weight: bold;
}

#page_menu .ranking ul li p {
    margin-top: 2%;
    text-align: left;
    font-size: 13px;
    font-size: 1.3rem;
    color: #683b00;
    font-family: 'yasashisa';
    padding: 0 4%;
}

#page_menu .newitem .outer {
    padding: 8% 0;
}

#page_menu .newitem ul li:nth-child(n + 3) {
    padding-top: 4%;
}

#page_menu .newitem ul li {
    padding: 0 4%;
}

#page_menu .newitem ul li .title {
    font-size: 14px;
    font-size: 1.4rem;
}

#page_menu .voice1 {
    padding: 8% 0 8%;
}

#page_menu .voice1 .outer {
    position: relative;
    width: 100%;
}

#page_menu .voice1 .outer:before {
    content: url(../../images/menu_voice1_sp.png);
    position: absolute;
    left: 0px;
    top: -10px;
}

#page_menu .voice1 .text {
    text-align: center;
    font-family: 'yasashisa';
    color: #683b00;
    width: 100%;
    float: left;
    text-align: left;
    font-size: 1.2rem;
    font-size: 12px;
    padding-left: 165px;
    line-height: 1.8;
}

#page_menu .voice1 .box {
    width: 250px;
    padding: 15px 15px 35px 15px;
    float: right;
    background: #fff;
    transform: rotate(5deg);
    margin-top: 40px;
}

#page_menu .voice1 .box p {
    text-align: center;
    font-family: 'yasashisa';
    color: #683b00;
    padding-top: 5px;
}

#page_menu .teiban {
    color: #683b00;
}

#page_menu .teiban .col {
    padding: 0 4% 4%;
    font-family: 'yasashisa';
}

#page_menu .teiban .title {
    text-align: center;
    padding-top: 5px;
    font-size: 14px;
    font-size: 1.4rem;
    font-weight: bold;
}

#page_menu .teiban .text {
    padding-top: 5px;
    font-size: 14px;
    font-size: 1.4rem;
}

#page_menu .voice2 {
    padding: 14% 0 8%;
}

#page_menu .voice2 .outer {
    position: relative;
    width: 100%;
}

#page_menu .voice2 .outer:before {
    content: url(../../images/menu_voice2_sp.png);
    position: absolute;
    right: 0px;
    top: 287px;

}

#page_menu .voice2 .text {
    text-align: left;
    font-family: 'yasashisa';
    color: #683b00;
    width: 100%;
    /* float: left; */
    display: block;
    font-size: 12px;
    padding-right: 140px;
    padding-top: 308px;
}

#page_menu .voice2 .box {
    width: 250px;
    padding: 15px 15px 35px 15px;
    float: left;
    background: #fff;
    margin-top: -35px;
    transform: rotate(-5deg);
}

#page_menu .voice2 .box p {
    text-align: center;
    font-family: 'yasashisa';
    color: #683b00;
    text-align: left;
    padding-top: 5px;
}

#page_menu .cafemenu .left {}

#page_menu .cafemenu .left .grid_col2 dt {
    padding-left: 0px;
    width: 46%;
}

#page_menu .cafemenu .left dd {
    font-family: 'yasashisa';
    color: #683b00;
}

#page_menu .cafemenu {
    padding: 16% 0 8%;
}

#page_menu .cafemenu .outer {
    position: relative;
    width: 100%;
}

#page_menu .cafemenu .outer .col .grid_col2 dt {
    width: 20%;
    float: left;
    margin-right: 2%;
}

#page_menu .cafemenu .outer .col .grid_col2 dd {
    width: 78%;
    float: left;
}

#page_menu .cafemenu .outer .col .grid_col2 .col img {
    text-align: right;
    width: 100%;
    height: auto;
}

#page_menu .cafemenu .outer .col .grid_col2 .col h3 {
    font-size: 13px;
    font-size: 1.3rem;
    padding-left: 4%;
}

#page_menu .cafemenu .outer .col .grid_col2 .col p {
    font-size: 13px;
    font-size: 1.3rem;
    padding-left: 4%;
}

#page_menu .cafemenu .outer:before {
    content: url(../../images/menu_voice3_sp.png);
    position: absolute;
    right: 0px;
    bottom: 0px;
    z-index: 1;
}

#page_menu .cafemenu .text {
    text-align: center;
    font-family: 'yasashisa';
    color: #683b00;
    width: 100%;
    text-align: right;
    padding-right: 130px;
    padding-top: 80px;
    padding-bottom: 41px;
    font-size: 12px;
    font-size: 1.2rem;

}

#page_menu .cafemenu .box {
    width: 250px;
    padding: 15px 15px 35px 15px;
    background: #fff;
    transform: rotate(5deg);
    /* margin-left: 30px; */
    margin-top: 30px;
    text-align: right;
    margin-left: auto;
}

#page_menu .cafemenu .box p {
    text-align: center;
    font-family: 'yasashisa';
    color: #683b00;
    padding-top: 8px;
    transform: rotate(0deg);
}

#page_menu .cafemenu h3 {
    font-weight: bold;
}

#page_menu .newitem h3 {
    font-weight: bold;
}

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
 --page_shop
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
#page_shop .shokai h3 {
    color: #683b00;
    font-size: 18px;
    font-size: 1.8rem;
    font-weight: bold;
}

#page_shop .shokai .outer {
    width: 100%;
}

#page_shop .shokai .left {
    width: 100%;
    display: block;
}

#page_shop .shokai .left > dl {
    padding: 4% 4% 8%;
    background: #fff;
}

#page_shop .shokai .left h4 {
    color: #683b00;
    font-size: 18px;
    font-size: 1.8rem;
}

#page_shop .shokai .left address {
    color: #683b00;
    line-height: 1.7;
    font-size: 13px;
    font-size: 1.3rem;
}

#page_shop .shokai .left address a {
    color: #683b00;
    text-decoration: underline;
}

#page_shop .shokai .left address dl dt {
    float: left;
    width: 4em;
}

#page_shop .shokai .left address dl dd {
    overflow: hidden;
}

#page_shop .shokai .left address dl dd .right-ad1 {
    padding-left: 110.5px;
    display: block;
}

@media screen and (max-width:360px) {
    #page_shop .shokai .left address dl dd .right-ad1 {
        padding-left: 4%;
        display: inline;
    }
}

#page_shop .shokai .right {
    width: 100%;
    display: block;
}

#page_shop .shokai .right ul li {
    padding: 4% 4% 8% 4%;
    background: #fff;
    width: 100%;
    float: left;
}

#page_shop .shokai .right ul li img {
    width: 100%;
}

#page_shop .shokai .right ul li.row1 {
    margin-top: 4%;
    color: #683b00;
    text-align: center;
}

#page_shop .shokai .right ul li.row2 {
    color: #683b00;
    text-align: center;
    margin-top: 4%;
}

#page_shop .shokai .right ul li p {
    margin-top: 5px;
    font-size: 14px;
    font-size: 1.4rem;
}

#page_shop .access .map {
    width: 100%;
    height: 200px;
}

#page_shop .access .map iframe {
    width: 100%;
    height: 100%;
    vertical-align: bottom;
}

#page_shop .access {
    color: #683b00;
}

#page_shop .access h3 {
    font-size: 20px;
    font-size: 2.0rem;
    font-weight: bold;
    padding-bottom: 2%;
}

#page_shop .access p {
    padding-bottom: 20px;
    font-size: 14px;
    font-size: 1.4rem;
}

#page_shop .herlkun {
    color: #683b00;
    padding: 8% 0 8%;
}

#page_shop .herlkun h3 {
    font-size: 18px;
    font-size: 1.8rem;
    font-weight: bold;
    text-align: center;
}

#page_shop .herlkun p {
    font-size: 14px;
    font-size: 1.4rem;
}

#page_shop .herlkun img {
    width: 200px;
}

#page_contact .text {
    color: #683b00;
}

#page_contact .mfp_buttons button {
    font-family: 'yasashisa';
    border: none;
    background: #4c1d14;
    cursor: pointer;
    padding: 9px;
    font-size: 14px;
    color: #fff;
    border-radius: 15px;
    width: 100%;
    letter-spacing: 1px;
    outline: none;
}

#page_contact .mfp_buttons {
    text-align: center;
}

#page_contact .privacy a {
    text-decoration: underline;
}

#page_thanks section.contact .box {
    padding: 4% 0;
    margin: 0px auto 2%;
    font-size: 13px;
    font-size: 1.3rem;
}


#page_category .topics dl {
    width: 100%;
    border-bottom: 2px dashed #0b6013;
    padding: 20px 0;
}

#page_category .topics dl dt {
    width: 16%;
    float: left;
    margin-right: 4%
}

#page_category .topics dl dd {
    width: 80%;
    float: left;
}

#page_category .topics dl dd a {
    text-decoration: underline !important;
}

#page_category .topics dl dt img {
    border-radius: 100%;
    height: auto;
    width: 100%;
    text-align: center;
    margin: 0 auto 4%;
}

#page_category .topics dl dd h3 {
    font-weight: bold;
    padding-bottom: 5px;
}

#page_category .topics dl dd .text {
    font-family: 'yasashisa';
    font-size: 14px;
    font-size: 1.4rem;
}

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
 --page_single
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
#page_single section.news .box {
    background: #fff;
    padding: 4%;
    margin: 4% auto 2%;
}


#page_single section.news .news-outer {
    width: 100%;
}

#page_single section.news .news-outer .photo {
    width: 16%;
    float: left;
    margin-right: 4%;
}

#page_single section.news .news-outer .photo img {
    border-radius: 100%;
    height: auto;
    width: 100%;
    text-align: center;
    margin: 0 auto 4%;
}

#page_single section.news .news-outer .text {
    width: 80%;
    float: left;
}


#page_single section.news .entry-header {
    border-bottom: 2px dashed #0b6013;
    padding: 0px 0 10px;
}

#page_single section.news .entry-title {
    font-size: 26px;
    font-size: 2.6rem;
    color: #683b00;
    font-weight: bold;
}


#page_single section.news .entry-header {
    border-bottom: 2px dashed #0b6013;
    padding: 0px 0 2%;
}

#page_single section.news .entry-title {
    font-size: 18px;
    font-size: 1.8rem;
    color: #683b00;
    font-weight: bold;
}

#page_single section.news .entry-content {
    padding: 2% 0;
    font-family: 'yasashisa';
}

#page_single section.news .entry-content .left {
    width: 100%;
    display: block;
    margin: 2% 0 4%;

}

#page_single section.news .entry-content .left img {
    width: 100%;
    height: auto;
}

#page_single section.news .entry-content .right {
    width: 100%;
    display: block;
}


#page_single section.news ul.page_link li a {
    font-size: 11px;
    display: inline-block;
    padding: 6px 15px 6px;
    border-radius: 3px;
    border: solid 1px #717171;
    background: #fff;
    text-decoration: none;
    color: #717171;
}

#page_single section.news ul.page_link li.next {
    float: right;
}

#page_single section.news ul.page_link li.prev {
    float: left;
}

#page_single .linkbtn1 {
    width: 92%;
    margin: 4% auto 4%;
}

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
 --other-store
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
#other-store .grid_col2 img {
    width: 100%;
    margin-bottom: 7px;
}

#other-store .left {
    margin-bottom: 4%;
}

#other-store p {
    font-size: 1.2rem;
    font-size: 12px;
}

#other-store h2 {
    width: 70%;
}

#other-store h2 img {
    width: 100%;
    height: auto;
}

#other-store .grid_col2 .col {
    width: 100%;
}

#other-store h3 {
    text-align: center;
    font-family: 'yasashisa';
    color: #683b00;
    transform: skew(-1deg, -1deg);
    font-size: 12px;
    font-size: 1.2rem;
}




#bottom_link .col {
    width: 100%;
}

#bottom_link .col {
    width: 100%;
    margin-bottom: 4%;
}

#bottom_link .col:last-of-type {
    width: 100%;
    margin-bottom: 0;
}

#bottom_link .col img {
    width: 100%;
}

#bottom_link .col .photo {
    position: relative;
}

#bottom_link .col .text {
    font-size: 16px;
    font-size: 1.6rem;
    font-weight: bold;
    z-index: 100;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    /* Safari用 */
    transform: translate(-50%, -50%);
    color: #fff;

    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;

}

#bottom_link .col .text.lg {
    left: 51%;
    width: 57%;

}


#bottom_link .col .bg {
    z-index: 99;
    position: absolute;
    height: 100%;
    width: 100%;
    display: block;
    background: rgba(0, 0, 0, 0.4);
    top: 0;
    opacity: 1;
    visibility: visible;
    transition: all 0.5s;
}

#bottom_link .col p {
    font-size: 11px;
    font-size: 1.1rem;
}

#bottom_link .col a:hover .bg {
    opacity: 0;
    visibility: hidden;
}

#bottom_link .col a:hover .text {
    font-size: 18px;
    font-size: 1.8rem;
    font-weight: bold;
    color: #683b00;
    text-shadow:
        #fff 2px 0px 2px, #fff -2px 0px 2px,
        #fff 0px -2px 2px, #fff -2px 0px 2px,
        #fff 2px 2px 2px, #fff -2px 2px 2px,
        #fff 2px -2px 2px, #fff -2px -2px 2px,
        #fff 1px 2px 2px, #fff -1px 2px 2px,
        #fff 1px -2px 2px, #fff -1px -2px 2px,
        #fff 2px 1px 2px, #fff -2px 1px 2px,
        #fff 2px -1px 2px, #fff -2px -1px 2px,
        #fff 1px 1px 2px, #fff -1px 1px 2px,
        #fff 1px -1px 2px, #fff -1px -1px 2px;
}


/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
 --vegas
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
.vegas-pager a {
    background: rgba(255, 255, 255, 0.6);
    text-indent: -9999px;
    display: block;
    width: 8px;
    height: 8px;
    margin: 0 5px;
    outline: 0;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

.vegas-pager-item {
    font-size: 0;
    line-height: 0;
}

.vegas-pager {
    text-align: center;
    font-size: .85em;
    font-family: Arial;
    font-weight: 700;
    color: #666;
    padding-top: 20px;
}


.vegas-pager a.active,
.vegas-pager a:hover {
    background: #fff;
}

.vegas-pager-item {
    display: inline-block;
    vertical-align: bottom;
}

.vegas-pager {
    position: absolute;
    bottom: 10px;
    width: 100%;
}
