@charset "UTF-8";

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
　--page_index
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
#page_index .mainimg {
	background:url(../images/mainimg1.jpg) no-repeat;
	background-size: cover;
	padding-top:50%;
}

#page_index .about_top .photo {
	background-size:cover!important;
	min-height:334px;
}
#page_index .about_top .text p {
	height:100%;
}

#page_index .about_bottom ul li .box {
	margin-right:4%;
	padding: 22px;
}
#page_index .about_bottom ul li:last-of-type .box {
	margin-right:0%;
}
#page_index .about_bottom ul li .box h3 {
	text-align:center;
}
#page_index .ranking ul li img {
  border-radius: 150px;
  height: 300px;
  width: 300px;
  box-shadow:1px 2px 6px #000;
}
#page_index .ranking ul li {
	position: relative;
}
#page_index .ranking ul li:after {
	position: absolute;
	left:0;
	top:0;
}
#page_index .ranking ul li.rank1:after {
	content: url(../images/runking1.png);
}
#page_index .ranking ul li.rank2:after {
	content: url(../images/runking2.png);
}
#page_index .ranking ul li.rank3:after {
	content: url(../images/runking3.png);
}
#page_index .ranking ul li .text {
	text-align: center;
	color:#683b00;
    font-family: 'yasashisa';
	font-weight: bold;
}
#page_index .voice {
	padding:60px 0 80px;
}
#page_index .voice .outer {
	position: relative;
}
#page_index .voice .outer:before {
	content: url(../images/index_ranking_voice.png);
	position: absolute;
    left: 100px;
    top: -45px;
}
#page_index .voice .naname {
	text-align:center;
	transform: rotate(-3deg);
	font-family: 'yasashisa';
}

#page_index .topics dl {
	width: 100%;
    border-bottom: 2px dashed #0b6013;
    padding:20px 0;
}
#page_index .topics dl dt {
	width: 17%;
	float:left;
}
#page_index .topics dl dd {
	width: 83%;
	float:left;
}
#page_index .topics dl dd a {
	text-decoration:underline!important;
}
#page_index .topics dl dt img {
  border-radius: 70px;
  height: 140px;
  width: 140px;
}
#page_index .topics dl dd h3 {
	font-weight: bold;
	padding-bottom:5px;
}
#page_index .topics .linkbtn2 {
	text-align:right;
}

#page_index .access iframe {
	width: 100%;
	height:500px;
}
#page_index .access .left {
	vertical-align: top;
	padding: 14px;
}
#page_index .access .left .text {
	padding:0 20px;
}
#page_index .access .left .text h3 {
	font-size: 24px;
	font-size: 2.4rem;
}

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
 --page_kodawari
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
#page_kodawari .omoi .grid_col2 {
	width: 100%;
}
#page_kodawari .omoi .grid_col2 li:first-of-type img {
	padding-left:3%;
}

#page_kodawari .omoi .text {
	padding:20px;
}
#page_kodawari .omoi .text h3 {
	text-align:center;
}
#page_kodawari .kodawari5 .flexcol .photo {
	display: block;
}
#page_kodawari .kodawari5 .flexcol .text {
	display: block;
	padding:40px 0 40px 0;
}
#page_kodawari .kodawari5 .flexcol .text h3 {
	font-size:24px;
	font-size:2.4rem;
	color:#683b00;
	font-weight: bold;
}
#page_kodawari .kodawari5 .photo_right .photo {
	text-align:right;
}

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
 --page_menu
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
#page_menu .ranking ul li img {
  border-radius: 150px;
  height: 300px;
  width: 300px;
  box-shadow:1px 2px 6px #000;
}
#page_menu .ranking ul li {
	position: relative;
}
#page_menu .ranking ul li:after {
	position: absolute;
	left:0;
	top:0;
}
#page_menu .ranking ul li.rank1:after {
	content: url(../images/runking1.png);
}
#page_menu .ranking ul li.rank2:after {
	content: url(../images/runking2.png);
}
#page_menu .ranking ul li.rank3:after {
	content: url(../images/runking3.png);
}
#page_menu .ranking ul li h3 {
	text-align: center;
	font-size:16px;
	font-size:1.6rem;
	color:#683b00;
    font-family: 'yasashisa';
	font-weight: bold;
}
#page_menu .ranking ul li p {
	margin-top:5px;
	text-align: center;
	font-size:13px;
	font-size:1.3rem;
	color:#683b00;
    font-family: 'yasashisa';
    padding:0 40px;
}

#page_menu .newitem ul li {
	padding:0 20px;
}
#page_menu .newitem ul li .title {
	font-size: 
}

#page_menu .voice1 {
	padding:70px 0 140px;
}
#page_menu .voice1 .outer {
	position: relative;
	width: 100%;
}
#page_menu .voice1 .outer:before {
	content: url(../images/menu_voice1.png);
	position: absolute;
    left: 80px;
    top: -5px;
}
#page_menu .voice1 .text {
	text-align:center;
	font-family: 'yasashisa';
	color:#683b00;
	width: 70%;
	float:left;
    text-align: right;
    padding-right: 50px;
	padding-top:45px;
}
#page_menu .voice1 .box {
	width: 28%;
	padding:15px 15px 35px 15px;
	float:left;
	background: #fff;
	transform: rotate(5deg);
}
#page_menu .voice1 .box p {
	text-align:center;
	font-family: 'yasashisa';
	color:#683b00;
	padding-top:5px;
}

#page_menu .teiban {
	color:#683b00;
	font-family: 'yasashisa';
}
#page_menu .teiban .col {
	padding:0 20px 60px;
}

#page_menu .teiban .title {
	text-align:center;
	padding-top:5px;
}
#page_menu .teiban .text {
	padding-top:5px;
}

#page_menu .voice2 {
	padding:70px 0 80px;
}
#page_menu .voice2 .outer {
	position: relative;
	width: 100%;
}
#page_menu .voice2 .outer:before {
	content: url(../images/menu_voice2.png);
	position: absolute;
    right: 80px;
    top: 15px;
}
#page_menu .voice2 .text {
	text-align:center;
	font-family: 'yasashisa';
	color:#683b00;
	width: 70%;
	float:left;
    text-align: left;
    padding-left: 115px;
    padding-top: 70px;
}
#page_menu .voice2 .box {
	width: 28%;
	padding:15px 15px 35px 15px;
	float:left;
	background: #fff;
	transform: rotate(-5deg);
}
#page_menu .voice2 .box p {
	text-align:center;
	font-family: 'yasashisa';
	color:#683b00;
	padding-top:5px;
}
#page_menu .cafemenu .left {
	padding:0 20px;
}
#page_menu .cafemenu .left .grid_col2 dt {
	padding-left:20px;
}
#page_menu .cafemenu .left dd {
	font-family: 'yasashisa';
	color:#683b00;
}
#page_menu .cafemenu {
	padding:70px 0 90px;
}
#page_menu .cafemenu .outer {
	position: relative;
	width: 100%;
}
#page_menu .cafemenu .outer:before {
	content: url(../images/menu_voice3.png);
	position: absolute;
    right: 0px;
    bottom: 0px;
    z-index: 1;
}
#page_menu .cafemenu .text {
	text-align:center;
	font-family: 'yasashisa';
	color:#683b00;
	width: 100%;
    text-align: left;
    padding-left: 20px;
    padding-top: 70px;
    padding-bottom:72px;

}
#page_menu .cafemenu .box {
	width: 250px;
    padding: 15px 15px 35px 15px;
    background: #fff;
    transform: rotate(5deg);
    margin-left: 30px;
}
#page_menu .cafemenu .box p {
	text-align:center;
	font-family: 'yasashisa';
	color:#683b00;
	padding-top:8px;
    transform: rotate(5deg);
}

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
 --page_shop
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
#page_shop .shokai h3 {
	color:#683b00;
	font-size:26px;
	font-size:2.6rem;
	font-weight: bold;
}

#page_shop .shokai .outer {
	width: 100%;
}
#page_shop .shokai .left {
	width: 55%;
	float:left;
}
#page_shop .shokai .left dl {
	padding:20px 20px 40px;
	background: #fff;
}
#page_shop .shokai .left h4 {
	color:#683b00;
	font-size:24px;
	font-size:2.4rem;
}
#page_shop .shokai .left address {
	color:#683b00;
	line-height: 1.7;
}

#page_shop .shokai .right {
	width: 45%;
	float:left;
}
#page_shop .shokai .right ul li {
	padding:10px 10px 20px 10px;
	background: #fff;
	width: 305px;
}
#page_shop .shokai .right ul li.row1 {
    transform: rotate(-5deg);
    margin-left:40px;
	color:#683b00;
	text-align:center;
}
#page_shop .shokai .right ul li.row2 {
    transform: rotate(5deg);
    margin-left:100px;
	color:#683b00;
	text-align:center;
}
#page_shop .shokai .right ul li p {
	margin-top:5px;
}
#page_shop .access .map {
	width: 100%;
	height:465px;
}
#page_shop .access .map iframe {
	width: 100%;
	height:100%;
}
#page_shop .access {
	color:#683b00;
}
#page_shop .access h3 {
	font-size:24px;
	font-size:2.4rem;
	font-weight: bold;
}
#page_shop .herlkun {
	color:#683b00;
	padding:100px 0 150px;
}
#page_shop .herlkun h3 {
	font-size:24px;
	font-size:2.4rem;
	font-weight: bold;

}
/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
 --other-store
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
#other-store .grid_col2 img {
	width: 100%;
}
#other-store .left {
	margin-right:4%;
}
#other-store .grid_col2 .col {
	width: 48%;
}
#other-store h3 {
	text-align:center;
	font-family: 'yasashisa';
	color:#683b00;
	transform:skew(-1deg,-1deg);
	font-size: 14px;
	font-size: 1.4rem;
}
