@charset "utf-8";

@import "base/_config";
@import "base/_mixin";
@import url(//fonts.googleapis.com/earlyaccess/notosansjapanese.css);



/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
　PC・SP共通設定
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

html,
body {
    width: 100%;
    background: $bg_body;
}

html {
    font-size: 62.5%;
}

body {
    background: $bg_body;
    text-align: center;
    color: $color_text;
    font-family: $font_family;
    -webkit-text-size-adjust: 100%;
}


/* link */
a {
    color: $color_link;
    text-decoration: none;
    outline: none;
    @include vender(transition, all 0.3s ease);
}


a:link {
    color: $color_link;
}

a:visited {
    color: $color_link;
}

a:hover {
    color: $color_link;
    @include vender(transition, all 0.3s ease);
}


ul.indent{
    text-indent: -1em;
    padding-left: 1em;
}

@font-face {
  font-family: "yasashisa";
  src: url("yasashisa.eot?")  format('eot'),
       url("yasashisa.woff")  format('woff');
}

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
　--pc
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

/**************************
　--common(pc)
++++++++++++++++++++++++++*/
body{
    line-height: 1.6;
    @include size(16);

}

/**************************
　--header(pc)
++++++++++++++++++++++++++*/
header {
    position: relative;
    z-index: 999;
}


/**************************
　--contents(pc)
++++++++++++++++++++++++++*/
#contents {
   width: 100%;
   overflow-x: hidden;
}
.wrapper {
    width: $width_wrapper;
    margin: 0px auto;
    text-align: left;
    padding: 0;
}


/**************************
　--footer(pc)
++++++++++++++++++++++++++*/
footer {
}


footer .copy {
    @include size(11);
    text-align: center;
}

#page-top a {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 10000;
    text-align: center;
    text-decoration: none;
    color: #fff;
    padding: 0% 0;
    @include sp_only() {
        width: 15%;
    bottom: 15px;
    right: 15px;        
    }
}





/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
　--sp
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

/**************************
　--header(sp)
++++++++++++++++++++++++++*/
header .spmenu {
    z-index: 999999;
    width: 100%;
    height: 52px;
    top: 0;
    @include display(block, none, none);
    position: fixed;
    background:#e2004e;
}
header .spmenu h2 {
    text-align:left;
    padding: 6px 0 0 10px;
}
header .spmenu h2 img {
    width: 52px;
}

header .spmenu .twitter {
    position: fixed;
    top: 12px;
    right: 60px;
}
header .spmenu .twitter img {
    width:31px;
}
header .spmenu .drawer-hamburger {
    width: 2.6rem;
    padding: 16px 3% 8%;
    position: fixed;
    z-index: 99999;
}
header .spmenu .drawer-brand {
    max-width: 200px;
    margin-left: -15px;
}
header .spmenu .drawer-brand img {
      width: 84%;
      height: auto;
        margin-top: 7px;
}


header .spmenu .drawer-menu-item {
    border-bottom: 1px solid #fff;
    text-align: left;
    padding: 3% 8% 3% 4%;
    background: #e2004e;
    color:#fff;
    position: relative;
    font-size: 15px;
    font-size: 1.5rem;
}
header .spmenu .color .drawer-menu-item {
    color:#000;
    border-bottom: 1px solid #fff;
    background:#fff;
}

header .spmenu li #acMenu dt {
  border-bottom: 1px solid #fff;
  text-align: left;
  padding: 3% 4%;
  font-size: 15px;
  font-size: 1.5rem;
  background:#595555;
  color:#fff;
}

header .spmenu li #acMenu dd {
  background: #ffffff;
  text-align: center;
  display: none;
  margin: 0px;
  padding: 0px;
}

header .spmenu li #acMenu .accordion_icon, .accordion_icon span {
  display: inline-block;
  transition: all .4s;
  box-sizing: border-box;
}

header .spmenu li #acMenu .accordion_icon {
  position: relative;
  width: 20px;
  height: 20px;
  float: right;
    margin-right: -5px;
    top: 7px;
  margin-bottom: 0px !important;
}

header .spmenu li #acMenu .accordion_icon span {
  position: absolute;
  left: 6px;
  width: 50%;
  height: 1px;
  background-color: #fff;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -ms-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
}

header .spmenu li #acMenu .accordion_icon span:nth-of-type(1) {
  top: 5px;
  transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
}

header .spmenu li #acMenu .accordion_icon span:nth-of-type(2) {
  top: 5px;
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
}

/*＋、－切り替え*/
header .spmenu li #acMenu .accordion_icon.active span:nth-of-type(2) {
  display: none;
}

#acMenu .accordion_icon.active span:nth-of-type(1) {
  top: 5px;
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}

header .spmenu .inner{
  background-repeat: no-repeat;
  width:100%;
  height:1000px;
}


header .spmenu .drawer-menu-item:after {
  position: absolute;
  top: 50%;
  right: 4%;
  display: block;
  content: "";
  width: 6px;
  height: 6px;
  margin-top: -3px;
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
header .spmenu .color .drawer-menu-item:after {
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
}
header .spmenu .drawer-menu-item:hover {
  color: #ffe000;
  text-decoration: none;
}
header .spmenu .drawer-nav {
    background-color: rgba(0,0,0,0.4)!important;
}
.drawer-hamburger-icon, .drawer-hamburger-icon:after, .drawer-hamburger-icon:before {
    background-color: #fff!important;
}
.drawer-open .drawer-hamburger-icon{
    background-color: #e2004e!important;
}
.drawermenu .inner {
    border-top: none!important;
}
/**************************
　--footer(sp)
++++++++++++++++++++++++++*/