@charset "UTF-8";
/* padding */
.pt_s {
  padding-top: 2%;
}
.pt {
  padding-top: 4%;
}
.pt_l {
  padding-top: 6%;
}
.pb_s {
  padding-bottom: 2%;
}
.pb {
  padding-bottom: 4%;
}
.pb_l {
  padding-bottom: 6%;
}

/* margin */
.mt_s {
  margin-top: 2%;
}
.mt {
  margin-top: 4%;
}
.mt_l {
  margin-top: 6%;
}
.mb_s {
  margin-bottom: 2%;
}
.mb {
  margin-bottom: 4%;
}
.mb_l {
  margin-bottom: 6%;
}

/* font-size */
.fsize_xl {
    font-size: 18px;
    font-size: 1.8rem;
}

.fsize_l {
    font-size: 16px;
    font-size: 1.6rem;
}

.fsize {
    font-size: 14px;
    font-size: 1.4rem;
}

.fsize_s {
    font-size: 12px;
    font-size: 1.2rem;
}

.fsize_xs {
    font-size: 10px;
    font-size: 1.0rem;
}

/* テキスト用BOX pタグの下に改行が入る。 */
div.textbox p {
  margin-bottom: 1em;
}
div.textbox p:last-child {
  margin-bottom: 0;
}

/********************************************************************************
　--common
*********************************************************************************/
/* --headline
************************************/


/* 　　--table
************************************/
.linkbtn1 {
  text-align:center;
}
.linkbtn1 a {
  position: relative;
  border: 1px solid #a4ab24;
  display: inline-block;
  color: #fff !important;
  font-weight: bold;
  font-size:13px;
  font-size:1.3rem;
  background: #a4ab24;
  width: 78%;
  padding: 8px 0;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border-radius: 5px;
  -webkit-border-radius: 5px;/* for Safari and Chrome 対応*/
  -moz-border-radius: 5px;/* for Firefox 対応*/
}
.linkbtn1 a:after {
    content: '';
    position: absolute;
    right: 7px;
    top: 15px;
    width: 6px;
    height: 6px;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.linkbtn1 a:hover {
  background: #fff;
  color: #a4ab24 !important;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}


/* --headline
************************************/
.headline1 {
  /*font-family: "Hannari", "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;*/
  font-weight: bold;
  font-size:22px;
  font-size:2.2rem;
  text-align:left;
  line-height: 1.4;
}
.headline1 span.green {
  color:#0a6600;
}
.headline2 {
  /*font-family: "Hannari", "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;*/
  font-weight: bold;
  font-size:18px;
  font-size:1.8rem;
  line-height: 1.4;

}
.headline3 {
  color:#fff;
  font-size: 16px;
  font-size:1.6rem;
  display: flex;
  align-items: center;
  margin: 0px auto;
}
.headline3:before, .headline3:after {
  content: "";
  flex-grow: 1;
  height: 1px;
  background: #fff;
  display: block;
}
.headline3:before {
  margin-right: 0.5em;
}
.headline3:after {
  margin-left: 0.5em;
}

.headline4 {
    /*font-family: "Hannari", "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;*/
    font-weight: bold;
    font-size: 18px;
    font-size: 1.8rem;
    line-height: 1.4;
    padding-left: 25px;
    padding-bottom: 4px;
    line-height: 1;
    position: relative;
}
.headline4:before {
    background: #2a4971;
    content: "";
    height: 21px;
    width: 15px;
    left: 0;
    position: absolute;
    top: 0px;
}

.headline5 {
    /*font-family: "Hannari", "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;*/
    font-weight: bold;
    font-size: 18px;
    font-size: 1.8rem;
    line-height: 1.5;
    padding-left: 6%;
    padding-bottom: 8px;
    position: relative;
}
.headline5:before {
    background: #2a4971;
    content: "";
    height: 21px;
    width: 15px;
    left: 0;
    position: absolute;
    top: 6px;
    left:0px;
}
.headline5.underline {
    border-bottom: 1px solid #264b7f;
}
/* --bg_color
************************************/
.bg_white {
  background: #fff;
}
.bg_gray1 {
  background: #dadada;
}
.bg_gray2 {
  background: #eae3da;
}
.bg_orange {
  background: #f99830;
}
.bg_blue1 {
  background: #2a4971;
}
.bg_blue2 {
  background: #306698;
}


/* --table
************************************/
table.style1,
#mfp_confirm_table
{
  margin:0 0px 20px;
  font-size:13px;
  font-size:1.3rem;
  width:100%;
    background:#fff;
color: #fff;
}
table.style1 th,
#mfp_confirm_table th
{
text-align:left;
  display: block;
    background:#2a4971;
  padding:2% 4%;
    width:100%;
}
table.style1 th em{
    float: left;
    background: #ac0019;
    color: #fff;
    font-size: 11px;
    padding: 2px 5px;
    margin-right: 9px;
    margin-top: 0px;
}
table.style1 td,
#mfp_confirm_table td
{
  color:#000;
background: #fff;
    padding: 9px 12px 9px;
    width: 100%;
    display: block;
}
form input[type="text"], input[type="mail"], select {
padding: 3px 10px;
    font-size: 15px;
    font-size: 1.5rem;
    /* margin: 4px 0; */
    width: 100%!important;
    border: 1px solid #a7a7a7;
}
textarea {
    padding: 7px 10px;
    font-size: 15px;
    font-size: 1.5rem;
    margin: 4px 0;
    width: 100%!important;
    border: 1px solid #a7a7a7;
}

.mfp_err {
  color:#ac0019!important;
}
#mfp_phase_confirm_inner {
  color: #000;
  font-size:13px;
  font-size:1.3rem;
}
#mfp_phase_confirm_inner table {
  margin-bottom:4%;
}
#mfp_phase_confirm_inner .mfp_buttons {
  margin-bottom:4%;
}

/* --link
************************************/
.link_red {
  color: #c73c25 !important; }

.link_red:hover {
  text-decoration: underline; }

.link_blue {
  color: #2687a8 !important; }

.link_blue:hover {
  text-decoration: underline; }

/* --font_color
************************************/
.font_red {
  color: #c73c25 !important; }

.font_blue {
  color: #2687a8 !important; }

/* --img_center
************************************/
.img_center {
  display: block;
  text-align: center;
  margin: 0 auto;
}
/* --sml
************************************/
/* --new
************************************/
.new:after {
  content: "new";
  margin-left: 5px;
  color: #fff;
  background: #c73c25;
  padding: 1px 3px;
  font-size: 12px; }





.polygon-inner {
    position: relative;
    z-index: 1;
}
.polygon-section {
    position: absolute;
    right: 0;
    left: 0;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}
.polygon-section.naname {
    height:120px;
}
.polygon-section.naname_s {
    height:160px;
}

.polygon-section.polygon-top-left {
    -webkit-clip-path: polygon(0 0, 0 100%, 100% 0);
    -moz-clip-path: polygon(0 0, 0 100%, 100% 0);
    -o-clip-path: polygon(0 0, 0 100%, 100% 0);
    clip-path: polygon(0 0, 0 100%, 100% 0);
    top: -1px;
}
.polygon-section.polygon-top-right {
    -webkit-clip-path: polygon(0 0, 100% 60%, 100% 0);
    -moz-clip-path: polygon(0 0, 0 100% 60%, 100% 0);
    -o-clip-path: polygon(0 0, 0 100% 60%, 100% 0);
    clip-path: polygon(0 0, 0 100% 60%, 100% 0);
    top: -1px;
}
.polygon-section.polygon-bottom-left {
    -webkit-clip-path: polygon(0 60%, 100% 100%, 0 100%);
    -moz-clip-path: polygon(0 60%, 0 100% 100%,  0 100%);
    -o-clip-path: polygon(0 60%, 0 100% 100%,  0 100%);
    clip-path: polygon(0 60%, 0 100% 100%,  0 100%);
    bottom: -1px;
}
.polygon-section.polygon-bottom-right {
    -webkit-clip-path: polygon(100% 60%, 0% 100%, 100% 100%);
    -moz-clip-path: polygon(100% 60%, 0% 100%, 100% 100%);
    -o-clip-path: polygon(100% 60%, 0% 100%, 100% 100%);
    clip-path: polygon(100% 60%, 0% 100%, 100% 100%);
    bottom: -1px;


}



.polygon-section.green {
    background-color: #d8dd7a;
}
.polygon-section.blue {
    background-color: #2a4971;
}
.polygon-section.white {
    background-color: #fff;
}
