@charset "UTF-8";
@import url(//fonts.googleapis.com/earlyaccess/notosansjapanese.css);
@import url(https://fonts.googleapis.com/earlyaccess/hannari.css);

@font-face {
    font-family: 'yasashisa';
    src: url('../../font/yasashisa.eot') format('eot'),
        url('../../font/yasashisa.ttf') format('ttf'),
        url('../../font/yasashisa.woff') format('woff');
}

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
　PC・SP共通設定
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
html,
body {
    width: 100%;
    background: #fff;
}

html {
    font-size: 62.5%;
}

body {
    background: #fff;
    text-align: center;
    color: #000;
    font-family: "Noto Sans Japanese", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Verdana, "ＭＳ ゴシック", Osaka-mono, sans-serif;
    -webkit-text-size-adjust: 100%;
}

/* link */
a {
    color: #000;
    text-decoration: none;
    outline: none;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.sp {
    display: block;
}

.pc {
    display: none;
}

#pan {
    display: none;
}

a:link {
    color: #000;
}

a:visited {
    color: #000;
}

a:hover {
    color: #000;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

ul.indent {
    text-indent: -1em;
    padding-left: 1em;
}

@font-face {
    font-family: "yasashisa";
    src: url("yasashisa.eot?") format("eot"), url("yasashisa.woff") format("woff");
}

.font_hannari {
    /*font-family: "Hannari", "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;*/
}

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
　--pc
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/**************************
　--common(pc)
++++++++++++++++++++++++++*/
body {
    line-height: 1.4;
    font-size: 14px;
    font-size: 1.4rem;
}

/**************************
　--header(pc)
++++++++++++++++++++++++++*/
header {
    position: relative;
    z-index: 999;
    width: 100%;
    background: #d8dd7a;
    z-index: 10000;

}

#page_kodawari header,
#page_menu header,
#page_shop header,
#page_contact header,
#page_category header,
#page_single header {
    position: fixed;
}

header h2 {
    position: absolute;
    left: 2px;
    top: 2px;
}

header h2 span {
    display: block;
    float: right;
    padding-top: 12px;
    padding-left: 7px;
    font-weight: bold;
}

header .pcmenu {
    display: none;
}

/**************************
　--contents(pc)
++++++++++++++++++++++++++*/
#contents {
    width: 100%;
    overflow-x: hidden;
    background-attachment: fixed;
}

.wrapper {
    width: 92%;
    margin: 0px auto;
    text-align: left;
    padding: 0;
}

/**************************
　--footer(pc)
++++++++++++++++++++++++++*/
footer {
    color: #fff;
}


footer address {
    line-height: 1.4;
    padding-bottom: 4%;
}

footer address a {
    color: #fff !important;
    text-decoration: underline;
}

footer address p {
    padding-bottom: 10px;
    font-size: 13px;
    font-size: 1.3rem;
    letter-spacing: 1px;
}

footer address span.small {
    font-size: 11px;
    font-size: 1.1rem;
}

footer address dl {
    width: 100%;
    padding-bottom: 10px;
    font-size: 13px;
    font-size: 1.3rem;
    letter-spacing: 1px;

}

footer address dl dt {
    width: 6em;
    float: left;
}

footer address dl dd {
    overflow: hidden;
}


footer .outer .left {
    width: 55px;
}

footer ol li {
    width: 100% !important;
}

footer ol li:first-of-type {
    margin-bottom: 4%;
}

footer ol li p {
    font-size: 12px;
    font-size: 1.2rem;
    color: #fff;
    padding-top: 5px;
    padding-right: 10px;
}

footer address dl dd a {
    text-decoration: none;
}



/**************************
　--footer(pc)
++++++++++++++++++++++++++*/
footer {
    /*padding-top:4%;*/
}

footer .grid_col2 {
    padding-bottom: 2%;

}

footer .fotter-bottom {
    padding-top: 10%;
    background: #042847;
}

footer nav ul {
    background: rgba(255, 255, 255, 0.95);
    margin: 0 0% 0%;
}

footer nav ul li {
    padding: 0% 0%;
    width: 100%;
}

footer nav ul li a {
    text-align: left;
    text-decoration: none;
    display: block;
    border-bottom: 1px solid #aaa;
    padding: 2% 4%;
    position: relative;
    font-size: 14px;
    font-size: 1.4rem;
}

footer nav ul li a::after {
    position: absolute;
    top: 50%;
    right: 4%;
    display: block;
    content: "";
    width: 6px;
    height: 6px;
    margin-top: -3px;
    border-top: 1px solid #aaa;
    border-right: 1px solid #aaa;
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

footer .grid_col2.ptn2 .col h3 {
    font-size: 14px;
    font-size: 1.4rem;
}

footer .copy {
    font-size: 11px;
    font-size: 1.1rem;
    text-align: center;
    padding: 4% 0;
    color: #fff;
}

#page-top a {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 10000;
    text-align: center;
    text-decoration: none;
    color: #fff;
    padding: 0% 0;
}

@media (max-width: 767px) {
    #page-top a {
        width: 15%;
        bottom: 15px;
        right: 15px;
    }
}


footer .copy {
    font-size: 11px;
    font-size: 1.1rem;
    text-align: center;
    padding-bottom: 15px;
    color: #fff;
}

#page_top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 10000;
    text-align: center;
    text-decoration: none;
    color: #fff;
    padding: 0% 0;
}

#page_top img {
    width: 60px;
    height: auto;
}

footer nav ul.comp li a:after {
    content: none;
}

footer nav ul.comp {
    background: transparent;
    margin: 8% 0 2%;
}

footer nav ul li.text {
    background: transparent;
    text-align: left;
    display: inline;
}

footer nav ul.comp li a {
    text-decoration: underline;
    padding: 0;
    text-align: center;
    border-bottom: none;
    width: 100%;
    display: block;
    float: left;
}

footer nav ul li.text a {
    background: transparent;
    display: inline;
    font-size: 11px;
    font-size: 1.1rem;
    color: #fff;
}

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
　--sp
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/**************************
　--header(sp)
++++++++++++++++++++++++++*/
header .spmenu {
    z-index: 999999;
    width: 100%;
    height: 48px;
    /* margin-top: 5px; */
    top: 0;
    display: block;
    position: fixed;
    background: #d8dd7a;


}

@media screen and (min-width: 768px) {
    header .spmenu {
        display: none;
    }
}

@media screen and (min-width: 1000px) {
    header .spmenu {
        display: none;
    }
}

header .spmenu h2 {
    text-align: left;
    padding: 2px 0 0 10px;
}

header .spmenu h2 img {
    width: 46px;
}

header .spmenu .twitter {
    position: fixed;
    top: 12px;
    right: 60px;
}

header .spmenu .twitter img {
    width: 31px;
}

header .spmenu .drawer-hamburger {
    width: 2.6rem;
    padding: 8px 3% 8%;
    position: fixed;
    z-index: 99999;
}

header .spmenu .drawer-brand {
    max-width: 200px;
    margin-left: -15px;
}

header .spmenu .drawer-brand img {
    width: 84%;
    height: auto;
    margin-top: 7px;
}

header .spmenu .top {
    background: #dadada;
    padding: 5px 0;
}

header .spmenu .top .lang {
    float: left;
    padding-top: 2px;
}

header .spmenu .top a.facebook {
    margin-left: 5px;
}

header .spmenu .top a {
    float: left;
    margin-right: 5px;
}

header .spmenu .drawer-menu-item {
    border-bottom: 1px solid #fff;
    background: #306698;
    text-align: left;
    padding: 3% 8% 3% 4%;
    color: #fff;
    position: relative;
    font-size: 15px;
    font-size: 1.5rem;
}

header .spmenu .color .drawer-menu-item {
    color: #424242;
    border-bottom: 1px solid #fff;
    background: #fff;
}

.drawer-close .drawer-hamburger-icon:before {
    top: -7px !important;
}

.drawer-close .drawer-hamburger-icon:after {
    top: 7px !important;
}

header .spmenu .menu-icon {
    margin-top: 10px;
    display: block;
}

header .spmenu li #acMenu dt {
    border-bottom: 1px solid #fff;
    text-align: left;
    padding: 3% 4%;
    font-size: 15px;
    font-size: 1.5rem;
    background: #424242;
    color: #fff;
}

header .spmenu li #acMenu dd {
    background: #424242;
    text-align: center;
    display: none;
    margin: 0px;
    padding: 0px;
}

header .spmenu li #acMenu .accordion_icon,
.accordion_icon span {
    display: inline-block;
    transition: all .4s;
    box-sizing: border-box;
}

header .spmenu li #acMenu .accordion_icon {
    position: relative;
    width: 20px;
    height: 20px;
    float: right;
    margin-right: -5px;
    top: 7px;
    margin-bottom: 0px !important;
}

header .spmenu li #acMenu .accordion_icon span {
    position: absolute;
    left: 6px;
    width: 50%;
    height: 1px;
    background-color: #424242;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -ms-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
}

header .spmenu li #acMenu .accordion_icon span:nth-of-type(1) {
    top: 5px;
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
}

header .spmenu li #acMenu .accordion_icon span:nth-of-type(2) {
    top: 5px;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
}

/*＋、－切り替え*/
header .spmenu li #acMenu .accordion_icon.active span:nth-of-type(2) {
    display: none;
}

#acMenu .accordion_icon.active span:nth-of-type(1) {
    top: 5px;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}

header .spmenu .inner {
    background-repeat: no-repeat;
    width: 100%;
    height: 1000px;
}

header .spmenu .drawer-menu-item:after {
    position: absolute;
    top: 50%;
    right: 4%;
    display: block;
    content: "";
    width: 6px;
    height: 6px;
    margin-top: -3px;
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

header .spmenu .color .drawer-menu-item:after {
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
}

header .spmenu .drawer-nav {
    background-color: #2a4971;
     !important;

}

.drawermenu .inner {
    border-top: none !important;

}


header .spmenu .text .drawer-menu-item {
    text-decoration: underline;
}

header .spmenu .text .drawer-menu-item {
    text-align: left;
    padding: 1.5% 8% 1.5% 4%;
    background: transparent;
    color: #fff;
    font-size: 13px;
    font-size: 1.3rem;
    border-bottom: none;
}


header .spmenu .text .drawer-menu-item:after {
    content: none;
}



header .spmenu .store_info {
    background: #fff;
    width: 92%;
    margin: 12% auto 0;
    padding: 2%;
    text-align: left;
}

header .spmenu .store_info h3 {
    font-size: 12px;
    font-size: 1.2rem;
    padding-top: 2%;
    font-weight: bold;
}

header .spmenu .store_info p {
    font-size: 11px;
    font-size: 1.1rem;
}

header .spmenu-outer {
    position: relative;
}

header .spmenu-outer .text {
    top: 15px;
    font-weight: bold;
    position: relative;
}

/**************************
　--footer(sp)
++++++++++++++++++++++++++*/

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
　--pagetitle
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
#pagetitle {
    margin-top: 48px;
}

#pagetitle .photo .bg h2 {
    padding-top: 35px;
    font-size: 24px;
    color: #fff;
    font-weight: 900;

}

#pagetitle .photo .bg h2 .underline {
    display: block;
    height: 1px;
    border: none;
    width: 40px;
    border-top: 2px #fff solid;
    text-align: center;
    border-radius: 5px;
    margin: 10px auto;
}

#pagetitle .photo {
    background-size: cover !important;
    height: 120px;
}

#pagetitle .photo .bg {
    background: rgba(0, 0, 0, 0.45);
    height: 100%;
}

#pagetitle .photo.topics {
    background: url(../../images/pagetitle_topics.jpg) no-repeat;
    background-size: cover;
}


/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
　--grid
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
.grid_col2 {
    width: 100%;
}

.grid_col2.ptn1 .col {
    width: 100%;
    display: block;
}

.grid_col2.ptn2 .col {
    width: 100%;
    display: block;
}

.grid_col3 {
    width: 100%;
}

.grid_col3 .col {
    /*  width: 50%;
  float:left;*/
}

.grid_col4 {
    width: 100%;
}

.grid_col4 .col {
    width: 50%;
    float: left;
}

.tablecol {
    display: block;
    width: 100%;
}

.tablecol.col2 .col {
    display: block;
    width: 100%;
}

.tablecol.col3 .col {
    display: block;
    width: 100%;
}

.tablecol.col4 .col {
    display: block;
    width: 100%;
}

.tablecol.col5 .col {
    display: block;
    width: 100%;
}

.flexcol {
    width: 100%;
}

.flexcol .photo {
    width: 100%;
    display: block;
}

.flexcol .text {
    width: 100%;
    display: block;
    padding: 4%;
    line-height: 2;
}


#page_top {
    position: fixed;
    bottom: 2%;
    right: 2%;
    z-index: 20;
    width: 50px;
    height: 50px;
}
}

#footer_soudan {
    display: none;
}
