@charset "UTF-8";

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
　--page_index
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
#page_index .mainimg {
    background-size: cover;
    padding-top: 280px;
    margin-top: 48px;
}

#page_index .about h2 {
	text-align:center;
	color:#fff;
}

#page_index .about p {
	color:#fff;
	text-align:left;
	line-height:1.6;
}

#page_index .about_photo {
	background:url(../../images/index_about.jpg) no-repeat center center;
	background-size: cover;
	height:250px;
    position: relative;
}

#page_index .kodawari {
	padding:10% 0;
}

#page_index  .kodawari .wrapper {
	padding-bottom:0;
}
#page_index .kodawari h3 {
	text-align:center;
}
#page_index .kodawari h4{
	margin-bottom:1%;
}
#page_index .kodawari p {
	text-align:left;

}
#page_index .kodawari p.linkbtn1 {
	text-align:center;

}

#page_index .kodawari p.font_hannari{
	font-weight:bold;
}
#page_index .kodawari a {
	text-align:center;
}

#page_index .kodawari .text {
	display: block;

}

#page_index  .kodawari .photo  {
	height:205px;
	z-index: 9999;
	background-size:100% auto !important;
}
#page_index  .kodawari .photo_left .photo  {
	-webkit-clip-path: polygon(100% 15%, 100% 80%, 0 100%, 0 0);
	clip-path: polygon(100% 15%, 100% 80%, 0 100%, 0 0);
}

#page_index  .kodawari .photo_right .photo  {
-webkit-clip-path: polygon(100% 0, 0 15%, 0 80%, 100% 100%);
clip-path: polygon(100% 0, 0 15%, 0 80%, 100% 100%);

}
#page_index  .kodawari .photo_left {
	/*margin-top:-40px;*/
}

#page_index  .kodawari .content_up {
	/*margin-top:-140px;*/

}
#page_index  .kodawari .text p {
	text-align:left!important;
}
#page_index  .kodawari .text h4 {
	text-align: center!important;
}
#page_index .soba {
	position: relative;
}

#page_index .soba .naname-top {
    height:60px;
}

#page_index .soba .naname-bottom {
    height:100px;
}

#page_index .soba .outer {
	padding:14% 0 8%;
	background:url(../../images/index_soba_bg.png) no-repeat center center;
	background-size: cover;
}
#page_index .soba .box-top {
	height:8%;
}
#page_index .soba .box-bottom {
	height:8%;
}
#page_index .soba .title h3 {
	text-align:center;
}
#page_index .soba .title p {
	text-align:center;
	font-weight:bold;
 	/*font-family: "Hannari", "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;*/
}


#page_index .soba .box_ptn1 {
	background:#306698;
	color:#fff;
	border-top:23px solid #2a4971;
	border-bottom:23px solid #2a4971;
}
#page_index .soba .box_ptn1 h4{
	font-size: 18px;
	font-size:1.8rem;
	text-align:center;
}
#page_index .soba ul li {
	padding:4%;
	width: 100%;
}
#page_index .soba ul li img {
	margin:0 auto;
}
#page_index .soba ul li:first-of-type {
	margin-bottom:10%;
}

#page_index .net_store {
	width:92%;
	padding-top:8%;
	padding-bottom:0;
	margin: 0 auto;
}
#page_index .net_store a img {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#page_index .store .title {
	text-align: center;
}
#page_index .map iframe {
	width: 100%;
	height:200px;
vertical-align:bottom;
}
#page_index .news {
	padding:8% 0 12%;
}
#page_index .news h3 {
	color:#fff;
	padding-bottom:4%;
	text-align:center;
}
#page_index .news dl {
	padding-bottom:2%;
	padding-top:2%;
	border-bottom:1px solid #fff;
}
#page_index .news dl dt {
	color:#fff;
	width: 100%;
	font-size:11px;
	font-size:1.1rem;
}
#page_index .news dl dd {
	color:#fff;
	width: 100%;
	font-size:14px;
	font-size:1.4rem;
}
#page_index  .store_photo {
	background:url(../../images/index_store_photo.jpg) no-repeat center center;
	background-size: cover;
	height:150px;
}
#page_index .store .title p {
	font-weight:bold;
 	/*font-family: "Hannari", "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;*/
}

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
 --page_kodawari
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
#page_kodawari .kodawari_top {
	padding-bottom:0;
}
#page_kodawari .kodawari_top .bottom h3 {
	text-align:center;
}
#page_kodawari .kodawari_top .bottom p {
	text-align:left;
	line-height:1.8;
}
#page_kodawari .kodawari_bottom {
	padding-bottom:0;
	margin-bottom:0;
}
#page_kodawari .kodawari_bottom .photo {
    height: 180px;
    z-index: 9999;
    background-position: center!important;
	background-size:100% auto !important;
}

#page_kodawari .kodawari_bottom .text {
	display: block;
	line-height:1.8;
}
#page_kodawari .kodawari_bottom .text h4{
	text-align:center
}

#page_kodawari .kodawari_top .bottom h3 br {
	display: none;
}
#page_kodawari .kodawari_bottom .text h4 br {
	display: none;
}

@media (max-width: 321px) {
	#page_kodawari .kodawari_top .bottom h3 br {
		display: block;
	}
	#page_kodawari .kodawari_bottom .text h4 br {
		display: block;
	}
}
#page_kodawari .kodawari_bottom .row1 .photo  {
-webkit-clip-path: polygon(100% 0, 0 15%, 0 85%, 100% 100%);
clip-path: polygon(100% 0, 0 15%, 0 85%, 100% 100%);
}
#page_kodawari .kodawari_bottom .row2 .photo  {
	-webkit-clip-path: polygon(0 0, 100% 15%, 100% 85%, 0 100%);
	clip-path: polygon(0 0, 100% 15%, 100% 85%, 0 100%);
}
#page_kodawari .kodawari_bottom .row3 .photo  {
-webkit-clip-path: polygon(100% 0, 0 15%, 0 85%, 100% 100%);
clip-path: polygon(100% 0, 0 15%, 0 85%, 100% 100%);
}
#page_kodawari .kodawari_bottom .row4 .photo  {
	-webkit-clip-path: polygon(0 0, 100% 15%, 100% 85%, 0 100%);
	clip-path: polygon(0 0, 100% 15%, 100% 85%, 0 100%);
}
#page_kodawari .kodawari_bottom .row5 .photo  {
-webkit-clip-path: polygon(100% 0, 0 15%, 0 85%, 100% 100%);
clip-path: polygon(100% 0, 0 15%, 0 85%, 100% 100%);
}

#page_kodawari .net_store {
	width:92%;
	margin: 0 auto;
	padding-bottom:0%;
}
/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
 --page_menu
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
#page_menu .menu .grid_col2 .left {
	padding-bottom:4%;
}
#page_menu .soba .grid_col2 .right {
	text-align:right;
}
#page_menu .grid_col2 .right a img {
  width: 100%;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#page_menu .grid_col2 .right a:hover img {
	opacity: 0.8;
}

#page_menu .soba .title h3 {
	text-align:center;
}
#page_menu .soba .title p {
	text-align:center;
	font-weight:bold;
 	/*font-family: "Hannari", "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;*/

}

#page_menu .soba .box_ptn1 {
	background:#306698;
	color:#fff;
	border-top:23px solid #2a4971;
	border-bottom:23px solid #2a4971;
}
#page_menu .soba .box_ptn1 h4{
	font-size: 18px;
	font-size:1.8rem;
	text-align:center;
}
#page_menu .soba ul li {
	padding:4%;
	width: 100%;
}
#page_menu .soba ul li img {
	margin:0 auto;
}
#page_menu .soba ul li:first-of-type {
	margin-bottom:4%;
}

#page_menu .hiyashi_soba .menu_ptn1 .left {
	width: 100%;
} 
#page_menu .hiyashi_soba .menu_ptn1 .left img {
	width: 100%;
	height: 200px;
	object-fit: cover; /* この一行を追加するだけ！ */
}
#page_menu .hiyashi_soba .menu_ptn1 .right {
	width: 100%;
} 

#page_menu .hiyashi_soba .menu_ptn1 .right table {
	width: 100%;
}
#page_menu .hiyashi_soba .menu_ptn1 .right table .item{
	position: relative;
	font-size:14px;
	font-size:1.4rem;
	font-weight: bold;
}
#page_menu .hiyashi_soba .menu_ptn1 .right table .item:before{
	content: "";
	border-left:5px solid #232323;
	margin-right:10px;
	width: 50%;
}
#page_menu .hiyashi_soba .menu_ptn1 .right table .you {
	text-align:center;
	font-size:14px;
	font-size:1.4rem;
	font-weight: bold;
}
#page_menu .hiyashi_soba .menu_ptn1 .right table .waki {
	text-align:center;
	font-size:14px;
	font-size:1.4rem;
	font-weight: bold;
}
#page_menu .hiyashi_soba .menu_ptn1 .right table .text {
	font-size:12px;
	padding-bottom:4%;
	padding-left:2%;
	padding-top:2px;
}
#page_menu .hiyashi_soba .menu_ptn1 .right table th {
	padding-bottom:20px;
}
#page_menu .hiyashi_soba .menu_ptn1 .right .oomori {
	text-align: right;
	font-size:12px;
	font-size:1.3rem;
}

#page_menu .hiyashi_soba .menu_ptn2 .right {
	margin-top:0%;
}

#page_menu .hiyashi_soba .menu_ptn2 .tab1 {
	margin-bottom:4%;
}

#page_menu .hiyashi_soba .menu_ptn2 table {
	width: 100%;
}
#page_menu .hiyashi_soba .menu_ptn2 table .item{
	position: relative;
	font-size:14px;
	font-size:1.4rem;
	font-weight: bold;
	width: 70%;
}
#page_menu .hiyashi_soba .menu_ptn2 table .item:before{
	content: "";
	border-left:5px solid #232323;
	margin-right:10px;
}
#page_menu .hiyashi_soba .menu_ptn2 table .en {
	text-align:center;
	font-size:14px;
	font-size:1.4rem;
	font-weight: bold;
	width: 30%;
}
#page_menu .hiyashi_soba .menu_ptn2 table .text {
	font-size:12px;
	padding-bottom:4%;
	padding-left:65px;
	padding-top:2px;
}

#page_menu .hiyashi_soba .grid_col2 img {
	padding-left:30px;
}
#page_menu .hiyashi_soba .grid_col2 p {
	padding-left:30px;
	font-size:13px;
	font-size:1.3rem;
}
#page_menu .hiyashi_soba .linkbtn {
	text-align:right;
}
#page_menu .hiyashi_soba .linkbtn a img {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  width: 100%;
}
#page_menu .hiyashi_soba .linkbtn a:hover img {
	opacity: 0.8;
}
#page_menu section.kome ul li {
	line-height: 1.7;
padding-left:1em;
text-indent:-1em;
margin-bottom:2%;
}
#page_menu .net_store a:hover img {
	opacity: 0.8;
}
#page_menu .net_store a img {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#page_menu .net_store {
	width:92%;
	padding-top:4%;
	margin: 0 auto;
}
#page_menu .net_store img {
	padding-bottom:0;
}
/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
 --page_shop
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
#page_shop .info .outer {
	width: 100%;
}
#page_shop .info .outer .left {
	width: 100%;
	display: block;
}
#page_shop .info .outer .left img {
	margin: 0 auto;
	display: block;
	width: 100%;
}
#page_shop .info .outer .right {
	width: 100%;
	display: block;
}
#page_shop .info .outer .right h3 {
	font-size:18px;
	font-size:1.8rem;
	margin-top:2%;
	text-align:center;
}

#page_shop .info .outer .right address {
	line-height:1.8;
	font-size:14px;
	font-size:1.4rem;
}

#page_shop .info .outer .right dl {
  width: 100%;
    padding-bottom: 10px;
    font-size: 13px;
    font-size: 1.3rem;
    letter-spacing: 1px;

}
#page_shop .info .outer .right dl dt {
  width: 6em;
  float:left;
}
#page_shop .info .outer .right dl dd {
  overflow:hidden;
  line-height:1.4;
}


#page_shop .info .map iframe {
	width: 100%;
	height:300px;
	vertical-align:bottom;
}
#page_shop .hitokoto .grid_col2 {
	margin-top:4%;
}
#page_shop .hitokoto .grid_col2 .left {
	width: 48%;
	float:left;
	margin-right:4%;
}
#page_shop .hitokoto .grid_col2 .right {
	width: 48%;
	float:left;
}

#page_shop section.bottom .photo {
	background:url(../../images/shop_bottom_photo.jpg) no-repeat center center;
	background-size: cover;
	background-attachment: scroll;
	height:150px;
}

#page_shop .hitokoto {
	margin-top:6%;
	padding-bottom:2%;
}

#page_shop .hitokoto p {
	line-height:1.6;
	padding-bottom:2%;
}
#page_shop .wakimizu {
	padding-bottom:0;
}
#page_shop .wakimizu .grid_col2 {
	padding-bottom:0;
}
#page_shop .wakimizu .grid_col2 .col:first-of-type {
	margin-bottom:4%;
}
#page_shop .wakimizu .grid_col2 .col:first-of-type img {
	margin:0 auto;
	display: block;
	width: 100%;
}
#page_shop .net_store {
	width:92%;
	padding-top:4%;
	margin: 0 auto;
	padding-bottom:0;
}

#page_shop .net_store img {
	padding-bottom:0;
}
#page_contact .mfp_buttons {
	text-align:center;
}

#page_contact form button,
#mfp_phase_confirm button {
    border: none;
    background: #a4ab24;
    cursor: pointer;
    padding: 10px;
    font-size: 14px;
    color: #fff;
    width: 100%;
    letter-spacing: 0.16em;
}


#page_contact .mfp_buttons {
	text-align:center;
}
#page_thanks section.contact .box {
    padding: 4% 0;
    margin: 0px auto 2%;
	font-size:13px;
	font-size:1.3rem;
}



/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
 --page_single
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
#page_single section.news .box {
	background: #fff;
	padding:4% 0		;
	margin:4%px auto;
}
#page_single section.news .entry-header {
    border-bottom: 1px solid #2a4971;
    padding: 0px 0 15px;
}
#page_single section.news .entry-title {
    font-size: 18px;
    font-size: 1.8rem;
    font-weight: bold;
    position:relative;
  /*font-family: "Hannari", "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;*/
    line-height: 1.5;
    padding-left:30px;

}
#page_single section.news .entry-title:before {
    background: #2a4971;
    content: "";
    height: 21px;
    width: 15px;
    left: 0;
    position: absolute;
    top: 6px;
}

#page_single section.news .entry-content {
	padding:20px 0;
}

#page_single section.news ul.page_link li a {
    font-size: 13px;
    display: inline-block;
    padding: 6px 15px 3px;
    border-radius: 3px;
    border: solid 1px #2a4971;
    background: #fff;
    text-decoration: none;
    color: #2a4971;
}
#page_single section.news ul.page_link li.next {
    float: right;
}
#page_single section.news ul.page_link li.prev {
    float: left;
}

#page_single .linkbtn1 {
	margin:0 4%;
}

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
 --page_category
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
#page_category a:first-of-type dl {
    border-top: 1px solid #2a4971;
}
#page_category dl {
    font-size: 16px;
    font-size: 1.6rem;
    padding: 11px 0;
    border-bottom: 1px solid #2a4971;
}
#page_category dl dt {
	width: 100%;
	font-size:11px;
	font-size:1.1rem;
}
#page_category dl dd {
	width: 100%;

}

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
 --other-store
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
#other-store .grid_col2 img {
	width: 100%;
}
#other-store .left {
	margin-right:4%;
}
#other-store .grid_col2 {
	width: 100%;
}
#other-store .grid_col2 .col {
	width: 48%;
}
#other-store h3 {
	text-align:center;
	font-family: 'yasashisa';
	color:#683b00;
	transform:skew(-1deg,-1deg);
	font-size: 14px;
	font-size: 1.4rem;
}


/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
 --bottom_link
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
#bottom_link {
	padding-top:4%;
}
#bottom_link .col {
	width: 100%;
}

#bottom_link .col {
	width: 100%;
	margin-bottom:4%;
}
#bottom_link .col:last-of-type {
	width: 100%;
	margin-bottom:0;
}

#bottom_link .col img {
	width:100%;
}

#bottom_link .col .photo {
	position: relative;
}

#bottom_link .col .text {
	font-size: 16px;
	font-size: 1.6rem;
	font-weight: bold;
    z-index: 100;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%); /* Safari用 */
  transform: translate(-50%, -50%);
  color:#fff;

  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;

}

#bottom_link .col .text.lg {
	left: 51%;
    width: 57%;

}


#bottom_link .col .bg {
    z-index: 99;
    position: absolute;
    height: 100%;
    width: 100%;
    display: block;
    background: rgba(0,0,0,0.4);
    top: 0;
	opacity: 1;
	visibility: visible;
	transition: all 0.5s;
}
#bottom_link .col p {
	font-size: 11px;
	font-size: 1.1rem;
}

#bottom_link .col a:hover .bg {
	opacity: 0;
	visibility: hidden;
}
#bottom_link .col a:hover .text {
	font-size: 18px;
	font-size: 1.8rem;
	font-weight: bold;
	color:#2a4971;
	text-shadow: 
	    #fff 2px 0px 2px, #fff -2px 0px 2px,
	    #fff 0px -2px 2px, #fff -2px 0px 2px,
	    #fff 2px 2px 2px, #fff -2px 2px 2px,
	    #fff 2px -2px 2px, #fff -2px -2px 2px,
	    #fff 1px 2px 2px, #fff -1px 2px 2px,
	    #fff 1px -2px 2px, #fff -1px -2px 2px,
	    #fff 2px 1px 2px, #fff -2px 1px 2px,
	    #fff 2px -1px 2px, #fff -2px -1px 2px,
	    #fff 1px 1px 2px, #fff -1px 1px 2px,
	    #fff 1px -1px 2px, #fff -1px -1px 2px;
}

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
 --vegas
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
.vegas-pager a {
    background: rgba(255,255,255,0.6);
    text-indent: -9999px;
    display: block;
    width: 8px;
    height: 8px;
    margin: 0 5px;
    outline: 0;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

.vegas-pager-item {
    font-size: 0;
    line-height: 0;
}

.vegas-pager {
    text-align: center;
    font-size: .85em;
    font-family: Arial;
    font-weight: 700;
    color: #666;
    padding-top: 20px;
}


.vegas-pager a.active, .vegas-pager a:hover {
    background: #fff;
}

.vegas-pager-item {
    display: inline-block;
    vertical-align: bottom;
}

.vegas-pager {
    position: absolute;
    bottom: 10px;
    width: 100%;
}
