@charset "UTF-8";
/* padding */
.pt_s {
  padding-top: 10px;
}
.pt {
  padding-top: 30px;
}
.pt_l {
  padding-top: 50px;
}
.pb_s {
  padding-bottom: 10px;
}
.pb {
  padding-bottom: 30px;
}
.pb_l {
  padding-bottom: 50px;
}

/* margin */
.mt_s {
  margin-top: 10px;
}
.mt {
  margin-top: 30px;
}
.mt_l {
  margin-top: 50px;
}
.mb_s {
  margin-bottom: 10px;
}
.mb {
  margin-bottom: 30px;
}
.mb_l {
  margin-bottom: 50px;
}

/* font-size */
.fsize_xl {
    font-size: 24px;
    font-size: 2.4rem;
}

.fsize_l {
    font-size: 20px;
    font-size: 2rem;
}

.fsize {
    font-size: 16px;
    font-size: 1.6rem;
}

.fsize_s {
    font-size: 14px;
    font-size: 1.4rem;
}

.fsize_xs {
    font-size: 12px;
    font-size: 1.2rem;
}

/* テキスト用BOX pタグの下に改行が入る。 */
div.textbox p {
  margin-bottom: 1em;
}
div.textbox p:last-child {
  margin-bottom: 0;
}

/********************************************************************************
　--common
*********************************************************************************/
/* --linkbtn
************************************/

.linkbtn1 {
  text-align:center;
}
.linkbtn1 a {
  border: 1px solid #0c7696;
  display: inline-block;
  color: #fff !important;
  font-weight: bold;
  background: #0c7696;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.linkbtn1 a:hover {
  background: #fff;
  color: #0c7696 !important;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}


.linkbtn2 {
  text-align:center;
}
.linkbtn2 a {
  border: 1px solid #ff8900;
  display: inline-block;
  color: #fff !important;
  font-weight: bold;
  background: #ff8900;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.linkbtn2 a:hover {
  background: #fff;
  color: #ff8900 !important;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/* --headline
************************************/
.headline1 {
	color:#574a20;
	font-size:38px;
	font-size:3.8rem;
	text-align:center;
	margin:0 auto;
	line-height: 1.4;
	letter-spacing:1px;
	z-index: 0;
    padding-top: 40px;
}
.headline1 span {
	text-align: center;
    position: relative;
    display: inline;
    z-index: 0;
}
.headline1 span::before {
	position: relative;
    content: url(../../images/headline_icon.png);
    position: absolute;
    top: -18px;
    left: -56px;
    z-index: -1;
}

.headline2 {
  color:#574a20;
  font-size:38px;
  font-size:3.8rem;
  text-align:center;
  line-height: 1.4;
  letter-spacing:1px;
  z-index: 0;
  font-family: "Hannari", "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
  font-weight: 900;
}


.headline3 {
  color:#683b00;
  font-size: 38px;
  font-size:3.8rem;
  font-weight: 900;
  display: flex;
  align-items: center;
  width: 1000px;
  margin: 0px auto;
}
.headline3:before, .headline3:after {
  content: "";
  flex-grow: 1;
  height: 2px;
  background: #683b00;
  display: block;
}
.headline3:before {
  margin-right: 1.5em;
}
.headline3:after {
  margin-left: 1.5em;
}

.headline4 {
  position:relative;
}
.headline4 span {
  position: absolute;
    top: -2px;
    left: 125px;
    font-size: 22px;
}
.headline4 span.line {
  border-bottom:1px solid #00a0e9;
    position: absolute;
    display: block;
    width: 96%;
    top: 40px;
    left:4%;

}
.headline4 img {
  border-radius: 150px;
    height: 90px;
    width: 90px;
    background: #fff;
    z-index: 1;
    position: relative;
    border:1px solid #707070;
    display: block;
  position: relative;
    top: -15px;
    left: 15px;
}

.headline5 {
  font-family: "Hannari", "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
  color:#574a20;
  font-weight: bold;
  font-size:38px;
  font-size:3.8rem;
  text-align:center;
  margin:0 auto;
  line-height: 1.4;
  letter-spacing:0px;
  z-index: 0;
    padding-top: 30px;
}
.headline5 span {
    width: 100%;
    text-align: center;
    position: relative;
    display: block;
    z-index: 0;
}
.headline5 span::before {
    display: inline-block;
    text-align: center;
    /* position: absolute; */
    content: url(../../images/headline_icon.png);
    position: absolute;
    top: -18px;
    z-index: -1;
    margin: 0 auto;
    left: 43%;
    /* right: auto; */
}
#page_homepage .headline5 {
    padding-top:40px;
}

#page_homepage .headline5 span::before {
    left: 44.5%;
}
#page_product_list .headline5 {
    padding-bottom:70px;
}


/* --bg_color
************************************/
.bg_white {
  background: #fff;
}
.bg_beige {
  background: #faf9f4;
}

/* --table
************************************/
table.style1,
#mfp_confirm_table
{
  margin:0 0px 20px;
  font-size:16px;
  font-size:1.6rem;
  width:100%;
  background:#fff;
  color:#fff;
}
table.style1 th,
#mfp_confirm_table th
{
  text-align:left;
  width:240px;
  background:#0c7696;
  padding:17px 30px 15px;
  border-bottom:1px solid #fff;
}
table.style1 tr:last-of-type th,
#mfp_confirm_table  tr:last-of-type th {
  /*border-bottom:none;*/
}
table.style1 tr:last-of-type td,
#mfp_confirm_table tr:last-of-type td
{
  /*border-bottom:none;*/
}

table.style1 td,
#mfp_confirm_table td {
  background:#fff;
  border-bottom:1px solid #ccc;
  padding:17px 30px 15px;
  color: #535353;
}

table.style1 em {
    float: right;
    background: #f10023;
    color: #fff;
    font-size: 11px;
    padding: 2px 5px;
    margin-top: 2px;
}
form input[type="text"], input[type="mail"], select {
    padding: 7px 10px;
    font-size: 15px;
    font-size: 1.5rem;
    margin: 4px 0;
    width: 100%!important;
    border: 1px solid #a7a7a7;
}
textarea {
    padding: 7px 10px;
    font-size: 15px;
    font-size: 1.5rem;
    margin: 4px 0;
    width: 100%!important;
    height:auto!important;
    border: 1px solid #a7a7a7;
}
.mfp_err {
  color:#ac0019!important;
}
#mfp_phase_confirm_inner {
  color: #683b00;
  font-size:16px;
  font-size:1.6rem;
}
#mfp_phase_confirm_inner .privacy {
  margin-bottom:20px;
}
#mfp_phase_confirm_inner .mfp_buttons {
  margin-bottom:40px;
  padding-bottom:50px;
}


/* --link
************************************/
.link_red {
  color: #c73c25 !important; }

.link_red:hover {
  text-decoration: underline; }

.link_blue {
  color: #2687a8 !important; }

.link_blue:hover {
  text-decoration: underline; }

/* --font_color
************************************/
.font_red {
  color: #c73c25 !important; }

.font_blue {
  color: #2687a8 !important; }

/* --img_center
************************************/
.img_center {
  display: block;
  text-align: center;
  margin: 0 auto;
}
/* --sml
************************************/
/* --new
************************************/
.new:after {
  content: "new";
  margin-left: 5px;
  color: #fff;
  background: #c73c25;
  padding: 1px 3px;
  font-size: 12px; }

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++



