@charset "UTF-8";
@import url(//fonts.googleapis.com/earlyaccess/notosansjapanese.css);

@font-face {
    font-family: 'yasashisa';
    src: url('../../font/yasashisa.eot') format('eot'),
        url('../../font/yasashisa.ttf') format('ttf'),
        url('../../font/yasashisa.woff') format('woff');
}

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
　PC・SP共通設定
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
html,
body {
    width: 100%;
    background: #fff;
}

html {
    font-size: 62.5%;
}

body {
    background: #fff;
    text-align: center;
    color: #000;
    font-family: "Noto Sans Japanese", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Verdana, "ＭＳ ゴシック", Osaka-mono, sans-serif;
    -webkit-text-size-adjust: 100%;
    min-width: 1000px;
}

#outer {
    width: 100%;
    overflow-x: hidden;
}

/* link */
a {
    color: #000;
    text-decoration: none;
    outline: none;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.sp {
    display: none;
}

.pc {
    display: block;
}

#pan {
    font-size: 13px;
    padding-top: 10px;
    letter-spacing: 1px;
}

a:link {
    color: #000;
}

a:visited {
    color: #000;
}

a:hover {
    color: #000;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

ul.indent {
    text-indent: -1em;
    padding-left: 1em;
}

@font-face {
    font-family: "yasashisa";
    src: url("yasashisa.eot?") format("eot"), url("yasashisa.woff") format("woff");
}

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
　--pc
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/**************************
　--common(pc)
++++++++++++++++++++++++++*/
body {
    line-height: 1.6;
    font-size: 16px;
    font-size: 1.6rem;
}

/**************************
　--header(pc)
++++++++++++++++++++++++++*/
header {
    position: relative;
    z-index: 999;
    width: 100%;
}

header .pcmenu .header-outer ul li {
    float: left;
    padding-right: 30px;
}

header .pcmenu .header-top {
    border-bottom: 2px solid #40bfee;
    padding-bottom: 15px;

}

header .pcmenu .header-logo {
    width: 320px;
    float: left;
}

header .pcmenu .header-logo .site {
    font-size: 11px;
    padding: 5px 0 3px;
}

header .pcmenu .header-contact {
    width: 400px;
    float: right;
    margin-top: 5px;
    text-align: right;
    color: #574a20;
    line-height: 1.3;
}

header .pcmenu .header-contact ul {
    padding: 10px 0;
}

header .pcmenu .header-contact .facebook {
    padding-right: 10px;
}

header .pcmenu .header-contact .tel {
    font-size: 26px;
    font-weight: 900;
    margin-bottom: 7px;
    color: #574a20;
}

header .pcmenu .header-contact .tel a {
    color: #574a20 !important;
}

header .pcmenu .header-contact p.rest {
    padding-right: 9.5em;
    font-weight: bold;
    font-size: 13px;

}

header .pcmenu .header-contact address {
    font-weight: bold;
    font-size: 13px;
}

header .pcmenu .header-contact .tel::before {
    content: url(../../images/header_tel.svg);
    width: 20px;
    height: 20px;
    position: relative;
    top: 0px;
    left: -5px;
}

header .pcmenu nav ul {
    width: 100%;
    display: table;
}

header .pcmenu nav ul li {
    text-align: center;
    width: 167px;
    display: table-cell;
    position: relative;
}

header .pcmenu nav ul li::before {
    content: url(../../images/header_menu_icon.png);
    width: 20px;
    height: 20px;
    position: absolute;
    top: 15px;
}

header .pcmenu nav ul li a {
    padding: 25px 15px;
    font-size: 14px;
    display: inline-block;
    color: #574a20;
    font-weight: bold;
}

header .pcmenu nav ul li a span {
    /*position: relative;*/
}

header .pcmenu .header-bottom {
    height: 80px;
}

/**************************
　--contents(pc)
++++++++++++++++++++++++++*/

.wrapper {
    width: 1000px;
    margin: 0px auto;
    text-align: left;
    padding: 0;
}

@media screen and (max-width: 1000px) {
    .wrapper {
        padding: 0 20px;

    }
}

/**************************
　--footer(pc)
++++++++++++++++++++++++++*/
footer {
    background: #0c7696;

}

footer .fotter-top {
    background: #3e92ab;
}

footer nav ul {
    text-align: center;
    padding: 22px 0;
    margin: 0 auto;
}

footer nav ul li {
    float: left;
    padding: 0 25px;
    border-left: 2px solid #fff;
    line-height: 1;
}

footer nav ul li:first-of-type {
    border-left: none;
}

footer nav ul li a {
    color: #fff !important;
    font-size: 13px;
}

footer nav {
    padding: 0 220px;
}

footer .footer-top {
    background: #3e92ab;
}


footer .footer-bottom {
    padding: 60px 0 40px;
    background: #0c7696;
}

footer .footer-logo {
    width: 320px;
    float: left;
}

footer .footer-contact {
    width: 400px;
    float: right;
    margin-top: 5px;
    text-align: right;
    color: #fff;
    line-height: 1.4;
}

footer .footer-contact .top {
    padding-top: 10px;
}

footer .footer-contact .top .instagram {
    padding-right: 10px;
}

footer .footer-contact .top .facebook {
    padding-right: 10px;
}

footer .footer-contact .top .instagram img {
    width: 30px;
}

footer .footer-contact .top .facebook img {
    width: 30px;
}

footer .footer-contact .tel {
    font-size: 26px;
    font-weight: 900;
    margin-bottom: 7px;
}

footer .footer-contact .tel a {
    color: #fff !important;
}

footer .footer-contact p.rest {
    padding-right: 9.5em;
    font-weight: bold;
    font-size: 13px;

}

footer .footer-contact address {
    font-weight: bold;
    font-size: 13px;
}

footer .footer-contact .tel::before {
    content: url(../../images/footer_tel.svg);
    width: 20px;
    height: 20px;
    position: relative;
    top: 0px;
    left: -5px;
}

footer .copy {
    font-size: 12px;
    font-size: 1.2rem;
    text-align: center;
    background: #0c7696;
    padding-bottom: 15px;
    color: #fff;
}

#page_top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 10000;
    text-align: center;
    text-decoration: none;
    color: #fff;
    padding: 0% 0;

}

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
　--sp
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/**************************
　--header(sp)
++++++++++++++++++++++++++*/
header .spmenu {
    z-index: 999999;
    width: 100%;
    height: 52px;
    top: 0;
    display: block;
    position: fixed;
    background: #e2004e;
}

@media screen and (min-width: 768px) {
    header .spmenu {
        display: none;
    }
}

@media screen and (min-width: 1000px) {
    header .spmenu {
        display: none;
    }
}

header .spmenu h2 {
    text-align: left;
    padding: 6px 0 0 10px;
}

header .spmenu h2 img {
    width: 52px;
}

header .spmenu .twitter {
    position: fixed;
    top: 12px;
    right: 60px;
}

header .spmenu .twitter img {
    width: 31px;
}

header .spmenu .drawer-hamburger {
    width: 2.6rem;
    padding: 16px 3% 8%;
    position: fixed;
    z-index: 99999;
}

header .spmenu .drawer-brand {
    max-width: 200px;
    margin-left: -15px;
}

header .spmenu .drawer-brand img {
    width: 84%;
    height: auto;
    margin-top: 7px;
}

header .spmenu .drawer-menu-item {
    border-bottom: 1px solid #fff;
    text-align: left;
    padding: 3% 8% 3% 4%;
    background: #e2004e;
    color: #fff;
    position: relative;
    font-size: 15px;
    font-size: 1.5rem;
}

header .spmenu .color .drawer-menu-item {
    color: #000;
    border-bottom: 1px solid #fff;
    background: #fff;
}

header .spmenu li #acMenu dt {
    border-bottom: 1px solid #fff;
    text-align: left;
    padding: 3% 4%;
    font-size: 15px;
    font-size: 1.5rem;
    background: #595555;
    color: #fff;
}

header .spmenu li #acMenu dd {
    background: #ffffff;
    text-align: center;
    display: none;
    margin: 0px;
    padding: 0px;
}

header .spmenu li #acMenu .accordion_icon,
.accordion_icon span {
    display: inline-block;
    transition: all .4s;
    box-sizing: border-box;
}

header .spmenu li #acMenu .accordion_icon {
    position: relative;
    width: 20px;
    height: 20px;
    float: right;
    margin-right: -5px;
    top: 7px;
    margin-bottom: 0px !important;
}

header .spmenu li #acMenu .accordion_icon span {
    position: absolute;
    left: 6px;
    width: 50%;
    height: 1px;
    background-color: #fff;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -ms-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
}

header .spmenu li #acMenu .accordion_icon span:nth-of-type(1) {
    top: 5px;
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
}

header .spmenu li #acMenu .accordion_icon span:nth-of-type(2) {
    top: 5px;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
}

/*＋、－切り替え*/
header .spmenu li #acMenu .accordion_icon.active span:nth-of-type(2) {
    display: none;
}

#acMenu .accordion_icon.active span:nth-of-type(1) {
    top: 5px;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}

header .spmenu .inner {
    background-repeat: no-repeat;
    width: 100%;
    height: 1000px;
}

header .spmenu .drawer-menu-item:after {
    position: absolute;
    top: 50%;
    right: 4%;
    display: block;
    content: "";
    width: 6px;
    height: 6px;
    margin-top: -3px;
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

header .spmenu .color .drawer-menu-item:after {
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
}

header .spmenu .drawer-menu-item:hover {
    color: #ffe000;
    text-decoration: none;
}

header .spmenu .drawer-nav {
    background-color: rgba(0, 0, 0, 0.4) !important;
}

.drawer-hamburger-icon,
.drawer-hamburger-icon:after,
.drawer-hamburger-icon:before {
    background-color: #fff !important;
}

.drawer-open .drawer-hamburger-icon {
    background-color: #e2004e !important;
}

.drawermenu .inner {
    border-top: none !important;
}

/**************************
　--footer(sp)
++++++++++++++++++++++++++*/

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
　--pagetitle
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
#pagetitle .photo h2 {
    padding-top: 80px;
    font-size: 36px;
    color: #fff;
    font-weight: 900;
    font-family: "Hannari", "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}

#pagetitle .photo {
    background-size: cover !important;
    height: 200px;
}

#pagetitle .photo.topics {
    background: url(../../images/pagetitle_topics.jpg) no-repeat;
    background-size: cover;
}

#pagetitle .photo .bg {
    background: rgba(0, 0, 0, 0.45);
    height: 100%;
}


.page_onlineshop #pagetitle .photo {
    background: url(../../images/pagetitle_onlineshop.jpg) no-repeat !important;
    height: 265px;
    background-size: cover !important;
}

#page_homepage.page_onlineshop #pagetitle .photo {
    background: url(../../images/pagetitle_onlineshop_main.jpg) no-repeat !important;
    height: 460px;
    background-size: cover !important;
}

.page_onlineshop #pagetitle .photo h2 {
    padding-top: 20px;
}

#pagetitle .nav-onlineshop {
    display: none;
}

.page_onlineshop #pagetitle .nav-onlineshop {
    display: block;
    background-color: rgba(0, 160, 233, 0.8);
    width: 100%;
    padding: 23px 0;
    font-size: 14px;
    position: relative;
    z-index: 1;
}

.page_onlineshop #pagetitle .nav-onlineshop ul {
    padding-left: 30px;
}

.page_onlineshop #pagetitle .nav-onlineshop ul li {
    float: left;
    padding: 0 20px;
    border-right: 1px solid #fff;
    line-height: 1.1;

}

.page_onlineshop #pagetitle .nav-onlineshop ul li a {
    color: #fff;
    font-size: 13px;
}

.page_onlineshop #pagetitle .nav-onlineshop ul li a:hover {
    text-decoration: underline;
}

#pagetitle .img-onlineshop {
    display: none;
}

.page_onlineshop #pagetitle .wrapper {
    position: relative;
}

.page_onlineshop #pagetitle .img-onlineshop {
    display: block;
}

.page_onlineshop #pagetitle .img-onlineshop .left {
    position: absolute;
    left: -75px;
    top: -8px;
    width: 260px;
}

.page_onlineshop #pagetitle .img-onlineshop .right {
    position: absolute;
    right: -30px;
    top: -50px;
    z-index: 0;
    width: 250px;
}

#page_homepage.page_onlineshop #pagetitle .img-onlineshop .left {
    width: 460px;
    top: 25px;

}

#page_homepage.page_onlineshop #pagetitle .img-onlineshop .right {
    width: 440px;
    top: -50px;
}


/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
　--grid
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
.grid_col2 {
    width: 100%;
}

.grid_col2.ptn1 .col {
    width: 50%;
    float: right;
}

.grid_col2.ptn2 .col {
    width: 50%;
    float: left;
}

.grid_col3 {
    width: 100%;
}

.grid_col3 .col {
    width: 33.333%;
    float: left;
}

.grid_col4 {
    width: 100%;
}

.grid_col4 .col {
    width: 25%;
    float: left;
}

.tablecol {
    display: table;
    width: 100%;
}

.tablecol.col2 .col {
    display: table-cell;
    width: 50%;
}

.tablecol.col3 .col {
    display: table-cell;
    width: 33.3333%;
}

.tablecol.col4 .col {
    display: table-cell;
    width: 25%;
}

.tablecol.col5 .col {
    display: table-cell;
    width: 20%;
}


.flexcol {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    width: 100%;
}


.flexcol .photo {
    width: 50%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    justify-content: center;
}

.flexcol .text {
    width: 50%;
    display: flex;
    -webkit-align-items: center;
    -webkit-justify-content: center;
    align-items: center;
    /*上下中央*/
    justify-content: center;
    /*左右中央*/
    padding: 40px;
    line-height: 2;
}

.flexcol.photo_left {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}

.flexcol.photo_right {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
}
