@charset "UTF-8";

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
　--page_index
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/* mainimag */

#page_index .mainimg video {
    position: relative;
    width: 100%;
}

@media (max-width: 1199px) {
    #page_index .mainimg {
        display: none;
    }

    #page_index .mainimg-sp {
        background: url(../../images/mainimg_sp.jpg) no-repeat center top;
        background-size: cover;
        position: relative;
        height: 396px;
    }
}

@media (min-width: 1200px) {
    #page_index .mainimg {
        /*        background: url(../../images/mainimg.jpg) no-repeat center top;
*/
        background-size: cover;
        position: relative;
    }

    #page_index .mainimg-sp {
        display: none;
    }
}

#page_index .mainimg .cont1 {
    position: absolute;
    left: 18%;
    top: 4%;
}

#page_index .mainimg .cont2 {
    position: absolute;
    left: 7%;
    bottom: 6%;
}

#page_index .mainimg .cont3 {
    position: absolute;
    left: 30%;
    bottom: 14%;
}

#page_index .mainimg_text {
    display: table;
    width: 100%;
    padding: 40px 0;
    position: absolute;
    top: 38%;
    background: rgba(0, 0, 0, 0.4);
}

#page_index .mainimg_text .text-left {
    width: 45%;
    display: table-cell;

}

#page_index .mainimg_text .text-right {
    width: 55%;
    display: table-cell;
    color: #fff;
    text-align: left;
    font-size: 24px;
    font-weight: bold;
}

/* about */
#page_index .about .photo {
    background-size: cover !important;
    min-height: 341px;
}

#page_index .about .text p {
    height: 100%;
    line-height: 1.6;
}

#page_index .about .flexcol .photo {
    width: 50%;
    background-size: contain !important;
    min-height: 341px;
}

#page_index .about .flexcol .text {
    color: #574a20;
    font-size: 17px;
    font-size: 1.7rem;
    width: 48%;
    display: block !important;
    -webkit-align-items: center;
    -webkit-justify-content: center;
    align-items: center;
    justify-content: center;
    padding: 40px 80px;
    line-height: 2;
}

#page_index .about .flexcol .text h4 {
    font-size: 32px;
    text-align: left;
    padding-bottom: 20px;
}

#page_index .about a.linkbtn {
    padding: 7px 4%;
    text-align: center;
    margin-top: 15px;
    border: 1px solid #0c7696;
    display: block;
    color: #fff !important;
    font-weight: bold;
    background: #0c7696;
    margin-left: 4%;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#page_index .about a.linkbtn:hover {
    background: #fff;
    color: #0c7696 !important;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

/* topics */
#page_index .topics ul li {
    width: 30.66%;
    float: left;
}

#page_index .topics ul li:first-of-type {
    margin-right: 4%;
    margin-left: 0%;
}

#page_index .topics ul li:last-of-type {
    margin-right: 0%;
    margin-left: 4%;
}

#page_index .topics ul li .box {
    padding: 4%;
    border: 1px solid #574a20;
    color: #574a20;
}

#page_index .topics ul li:first-of-type .box {}

#page_index .topics ul li:last-of-type .box {}

#page_index .topics ul li .box h3 {
    text-align: left;
    font-size: 16px;
    font-size: 1.6rem;
}

#page_index .topics ul li .date {
    padding: 10px 0 5px;
}

#page_index .topics ul li .text {
    padding: 10px 0 10px;
    font-size: 14px;
    font-size: 1.4rem;
}

#page_index .topics ul li .box p {
    line-height: 2;
}

#page_index .topics .linkbtn1 a {
    padding: 8px 0;
    width: 100%;
    font-size: 13px;
    font-size: 1.3rem;
}

/* ranking */
#page_index .ranking ul li img {
    border-radius: 150px;
    height: 250px;
    width: 250px;
    background: #fff;
    z-index: 1;
    position: relative;
}

#page_index .ranking ul li.rank1 img {
    border: 3px solid #40bfee;
}

#page_index .ranking ul li.rank2 img {
    border: 3px solid #0c7696;
}

#page_index .ranking ul li.rank3 img {
    border: 3px solid #5f532b;
}

#page_index .ranking ul li {
    position: relative;
}

#page_index .ranking ul li:after {
    position: absolute;
    left: 22px;
    top: -27px;
    z-index: 0;
}

#page_index .ranking ul li.rank1:after {
    content: url(../../images/runking1.png);
}

#page_index .ranking ul li.rank2:after {
    content: url(../../images/runking2.png);
}

#page_index .ranking ul li.rank3:after {
    content: url(../../images/runking3.png);
}

#page_index .ranking ul li .text {
    text-align: center;
    color: #574a20;
    font-weight: bold;
}

#page_index .ranking .linkbtn1 a {
    padding: 7px 4%;
    width: 280px;
}

/* net_store */
.net_store a:hover img {
    opacity: 0.8;
}

.net_store a img {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

/* access */
#page_index .access iframe {
    width: 100%;
    height: 500px;
    vertical-align: bottom;
}

#page_index .access_bottom {
    color: #574a20;
    line-height: 1.4;
}

#page_index .access_bottom .col1 {
    padding-top: 20px;
    width: 14%;
    float: left;
    font-size: 18px;
    font-size: 1.8rem;
    font-weight: bold;
    padding-left: 30px;
}

#page_index .access_bottom .col2 {
    font-size: 14px;
    font-size: 1.4rem;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    width: 42%;
    float: left;
    border-left: 1px solid #5f532b;

}

#page_index .access_bottom .col3 {
    font-size: 14px;
    font-size: 1.4rem;
    padding-left: 20px;
    padding-top: 20px;
    width: 42%;
    float: left;
}

#page_index .shishoku p {
    color: #574a20;
    line-height: 1.4;
    padding: 0 4%;
}

#page_index .shishoku img {
    border: 1px solid #707070;
}

#page_index .wakimizu p {
    color: #574a20;
    line-height: 1.4;
    padding: 0 4%;
}

#page_index .wakimizu img {
    border: 1px solid #707070;
}

#page_index .other_store ul {
    margin: 0 auto;
    padding: 0 18%;
}

#page_index .other_store ul li {
    width: 48%;
    float: left;
}

#page_index .other_store ul li h4 {
    font-weight: bold;
    text-align: center;
    padding: 4px 0 0;
}

#page_index .other_store ul li p {
    font-size: 13px;
    font-size: 1.3rem;
    line-height: 1.3;
    padding: 4px 0 0;
}

#page_index .other_store ul li img {
    border: 1px solid #707070;
}

#page_index .other_store ul li:first-of-type {
    margin-right: 2%;
    text-align: rigth;
}

#page_index .other_store ul li:last-of-type {
    margin-left: 2%;
}

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
 --page_kodawari
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
#page_kodawari #contents p {
    color: #574a20;
    padding-left: 4%;
    padding-right: 4%;
}

#page_kodawari #contents .net_store p {
    padding: 0;
}

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
 --page_shop
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
#page_shop .shop-top h3 {
    text-align: center;
}

#page_shop .shop-top p {
    text-align: center;
    color: #484848;
}

#page_shop .shop-top ul li {
    width: 48%;
}

#page_shop .shop-top ul li img {
    width: 100%;
    height: auto;
    border: 1px solid #dbdbdb;
}

#page_shop .shop-top ul li address {
    color: #484848;
    font-size: 15px;
    font-size: 1.5rem;
    padding: 20px 0 0 40px;
}

#page_shop .shop-top address {
    color: #484848;
    font-size: 17px;
    font-size: 1.7rem;
    padding: 20px 0 0 40px;
    margin: 0 auto;
    padding: 0 360px;
}


#page_shop .shop-top ul li:first-of-type {
    margin-right: 2%;
}

#page_shop .shop-top ul li:last-of-type {
    margin-left: 2%;
}

#page_shop .map iframe {
    width: 100%;
    height: 460px;
    vertical-align: bottom;
}

#page_shop .shop-about p {
    padding-left: 4%;
    padding-right: 4%;
    color: #574a20;

}

#page_shop .shop-about img {
    border: 1px solid #707070;
}

#page_shop .bnr .bnr_outer {
    background: #00a0e9;
    position: relative;
}

#page_shop .bnr .bnr_outer .photo {
    width: 30%;
    float: left;
    z-index: 100;
    position: relative;
}

#page_shop .bnr .bnr_outer .photo:before {
    content: url(../../images/shop_bnr_photo.png);
    display: inline-block;
    width: 120px;
    height: 120px;
}

#page_shop .bnr .bnr_outer .bnr {
    width: 70%;
    float: left;
    padding-top: 12%;
    color: #fff;
    font-weight: bold;
    padding-left: 130px;
    font-size: 16px;
}

#page_shop .bnr .bnr_outer .top_box {
    width: 100%;
    height: 30px;
    background: #fff;
    position: absolute;
    top: 0px;
    z-index: 99;
}

#page_shop .bnr .bnr_outer .bottom_box {
    width: 100%;
    height: 30px;
    background: #fff;
    position: absolute;
    bottom: 0px;
    z-index: 99;
}



#page_shop .access_bottom {
    color: #574a20;
    line-height: 1.4;
}

#page_shop .access_bottom .col1 {
    padding-top: 20px;
    width: 14%;
    float: left;
    font-size: 18px;
    font-size: 1.8rem;
    font-weight: bold;
    padding-left: 30px;
}

#page_shop .access_bottom .col2 {
    font-size: 14px;
    font-size: 1.4rem;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    width: 42%;
    float: left;
    border-left: 1px solid #5f532b;

}

#page_shop .access_bottom .col3 {
    font-size: 14px;
    font-size: 1.4rem;
    padding-left: 20px;
    padding-top: 20px;
    width: 42%;
    float: left;
}


/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
 --page_recipe
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
#page_recipe .recipe {
    color: #535353;
}

#page_recipe .recipe .linkbtn2 a {
    padding: 7px 8%;
    margin-top: 15px;
}

#page_recipe .recipe h3 {
    font-size: 18px;
    font-size: 1.8rem;

}

#page_recipe .recipe h3 .text {
    top: -5px;
    left: 10px;
    position: relative;
    font-weight: bold;
}


#page_recipe .recipe h3 .num {
    background: #0C7696;
    color: #fff;
    position: relative;
    font-size: 26px;
    font-size: 2.6rem;
    padding: 19px 12px 2px;
    font-family: 'arial';
    top: 5px;
}

#page_recipe .recipe h3 .num:before {
    content: "レシピ";
    position: absolute;
    top: 6px;
    left: 10px;
    font-size: 12px;
    font-size: 1.2rem;
}


#page_recipe .recipe .main_box {
    width: 100%;
}

#page_recipe .recipe .main_box .left {
    width: 62%;
    float: left;
}

#page_recipe .recipe .main_box .right {
    width: 38%;
    float: left;
    text-align: center;
}

#page_recipe .recipe .main_box .right h4 {
    font-size: 17px;
    font-size: 1.7rem;
}

#page_recipe .recipe .recipe_cont {
    width: 100%;
    padding-top: 25px;
}

#page_recipe .recipe .material {
    width: 26%;
    float: left;
}

#page_recipe .recipe .material dl {
    width: 98%;
    position: relative;
}

#page_recipe .recipe .material dl:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    margin: 12px 0 0 0;
    background-image: linear-gradient(to right, #7A7A7A, #7A7A7A 1px, transparent 1px, transparent 2px);
    background-size: 6px 2px;
    background-position: top;
    background-repeat: repeat-x;
}

#page_recipe .recipe .material dl dt {
    width: 72%;
    float: left;

}

#page_recipe .recipe .material dl dt .text {
    background: #fff;
    z-index: 99;
    position: relative;
    padding-right: 10px;
}

#page_recipe .recipe .material dl dd {
    width: 28%;
    float: left;
    padding-left: 10px;
    background: #fff;
    z-index: 99;
    position: relative;

}

#page_recipe .recipe .material .small {
    font-size: 12px;
}


#page_recipe .recipe .flow {
    width: 62%;
    float: left;
    margin-left: 8%;
}

#page_recipe .recipe_cont .headline {
    border-bottom: 1px solid #7A7A7A;
    font-size: 17px;
    font-size: 1.7rem;
    margin-bottom: 15px;
}


#page_recipe .recipe .flow dl {
    width: 100%;
    padding-bottom: 20px;
}

#page_recipe .recipe .flow dl dt {
    width: 4em;
    float: left;
}

#page_recipe .recipe .flow dl dd {
    width: auto;
    float: left;

}

#page_recipe .introduction .box {
    border: 1px solid #848484;
    background: #F9F0EA;
}

#page_recipe .introduction .box .left {
    width: 72%;
    float: left;
    padding: 25px 0 25px 25px;

}

#page_recipe .introduction .box .left .headline {
    border-bottom: 1px solid #7A7A7A;
    font-size: 18px;
    font-size: 1.8rem;
    margin-bottom: 5px;
    color: #535353;
    padding-bottom: 5px;
}

#page_recipe .introduction .box .left h5 {
    font-size: 18px;
    font-size: 1.8rem;
    padding-bottom: 8px;
    color: #000000;
}

#page_recipe .introduction .box .left p {
    font-size: 15px;
    font-size: 1.5rem;
    color: #000000;
    line-height: 1.8;
}

#page_recipe .introduction .box .left .name {
    font-size: 32px;
    font-size: 3.2rem;
    padding: 0 22px;
    color: #000000;
}

#page_recipe .introduction .box .right {
    width: 28%;
    float: left;
    padding: 25px;
}


/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
 --page_products
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
#page_products .product {
    width: 100%;
}

#page_products .product .item-col {
    width: 49%;
    float: left;
}

#page_products .product .item-outer {
    padding: 6%;
    border: 3px solid #dbd7d7;
}

#page_products .product .item-col:nth-child(odd) {
    margin-right: 2%;
}

#page_products .product_grp {
    padding-top: 60px;
}

#page_products .product_grp h3 {
    position: relative;
}

#page_products .product_grp h3 span {
    position: absolute;
    top: -2px;
    left: 125px;
    font-size: 22px;
}

#page_products .product_grp h3 span.line {
    border-bottom: 1px solid #00a0e9;
    position: absolute;
    display: block;
    width: 96%;
    top: 40px;
    left: 4%;

}

#page_products .product_grp h3 img {
    border-radius: 150px;
    height: 90px;
    width: 90px;
    background: #fff;
    z-index: 1;
    position: relative;
    border: 1px solid #707070;
    position: relative;
    top: -15px;
    left: 15px;
}

#page_products .product h4 {
    font-size: 18px;
    font-size: 1.8rem;
    color: #535353;
    margin-bottom: 10px;

}

#page_products .product .cat_osusume {
    font-size: 12px;
    font-size: 1.2rem;
    background: #00a0e9;
    padding: 2px 6px 2px 6px;
    color: #fff;
    position: relative;
    top: -1px;
    margin-left: 5px;
}

#page_products .product .cat_new {
    font-size: 12px;
    font-size: 1.2rem;
    background: #e97d00;
    padding: 2px 6px 2px 6px;
    color: #fff;
    position: relative;
    top: -1px;
}

#page_products .product .cat_ninki {
    font-size: 12px;
    font-size: 1.2rem;
    background: #e92d00;
    padding: 2px 2px 2px 6px;
    color: #fff;
    position: relative;
    top: -1px;
}

#page_products .product h5 {
    font-size: 15px;
    font-size: 1.5rem;
    line-height: 1.5;
    color: #484848;
    padding-bottom: 8px;
}

#page_products .product p {
    font-size: 15px;
    font-size: 1.5rem;
    line-height: 1.5;
    color: #484848;
}

#page_products .product .linkbtn2 a {
    padding: 12px 12%;
    margin-top: 15px;
}

#page_products .reserv .photo {
    float: right;
    width: 26%;
}

#page_products .reserv .text {
    float: right;
    width: 74%;
    color: #574a20;
}

#page_products .reserv .text h3 {
    font-size: 18px;
    font-size: 1.8rem;
    font-weight: bold;
    padding-bottom: 20px;
    color: #484848;

}

#page_products .reserv .text p {
    font-size: 15px;
    font-size: 1.5rem;
    line-height: 1.5;
    padding-right: 12%;

}

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
 --products_menu
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
#products_menu li img {
    border-radius: 150px;
    height: 90px;
    width: 90px;
    background: #fff;
    z-index: 1;
    display: block;
    position: relative;
    border: 1px solid #707070;
    position: relative;
    top: -15px;
    left: 15px;
}

#products_menu li a {
    border: 1px solid #00a0e9;
    background: #00a0e9;
    color: #fff;
    width: 100%;
    display: block;
    border-radius: 30px
}

#products_menu li a:hover {
    background: #fff;
    color: #00a0e9;
}

#products_menu li {
    width: 30.66%;
    float: left;
    position: relative;
}

#products_menu li::after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-top: 14px solid #fff;
    right: 13px;
    bottom: 38px;
}

#products_menu li span {
    position: absolute;
    top: 30px;
    font-size: 20px;
    right: 55px;

}

#products_menu li {
    margin-right: 4%;
}

#products_menu li:nth-child(3n) {
    margin-right: 0%;
}

#products_menu li:nth-child(n + 4) {
    margin-top: 4%;
}

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
 --page_contact
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
#page_contact .text {
    color: #535353;
    padding-bottom: 10px;
}

#page_contact .mfp_buttons {
    text-align: center;
}

#page_contact button {
    border: none;
    background: #ff8900;
    cursor: pointer;
    padding: 15px;
    font-size: 16px;
    color: #fff;
    width: 200px;
    letter-spacing: 1px;
    outline: none;
}

#page_thanks section.contact .box {
    padding: 40px 0;
    margin: 0px auto 20px;

}

#page_contact .privacy {
    text-align: center;
}

#page_contact .privacy a {
    text-decoration: underline;
}

#mfp_phase_confirm .privacy {
    display: block !important;

}

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
 --page_single
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
#page_single section.news .box {
    background: #fff;
    padding: 40px 20px 0;
    margin: 40px auto 0px;
}

#page_single section.news .news-outer {
    width: 100%;
}

#page_single section.news .news-outer .photo {
    width: 12%;
    float: left;
}

#page_single section.news .news-outer .photo img {
    border-radius: 70px;
    height: 90px;
    width: 90px;
}

#page_single section.news .news-outer .text {
    width: 88%;
    padding-top: 15px;
    float: left;
}

#page_single section.news .entry-header {
    padding: 0px 0 20px;
}

#page_single section.news .entry-header p {
    color: #555;
    padding-bottom: 10px;
    font-weight: bold;
}

#page_single section.news .entry-title {
    font-size: 22px;
    font-size: 2.2rem;
    line-height: 1.5;
    color: #0c7696;
    font-weight: bold;
}

#page_single section.news .entry-content {
    padding: 20px 0 25px;
    color: #454545;
    border-bottom: 1px solid #454545;
    margin-bottom: 25px;
}

#page_single section.news .entry-content .left {
    width: 56%;
    float: left;
}

#page_single section.news .entry-content .left img {
    width: 100%;
    height: auto;
}

#page_single section.news .entry-content .right {
    width: 40%;
    float: left;
    margin-left: 4%;
}

#page_single section.news ul.page_link li a {
    font-size: 13px;
    display: inline-block;
    padding: 6px 15px 6px;
    border-radius: 3px;
    border: solid 1px #717171;
    background: #fff;
    text-decoration: none;
    color: #717171;
}

#page_single section.news ul.page_link li.next {
    float: right;
}

#page_single section.news ul.page_link li.prev {
    float: left;
}

#page_single .linkbtn a {
    color: #0c7696;
}

#page_category .topics dl {
    width: 100%;
    border-bottom: 1px solid #707070;
    padding: 17px 0 15px;
}

#page_category .topics dl dt {
    width: 12%;
    float: left;
    color: #555555;
}

#page_category .topics dl dd {
    width: 88%;
    float: left;
}

#page_category .topics dl dd a {
    text-decoration: underline !important;
}

#page_category .topics dl dd h3 {
    text-decoration: underline !important;
    font-weight: bold;
    padding-bottom: 5px;
    color: #0c7696;
    font-size: 15px;
    font-size: 1.5rem;
}


/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
 --bottom_link
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
#bottom_link .top {
    text-align: center;
}

#bottom_link .col {
    width: 31%;
}

#bottom_link li:first-of-type {
    margin-right: 3%;
}

#bottom_link li:last-of-type {
    margin-left: 3%;
}

#bottom_link .col img {
    width: 100%;
}

#bottom_link .photo_title figure {
    position: relative;
    overflow: hidden;
}

#bottom_link .photo_title img {
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
    width: 100%;
    height: auto;
}

#bottom_link .photo_title a:hover img {
    transform: scale(1.1);
    transition-duration: 0.3s;
}

#bottom_link .photo_title figcaption {
    background-color: rgba(12, 118, 150, 0.8);
    padding: 6px 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: #fff;
    font-weight: bold;
}
