@charset "UTF-8";

header .pcmenu .header-bottom.fixed {
    border-bottom: 2px solid #40bfee;
	position: fixed;
	display: block;
	z-index: 9999;
	background: #fff;
	width: 100%;
    margin-bottom: 0;
    margin-top: 0;
	height: 60px;
}
header .pcmenu .header-bottom.fixed nav ul li a {
    padding: 18px 15px;
}

header .pcmenu .header-bottom.fixed nav ul li::before {
    top: 11px;
}
