@charset "UTF-8";
/* padding */
.pt_s {
  padding-top: 2%;
}
.pt {
  padding-top: 4%;
}
.pt_l {
  padding-top: 6%;
}
.pb_s {
  padding-bottom: 2%;
}
.pb {
  padding-bottom: 4%;
}
.pb_l {
  padding-bottom: 6%;
}

/* margin */
.mt_s {
  margin-top: 2%;
}
.mt {
  margin-top: 4%;
}
.mt_l {
  margin-top: 6%;
}
.mb_s {
  margin-bottom: 2%;
}
.mb {
  margin-bottom: 4%;
}
.mb_l {
  margin-bottom: 6%;
}

/* font-size */
.fsize_xl {
    font-size: 18px;
    font-size: 1.8rem;
}

.fsize_l {
    font-size: 16px;
    font-size: 1.6rem;
}

.fsize {
    font-size: 14px;
    font-size: 1.4rem;
}

.fsize_s {
    font-size: 12px;
    font-size: 1.2rem;
}

.fsize_xs {
    font-size: 10px;
    font-size: 1.0rem;
}

/* テキスト用BOX pタグの下に改行が入る。 */
div.textbox p {
  margin-bottom: 1em;
}
div.textbox p:last-child {
  margin-bottom: 0;
}

/********************************************************************************
　--common
*********************************************************************************/
/* --linkbtn
************************************/

.linkbtn1 {
  text-align:center;
}
.linkbtn1 a {
  border: 1px solid #0c7696;
  display: inline-block;
  color: #fff !important;
  font-weight: bold;
  background: #0c7696;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.linkbtn1 a:hover {
  background: #fff;
  color: #0c7696 !important;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}


.linkbtn2 {
  text-align:center;
}
.linkbtn2 a {
  border: 1px solid #ff8900;
  display: inline-block;
  color: #fff !important;
  font-weight: bold;
  background: #ff8900;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  font-size: 14px;
  font-size: 1.4rem;
}
.linkbtn2 a:hover {
  background: #fff;
  color: #ff8900 !important;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/* --headline
************************************/
.headline1 {
  color:#574a20;
  font-size:20px;
  font-size:2.0rem;
  text-align:center;
  margin:0 auto;
  line-height: 1.4;
  letter-spacing:1px;
  z-index: 0;
    padding-top: 4%;
}
.headline1 span {
  text-align: center;
    position: relative;
    display: inline;
    z-index: 0;
}
.headline1 span::before {
  z-index: -1;
  content: "";
  display: inline-block;
  width: 60px;
  height: 53px;
  background-image: url(../../images/headline_icon.png);
  background-size: contain;
  vertical-align: middle;
  position: absolute;
  top: -16px;
  left: -37px;
}
.headline2 {
  color:#574a20;
  font-size:18px;
  font-size:1.8rem;
  text-align:center;
  line-height: 1.4;
  letter-spacing:1px;
  z-index: 0;
  font-family: "Hannari", "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
  font-weight: 900;
}


.headline3 {
  color:#683b00;
  font-size: 38px;
  font-size:3.8rem;
  font-weight: 900;
  display: flex;
  align-items: center;
  width: 1000px;
  margin: 0px auto;
}
.headline3:before, .headline3:after {
  content: "";
  flex-grow: 1;
  height: 2px;
  background: #683b00;
  display: block;
}
.headline3:before {
  margin-right: 1.5em;
}
.headline3:after {
  margin-left: 1.5em;
}

.headline4 {
  position:relative;
}
.headline4 span {
    position: absolute;
    top: -7px;
    left: 70px;
    font-size: 16px;
}
.headline4 span.line {
    border-bottom: 1px solid #00a0e9;
    position: absolute;
    display: block;
    width: 96%;
    top: 20px;
    left: 4%;

}
.headline4 img {
    border-radius: 150px;
    height: 50px;
    width: 50px;
    background: #fff;
    z-index: 1;
    position: relative;
    border: 1px solid #707070;
    position: relative;
    top: -15px;
    left: 5px;
    display: block;
}

.headline5 {
  font-family: "Hannari", "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
  color:#574a20;
  font-weight: bold;
  font-size:18px;
  font-size:1.8rem;
  text-align:center;
  margin:0 auto;
  line-height: 1.4;
  letter-spacing:0px;
  z-index: 0;
    padding-top: 30px;
}
.headline5 span {
    width: 100%;
    text-align: center;
    position: relative;
    display: block;
    z-index: 0;
}
.headline5 span::before {
    content: '';
    display: inline-block;
    width: 50px;/*画像の幅*/
    height: 50px;/*画像の高さ*/
    background-image: url(../../images/headline_icon.png);
    background-size: contain;
    vertical-align: middle;
    position: absolute;
    top: -12px;
    z-index: -1;
    margin: 0 auto;
    left: 45%;
}
#page_homepage .headline5 {
    padding-top:4%;
}

#page_homepage .headline5 span::before {
    left: 44.5%;
}
#page_product_list .headline5 {
    padding-bottom:8%;
}


/* --bg_color
************************************/
.bg_white {
  background: #fff;
}
.bg_beige {
  background: #faf9f4;
}

/* --table
************************************/
table.style1,
#mfp_confirm_table
{
  margin:2% 0px 20px;
  font-size:13px;
  font-size:1.3rem;
  width:100%;
  background:#fff;
  color: #683b00;
}
table.style1 th,
#mfp_confirm_table th
{
  text-align:left;
  display: block;
  background:#0c7696;
  color:#fff;
  padding:2% 4%;
  width:100%;
}
table.style1 th em{
    float: left;
    background: #f10023;
    color: #fff;
    font-size: 11px;
    padding: 2px 5px;
    margin-right: 9px;
    margin-top: 0px;
}
table.style1 td,
#mfp_confirm_table td
{
background: #fff;
    padding: 9px 12px 9px;
    width: 100%;
    display: block;
}
form input[type="text"], input[type="mail"], select {
padding: 3px 10px;
    font-size: 15px;
    font-size: 1.5rem;
    /* margin: 4px 0; */
    width: 100%!important;
    border: 1px solid #a7a7a7;
}
textarea {
    padding: 7px 10px;
    font-size: 15px;
    font-size: 1.5rem;
    margin: 4px 0;
    width: 100%!important;
    border: 1px solid #a7a7a7;
    height:90px;
}

.mfp_err {
  color:#ac0019!important;
}
#mfp_phase_confirm_inner {
  color: #683b00;
  font-size:13px;
  font-size:1.3rem;
}
#mfp_phase_confirm_inner table {
  margin-bottom:4%;
}
#mfp_phase_confirm_inner .mfp_buttons {
  margin-bottom:4%;
}


/* --link
************************************/
.link_red {
  color: #c73c25 !important; }

.link_red:hover {
  text-decoration: underline; }

.link_blue {
  color: #2687a8 !important; }

.link_blue:hover {
  text-decoration: underline; }

/* --font_color
************************************/
.font_red {
  color: #c73c25 !important; }

.font_blue {
  color: #2687a8 !important; }

/* --img_center
************************************/
.img_center {
  display: block;
  text-align: center;
  margin: 0 auto;
}
/* --sml
************************************/
/* --new
************************************/
.new:after {
  content: "new";
  margin-left: 5px;
  color: #fff;
  background: #c73c25;
  padding: 1px 3px;
  font-size: 12px; }

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

