@charset "UTF-8";
@import url(//fonts.googleapis.com/earlyaccess/notosansjapanese.css);

@font-face {
    font-family: 'yasashisa';
    src: url('../../font/yasashisa.eot') format('eot'),
        url('../../font/yasashisa.ttf') format('ttf'),
        url('../../font/yasashisa.woff') format('woff');
}

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
　PC・SP共通設定
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
html,
body {
    width: 100%;
    background: #fff;
}

html {
    font-size: 62.5%;
}

body {
    background: #fff;
    text-align: center;
    color: #000;
    font-family: "Noto Sans Japanese", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Verdana, "ＭＳ ゴシック", Osaka-mono, sans-serif;
    -webkit-text-size-adjust: 100%;
}

/* link */
a {
    color: #000;
    text-decoration: none;
    outline: none;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.sp {
    display: block;
}

.pc {
    display: none;
}

#pan {
    display: none;
}

a:link {
    color: #000;
}

a:visited {
    color: #000;
}

a:hover {
    color: #000;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

ul.indent {
    text-indent: -1em;
    padding-left: 1em;
}

@font-face {
    font-family: "yasashisa";
    src: url("yasashisa.eot?") format("eot"), url("yasashisa.woff") format("woff");
}

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
　--pc
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/**************************
　--common(pc)
++++++++++++++++++++++++++*/
body {
    line-height: 1.4;
    font-size: 14px;
    font-size: 1.4rem;
}

/**************************
　--header(pc)
++++++++++++++++++++++++++*/
header {
    position: relative;
    z-index: 999;
    position: fixed;
    width: 100%;
}

header h1 {
    position: absolute;
    left: 85px;
    top: 0;
}

header .pcmenu {
    display: none;
}

/**************************
　--contents(pc)
++++++++++++++++++++++++++*/

#page_index #contents {
    margin-top: 48px;
}

.wrapper {
    width: 92%;
    margin: 0px auto;
    text-align: left;
    padding: 0;
}

/**************************
　--footer(pc)
++++++++++++++++++++++++++*/
footer {
    padding-top: 4%;
}

footer .title {
    color: #3f3f3f;
}

footer .grid_col2 .headline3 {
    width: 100%;
    font-size: 15px;
    font-size: 1.5rem;
    color: #000;
    font-weight: normal;
}

footer .grid_col2 .headline3:before,
footer .grid_col2 .headline3:after {
    background: #000;
    height: 1px;
}

footer nav ul {
    margin: 0 0% 0%;
    padding-top: 4%;
}

footer nav ul li {
    background: rgba(255, 255, 255, 0.95);
    padding: 0% 0%;
    width: 100%;
    position: relative;
    z-index: 0;
}

footer nav ul li:before {
    z-index: -1;
    content: "";
    display: inline-block;
    width: 26px;
    height: 23px;
    background-image: url(../../images/header_menu_icon.png);
    background-size: contain;
    position: absolute;
    top: 5px;
    left: 3px;
}

footer nav ul li.text:before {
    content: none;
}

footer nav ul li a {
    color: #574a20;
    text-align: left;
    text-decoration: none;
    display: block;
    border-bottom: 1px solid #aaa;
    padding: 2% 4%;
    position: relative;
    font-size: 14px;
    font-size: 1.4rem;
}

footer nav ul li a::after {
    position: absolute;
    top: 50%;
    right: 4%;
    display: block;
    content: "";
    width: 6px;
    height: 6px;
    margin-top: -3px;
    border-top: 1px solid #aaa;
    border-right: 1px solid #aaa;
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

footer nav ul li.text {
    background: transparent;
    text-align: left;
    display: inline;

}

footer nav ul li.text a {
    background: transparent;
    text-align: left;
    display: inline;
    font-size: 11px;
    font-size: 1.1rem;
    color: #fff;

}

footer nav ul li.text a:after {
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
    top: 53%;
    right: 0%;
}

footer nav ul.comp {
    margin: 2% 0 0;
}

footer nav ul.comp li a {
    text-decoration: underline;
    padding: 0;
    text-align: center;
    border-bottom: none;
    width: 100%;
    display: block;
    float: left;
}

footer nav ul.comp li a:after {
    content: none;
}

footer nav ul.comp li.pc {
    display: none;
}

footer .grid_col2.ptn2 .col h3 {
    font-size: 14px;
    font-size: 1.4rem;
}

.footer-top {
    background: #3e92ab;
    padding-bottom: 4%;
}

.footer-bottom {
    padding-top: 4%;
    background: #0c7696;
}

footer .footer-logo {
    text-align: center;
}

footer .footer-logo img {
    width: 210px;
    margin-bottom: 4%;
    margin-top: 2%;
}

footer .footer-contact {
    margin: 0 auto;
}

footer .footer-contact .tel {
    text-align: center;
    font-size: 18px;
    font-weight: 900;
    margin-bottom: 2%;
    color: #fff !important;

}

footer .footer-contact .tel a {
    color: #fff !important;
}

footer .footer-contact p.rest {
    padding-right: 8em;
    font-weight: bold;
    font-size: 11px;
    text-align: center;
    color: #fff;

}

footer .footer-contact address {
    font-weight: bold;
    font-size: 11px;
    width: 250px;
    margin: 0 auto;
    text-align: right;
    color: #fff;
}

footer .footer-contact .tel::before {
    content: "";
    display: inline-block;
    width: 23px;
    height: 19px;
    background-image: url(../../images/footer_tel.svg);
    background-size: contain;
    vertical-align: middle;
    position: relative;
    top: -2px;
}

footer .footer-contact .top {
    text-align: center;
    margin-top: 6%;
}

footer .footer-contact .top .instagram {
    padding-right: 2%;
}

footer .footer-contact .top .instagram img {
    width: 30px;
}

footer .footer-contact .top .facebook img {
    width: 30px;
}

footer .copy {
    font-size: 11px;
    font-size: 1.1rem;
    background: #0c7696;
    text-align: center;
    padding: 2% 0;
    color: #fff;
}

#page-top a {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 10000;
    text-align: center;
    text-decoration: none;
    color: #fff;
    padding: 0% 0;
}

@media (max-width: 767px) {
    #page-top a {
        width: 15%;
        bottom: 15px;
        right: 15px;
    }
}

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
　--sp
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/**************************
　--header(sp)
++++++++++++++++++++++++++*/
header .spmenu {
    z-index: 999999;
    width: 100%;
    height: 48px;
    top: 0;
    display: block;
    position: fixed;
    background: #fff;
    border-bottom: 2px solid #40bfee;

}

@media screen and (min-width: 768px) {
    header .spmenu {
        display: none;
    }
}

@media screen and (min-width: 1000px) {
    header .spmenu {
        display: none;
    }
}

header .spmenu h2 {
    text-align: left;
    padding: 2px 0 0 10px;
    float: left;
}

header .spmenu h2 img {
    width: 116px;
}

header .spmenu h2 .text img {
    display: none;
}

@media screen and (min-width: 300px) {
    header .spmenu h2 .text img {
        width: 200px;
        display: block;
    }

}

header h2 span {
    display: block;
    float: right;
    padding-top: 11px;
    padding-left: 7px;
    font-weight: bold;
    font-size: 14px;
    font-size: 1.4rem;
}

header .spmenu .twitter {
    position: fixed;
    top: 12px;
    right: 60px;
}

header .spmenu .twitter img {
    width: 31px;
}

header .spmenu .drawer-hamburger {
    width: 2.6rem;
    padding: 5px 3% 8%;
    position: fixed;
    z-index: 99999;
}

header .spmenu .drawer-brand {
    max-width: 200px;
    margin-left: -15px;
}

header .spmenu .drawer-brand img {
    width: 84%;
    height: auto;
    margin-top: 7px;
}

header .spmenu .top {
    background: #fff;
    border-bottom: 2px solid #40bfee;
    padding: 5px 0;
}

header .spmenu .top .lang {
    float: left;
}

header .spmenu .top a.instagram {
    margin-left: 5px;
}


header .spmenu .top a {
    float: left;
    margin-right: 5px;
}

header .spmenu .drawer-menu-item {
    border-bottom: 1px solid #424242;
    text-align: left;
    padding: 3% 8% 3% 4%;
    background: #fff;
    color: #574a20;
    position: relative;
    font-size: 15px;
    font-size: 1.5rem;
    z-index: 0;

}

header .spmenu .drawer-menu-item:before {
    z-index: -1;
    content: "";
    display: inline-block;
    width: 26px;
    height: 23px;
    background-image: url(../../images/header_menu_icon.png);
    background-size: contain;
    position: absolute;
}

header .spmenu .text .drawer-menu-item {
    text-align: left;
    padding: 1.5% 8% 1.5% 4%;
    background: transparent;
    color: #fff;
    font-size: 13px;
    font-size: 1.3rem;
    border-bottom: none;
    font-weight: normal;
}

header .spmenu .text .drawer-menu-item:before {
    content: none;
}

header .spmenu .text .drawer-menu-item:after {
    content: none;
}

header .spmenu .text .drawer-menu-item {
    text-decoration: underline;
}

header .spmenu .text .drawer-menu-item:hover {
    color: #fff;
}

header .spmenu .color .drawer-menu-item {
    color: #574a20;
    font-weight: bold;
    border-bottom: 1px solid #424242;
    background: #fff;
}

.drawer-close .drawer-hamburger-icon:before {
    top: -7px !important;
}

.drawer-close .drawer-hamburger-icon:after {
    top: 7px !important;
}

header .spmenu .menu-icon {
    margin-top: 10px;
    display: block;
}

header .spmenu li #acMenu dt {
    border-bottom: 1px solid #424242;
    text-align: left;
    padding: 3% 4%;
    font-size: 15px;
    font-size: 1.5rem;
    background: #424242;
    color: #fff;
}

header .spmenu li #acMenu dd {
    background: #424242;
    text-align: center;
    display: none;
    margin: 0px;
    padding: 0px;
}

header .spmenu li #acMenu .accordion_icon,
.accordion_icon span {
    display: inline-block;
    transition: all .4s;
    box-sizing: border-box;
}

header .spmenu li #acMenu .accordion_icon {
    position: relative;
    width: 20px;
    height: 20px;
    float: right;
    margin-right: -5px;
    top: 7px;
    margin-bottom: 0px !important;
}

header .spmenu li #acMenu .accordion_icon span {
    position: absolute;
    left: 6px;
    width: 50%;
    height: 1px;
    background-color: #424242;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -ms-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
}

header .spmenu li #acMenu .accordion_icon span:nth-of-type(1) {
    top: 5px;
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
}

header .spmenu li #acMenu .accordion_icon span:nth-of-type(2) {
    top: 5px;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
}

/*＋、－切り替え*/
header .spmenu li #acMenu .accordion_icon.active span:nth-of-type(2) {
    display: none;
}

#acMenu .accordion_icon.active span:nth-of-type(1) {
    top: 5px;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}

header .spmenu .inner {
    background-repeat: no-repeat;
    width: 100%;
    height: 1000px;
    background: #0c7696;
}

header .spmenu .drawer-menu-item:after {
    position: absolute;
    top: 50%;
    right: 4%;
    display: block;
    content: "";
    width: 6px;
    height: 6px;
    margin-top: -3px;
    border-top: 1px solid #424242;
    border-right: 1px solid #424242;
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

header .spmenu .color .drawer-menu-item:after {
    border-top: 1px solid #424242;
    border-right: 1px solid #424242;
}

header .spmenu .drawer-menu-item:hover {
    color: #000;
    text-decoration: none;
}

.drawermenu .inner {
    border-top: none !important;

}

header .spmenu .store_info {
    background: #fff;
    width: 92%;
    margin: 2% auto 0;
    padding: 2%;
    text-align: left;

}

header .spmenu .store_info h3 {
    font-size: 12px;
    font-size: 1.2rem;
    padding-top: 2%;
    font-weight: bold;
}

header .spmenu .store_info p {
    font-size: 11px;
    font-size: 1.1rem;
}

header .spmenu .store_info .title {
    color: #3f3f3f;
}

/**************************
　--footer(sp)
++++++++++++++++++++++++++*/

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
　--pagetitle
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
#pagetitle {
    margin-top: 48px;
}

#pagetitle .photo h2 {
    padding-top: 48px;
    font-size: 20px;
    color: #fff;
    font-weight: 900;
    font-family: "Hannari", "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}

#pagetitle .photo {
    background-size: cover !important;
    height: 120px;
}

#pagetitle .photo.topics {
    background: url(../../images/pagetitle_topics.jpg) no-repeat;
    background-size: cover;
}



.page_onlineshop #pagetitle .photo {
    background: url(../../images/pagetitle_onlineshop.jpg) no-repeat !important;
    height: 170px;
    background-size: cover !important;
}

.page_onlineshop #pagetitle .photo h2 {
    padding-top: 20px;
}

#pagetitle .nav-onlineshop {
    display: none;
}

.page_onlineshop #pagetitle .nav-onlineshop {
    display: block;
    width: 100%;
    padding: 0px 0;
    font-size: 14px;
    position: relative;
    z-index: 1;
}

.page_onlineshop #pagetitle .nav-onlineshop .wrapper {
    width: 100%;
}

.page_onlineshop #pagetitle .nav-onlineshop ul li {
    float: left;
    text-align: center;
    line-height: 1.1;
    width: 50%;
    background-color: rgba(0, 160, 233, 0.8);
    padding: 5px 0;
    font-size: 11px;
    border-bottom: 1px solid #fff;
}

.page_onlineshop #pagetitle .nav-onlineshop ul li:nth-child(odd) {
    border-right: 1px solid #fff;
}

.page_onlineshop #pagetitle .nav-onlineshop ul li a {
    color: #fff;
    display: block;
    padding: 5px 0;
    position: relative;
}

.page_onlineshop #pagetitle .nav-onlineshop ul li a:after {
    position: absolute;
    top: 50%;
    right: 4%;
    display: block;
    content: "";
    width: 6px;
    height: 6px;
    margin-top: -3px;
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

#pagetitle .img-onlineshop {
    display: none;
}

.page_onlineshop #pagetitle .wrapper {
    position: relative;
}

.page_onlineshop #pagetitle .img-onlineshop {
    display: block;
}

.page_onlineshop #pagetitle .img-onlineshop .left {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 80px;

}

.page_onlineshop #pagetitle .img-onlineshop .right {
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 0;
    width: 70px;
}

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
　--grid
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
.grid_col2 {
    width: 100%;
}

.grid_col2.ptn1 .col {
    width: 100%;
    display: block;
}

.grid_col2.ptn2 .col {
    width: 100%;
    display: block;
}

.grid_col3 {
    width: 100%;
}

.grid_col3 .col {
    /*  width: 50%;
  float:left;*/
}

.grid_col4 {
    width: 100%;
}

.grid_col4 .col {
    width: 50%;
    float: left;
}

.tablecol {
    display: block;
    width: 100%;
}

.tablecol.col2 .col {
    display: block;
    width: 100%;
}

.tablecol.col3 .col {
    display: block;
    width: 100%;
}

.tablecol.col4 .col {
    display: block;
    width: 100%;
}

.tablecol.col5 .col {
    display: block;
    width: 100%;
}

.flexcol {
    width: 100%;
}

.flexcol .photo {
    width: 100%;
    display: block;
}

.flexcol .text {
    width: 100%;
    display: block;
    padding: 4%;
    line-height: 2;
}


#page_top {
    position: fixed;
    bottom: 2%;
    right: 2%;
    z-index: 99;
    width: 50px;
    height: 50px;
}
}
