@charset "UTF-8";

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
　--page_index
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

/* mainimag */
#page_index .mainimg {
    display: none;
}

#page_index .mainimg-sp {
    background: url(../../images/mainimgsp.jpg) no-repeat center center;
    height: 400px;
    background-size: cover;
    position: relative;
}

#page_index .mainimg-sp .cont1 {
    position: absolute;
    bottom: 8%;
    width: 240px;
    left: 0;
    right: 0;
    margin: auto;
}

#page_index .mainimg_text {
    position: absolute;
    top: 36%;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    padding: 4%;
}

@media screen and (min-width: 420px) {
    #page_index .mainimg_text {
        top: 40%;
    }
}

@media screen and (min-width: 768px) {
    #page_index .mainimg-sp br.sp {
        display: block;
    }
}

@media screen and (min-width: 420px) {
    #page_index .mainimg-sp br.sp {
        display: none;
    }
}

/* about */
#page_index .about .photo {
    background-size: cover !important;
    min-height: 341px;
}

#page_index .about .text p {
    height: 100%;
    font-size: 15px;
    font-size: 1.5rem;
    line-height: 1.6;
}

#page_index .about .flexcol .photo {
    background-size: cover !important;
    min-height: 300px;
    background-position: center !important;
}

#page_index .about .flexcol .text {
    color: #574a20;
    font-size: 17px;
    font-size: 1.7rem;
    display: block !important;
    line-height: 2;
    padding: 4% 0;
}

#page_index .about .flexcol .text h4 {
    font-size: 20px;
    font-size: 2.0rem;
    text-align: left;
    padding-bottom: 2%;
}

#page_index .about a.linkbtn {
    padding: 6px 4%;
    width: 78%;
    text-align: center;
    border: 1px solid #0c7696;
    display: block;
    color: #fff !important;
    font-weight: bold;
    margin: 4% auto 0;
    background: #0c7696;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    font-size: 14px;
    font-size: 1.4rem;
}

#page_index .about a.linkbtn:hover {
    background: #fff;
    color: #0c7696 !important;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

/* topics */
#page_index .topics ul li {
    width: 100%;
}

#page_index .topics ul li:first-of-type {
    margin-bottom: 4%;
}

#page_index .topics ul li:last-of-type {
    margin-top: 4%;
}

#page_index .topics ul li .box {
    padding: 4%;
    border: 1px solid #574a20;
    color: #574a20;
}

#page_index .topics ul li .box h3 {
    text-align: left;
    font-size: 16px;
    font-size: 1.6rem;
}

#page_index .topics ul li .date {
    padding: 10px 0 5px;
}

#page_index .topics ul li .text {
    padding: 10px 0 10px;
    font-size: 13px;
    font-size: 1.3rem;
}

#page_index .topics ul li .box p {
    line-height: 2;
}

#page_index .topics .linkbtn1 a {
    padding: 6px 0;
    width: 78%;
    font-size: 13px;
    font-size: 1.3rem;
}

/* ranking */
#page_index .ranking ul li img {
    border-radius: 150px;
    height: 250px;
    width: 250px;
    background: #fff;
    z-index: 1;
    position: relative;
}

#page_index .ranking ul li.rank1 img {
    border: 3px solid #40bfee;
}

#page_index .ranking ul li.rank2 img {
    border: 3px solid #0c7696;
}

#page_index .ranking ul li.rank3 img {
    border: 3px solid #5f532b;
}

#page_index .ranking ul li {
    position: relative;
    margin-bottom: 12%;
}

#page_index .ranking ul li:after {
    position: absolute;
    left: 14%;
    top: -16px;
    z-index: 0;
    content: "";
    display: inline-block;
    width: 70px;
    height: 53px;
    background-size: contain;
}

#page_index .ranking ul li.rank1:after {
    background-image: url(../../images/runking1.png);
}

#page_index .ranking ul li.rank2:after {
    background-image: url(../../images/runking2.png);
}

#page_index .ranking ul li.rank3:after {
    background-image: url(../../images/runking3.png);
}

#page_index .ranking ul li .text {
    text-align: center;
    color: #574a20;
    font-weight: bold;
}

#page_index .ranking ul li.rank3 {
    margin-bottom: 0;
}

#page_index .ranking .linkbtn1 a {
    padding: 6px 4%;
    width: 78%;
}

#page_index .ranking ul li.rank2 {
    width: 48%;
    float: left;
}

#page_index .ranking ul li.rank3 {
    width: 48%;
    float: left;
}

#page_index .ranking ul li.rank2 img {
    height: 150px;
    width: 150px;
}

#page_index .ranking ul li.rank3 img {
    height: 150px;
    width: 150px;
}

#page_index .ranking ul li.rank2:after,
#page_index .ranking ul li.rank3:after {
    left: 5%;
    top: -26px;
}


@media screen and (max-width: 450px) {
    #page_index .ranking ul li.rank2 img {
        height: 120px;
        width: 120px;
    }

    #page_index .ranking ul li.rank3 img {
        height: 120px;
        width: 120px;

    }
}


/* net_store */
.net_store a:hover img {
    opacity: 0.8;
}

.net_store a img {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

/* access */
#page_index .access iframe {
    width: 100%;
    height: 250px;
    vertical-align: bottom;
}

#page_index .access_bottom {
    color: #574a20;
    line-height: 1.4;
}

#page_index .access_bottom .col1 {
    padding-top: 4%;
    margin-bottom: 4%;
    padding-bottom: 2%;
    width: 100%;
    float: left;
    font-size: 15px;
    font-size: 1.5rem;
    font-weight: bold;
    border-bottom: 1px solid #5f532b;
}

#page_index .access_bottom .col2 {
    font-size: 13px;
    font-size: 1.3rem;
    padding-top: 4%;
    width: 100%;
}

#page_index .access_bottom .col3 {
    font-size: 13px;
    font-size: 1.3rem;
    padding-top: 4%;
    width: 100%;
}

#page_index .shishoku p {
    color: #574a20;
    line-height: 1.4;
    padding: 0 0%;
}

#page_index .shishoku img {
    border: 1px solid #707070;
}

#page_index .wakimizu p {
    color: #574a20;
    line-height: 1.4;
    padding: 0 0%;
}

#page_index .wakimizu img {
    border: 1px solid #707070;
}

#page_index .other_store ul {
    margin: 0 auto;
    padding: 0;
}

#page_index .other_store ul li {
    width: 100%;
    float: left;
}

#page_index .other_store ul li img {
    width: 100%;
}

#page_index .other_store ul li h4 {
    font-weight: bold;
    text-align: center;
    padding: 2% 0 0;
    font-size: 15px;
    font-size: 1.5rem;
}

#page_index .other_store ul li p {
    font-size: 12px;
    font-size: 1.2rem;
    line-height: 1.2;
    padding: 4px 0 0;
}

#page_index .other_store ul li img {
    border: 1px solid #707070;
}

#page_index .other_store ul li:first-of-type {
    margin-bottom: 8%;
}

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
 --page_kodawari
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
#page_kodawari #contents p {
    color: #574a20;
    font-size: 14px;
    font-size: 1.4rem;
}

#page_kodawari #contents br.sp {
    display: block;
}

@media screen and (min-width: 340px) {
    #page_kodawari #contents br.sp {
        display: none;
    }
}


/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
 --page_shop
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
#page_shop .shop-top h3 {
    text-align: center;
}

#page_shop .shop-top h3 img {
    width: 180px;
}

#page_shop .shop-top p {
    color: #484848;
    font-size: 13px;
    font-size: 1.3rem;
    text-align: center;
}

#page_shop .shop-top ul li {
    width: 100%;
}

#page_shop .shop-top ul li img {
    width: 100%;
    height: auto;
    border: 1px solid #dbdbdb;
}

#page_shop .shop-top ul li address {
    color: #484848;
    font-size: 13px;
    font-size: 1.3rem;
    padding: 2% 0 0 0%;
}

#page_shop .shop-top ul li:first-of-type {
    margin-bottom: 4%;
}

#page_shop .shop-top ul li:last-of-type {
    margin-bottom: 0%;
}

#page_shop .map iframe {
    width: 100%;
    height: 260px;
    vertical-align: bottom;
}

#page_shop .shop-about p {
    padding-left: 0%;
    padding-right: 0%;
    color: #574a20;
}

#page_shop .shop-about img {
    border: 1px solid #707070;
}


#page_shop .bnr .bnr_outer {
    background: #00a0e9;
    position: relative;
}

#page_shop .bnr .bnr_outer .photo {
    width: 30%;
    float: left;
    z-index: 100;
    position: relative;
}

#page_shop .bnr .bnr_outer .photo:before {
    content: '';
    display: inline-block;
    width: 100px;
    height: 100px;
    background-image: url(../../images/shop_bnr_photo.png);
    background-size: contain;
    vertical-align: middle;

}

#page_shop .bnr .bnr_outer .bnr {
    width: 70%;
    float: left;
    padding-top: 42px;
    color: #fff;
    font-weight: bold;
    padding-left: 30px;
    font-size: 14px;
}

#page_shop .bnr .bnr_outer .top_box {
    width: 100%;
    height: 12px;
    background: #fff;
    position: absolute;
    top: 0px;
    z-index: 99;
}

#page_shop .bnr .bnr_outer .bottom_box {
    width: 100%;
    height: 12px;
    background: #fff;
    position: absolute;
    bottom: 0px;
    z-index: 99;
}

#page_shop .access_bottom {
    color: #574a20;
    line-height: 1.4;
}

#page_shop .access_bottom .col1 {
    padding-top: 4%;
    margin-bottom: 4%;
    padding-bottom: 2%;
    width: 100%;
    float: left;
    font-size: 15px;
    font-size: 1.5rem;
    font-weight: bold;
    border-bottom: 1px solid #5f532b;
}

#page_shop .access_bottom .col2 {
    font-size: 13px;
    font-size: 1.3rem;
    padding-top: 4%;
    width: 100%;
}

#page_shop .access_bottom .col3 {
    font-size: 13px;
    font-size: 1.3rem;
    padding-top: 4%;
    width: 100%;
}

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
 --page_recipe
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
#page_recipe #contents .recipe {
    color: #535353;
    padding-top: 40px
}

#page_recipe .recipe .linkbtn2 a {
    padding: 7px 8%;
    margin-top: 15px;
}

#page_recipe .recipe h3 {
    font-size: 16px;
    font-size: 1.6rem;

}

#page_recipe .recipe h3 .text {
    top: -5px;
    left: 10px;
    position: relative;
    font-weight: bold;
}


#page_recipe .recipe h3 .num {
    background: #0C7696;
    color: #fff;
    position: relative;
    font-size: 20px;
    font-size: 2.0rem;
    padding: 19px 12px 2px;
    font-family: 'arial';
    top: 2px;
}

#page_recipe .recipe h3 .num:before {
    content: "レシピ";
    position: absolute;
    top: 6px;
    left: 7px;
    font-size: 11px;
    font-size: 1.1rem;
}


#page_recipe .recipe .main_box {
    width: 100%;
}

#page_recipe .recipe .main_box .left {
    width: 100%;
    float: left;
}

#page_recipe .recipe .main_box .right {
    width: 100%;
    float: left;
    text-align: center;
}

#page_recipe .recipe .main_box .right h4 {
    font-size: 17px;
    font-size: 1.7rem;
}

#page_recipe .recipe .recipe_cont {
    width: 100%;
    padding-top: 8%;
}

#page_recipe .recipe .material {
    width: 100%;
    float: left;
}

#page_recipe .recipe .material dl {
    width: 100%;
    position: relative;
    line-height: 1.6;
}

#page_recipe .recipe .material dl:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    margin: 12px 0 0 0;
    background-image: linear-gradient(to right, #7A7A7A, #7A7A7A 1px, transparent 1px, transparent 2px);
    background-size: 6px 2px;
    background-position: top;
    background-repeat: repeat-x;
}

#page_recipe .recipe .material dl dt {
    width: 86%;
    float: left;

}

#page_recipe .recipe .material dl dd {
    width: 14%;
    float: left;
    padding-left: 10px;
    background: #fff;
    z-index: 99;
    position: relative;
}

@media screen and (max-width:450px) {
    #page_recipe .recipe .material dl dt {
        width: 84%;
    }

    #page_recipe .recipe .material dl dd {
        width: 16%;
    }

}

@media screen and (max-width:410px) {
    #page_recipe .recipe .material dl dt {
        width: 82%;
    }

    #page_recipe .recipe .material dl dd {
        width: 18%;
    }

}

@media screen and (max-width:380px) {
    #page_recipe .recipe .material dl dt {
        width: 80%;
    }

    #page_recipe .recipe .material dl dd {
        width: 20%;
    }

}

@media screen and (max-width:330px) {
    #page_recipe .recipe .material dl dt {
        width: 78%;
    }

    #page_recipe .recipe .material dl dd {
        width: 22%;
    }

}

#page_recipe .recipe .material dl dt .text {
    background: #fff;
    z-index: 99;
    position: relative;
    padding-right: 10px;
}

#page_recipe .recipe .material .small {
    font-size: 12px;
}


#page_recipe .recipe .flow {
    width: 100%;
    float: left;
    margin-top: 8%;
}

#page_recipe .recipe_cont .headline {
    border-bottom: 1px solid #7A7A7A;
    font-size: 17px;
    font-size: 1.7rem;
    margin-bottom: 15px;
}


#page_recipe .recipe .flow dl {
    width: 100%;
    padding-bottom: 20px;
}

#page_recipe .recipe .flow dl dt {
    width: 4em;
    float: left;
}

@media screen and (max-width:580px) {
    #page_recipe .recipe .flow dl dd {
        display: block;
        width: 100%;
    }

    #page_recipe .recipe .flow dl dt {
        display: block;
        width: 100%;

    }
}


#page_recipe .recipe .flow dl dd {
    width: auto;
    float: left;

}

#page_recipe .introduction .box {
    border: 1px solid #848484;
    background: #F9F0EA;
}

#page_recipe .introduction .box .left {
    width: 100%;
    float: left;
    padding: 4%;
}

#page_recipe .introduction .box .left .headline {
    border-bottom: 1px solid #7A7A7A;
    font-size: 16px;
    font-size: 1.6rem;
    margin-bottom: 5px;
    color: #535353;
    padding-bottom: 5px;
}

#page_recipe .introduction .box .left h5 {
    font-size: 16px;
    font-size: 1.6rem;
    padding-bottom: 8px;
    color: #000000;
}

#page_recipe .introduction .box .left p {
    font-size: 14px;
    font-size: 1.4rem;
    color: #000000;
    line-height: 1.5;
}

#page_recipe .introduction .box .left .name {
    font-size: 24px;
    font-size: 2.4rem;
    padding-right: 4%;
    color: #000000;
}

#page_recipe .introduction .box .right {
    width: 100%;
    float: left;
    padding: 4%;
    text-align: center;
}

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
 --page_products
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
#page_products .product {
    width: 100%;
}

#page_products .product .item-col {
    width: 100%;
    float: left;
}

#page_products .product .main .bx-wrapper img {
    width: 100%;
}

#page_products .product .item-outer {
    padding: 4%;
    border: 3px solid #dbd7d7;
}

#page_products .product .item-col {
    margin-bottom: 4%;
}

#page_products .product_grp {
    padding-top: 60px;
}

#page_products .product_grp h3 {
    position: relative;
}

#page_products .product_grp h3 span {
    position: absolute;
    top: -7px;
    left: 70px;
    font-size: 16px;
}

#page_products .product_grp h3 span.line {
    border-bottom: 1px solid #00a0e9;
    position: absolute;
    display: block;
    width: 94%;
    top: 20px;
    left: 4%;

}

#page_products .product_grp h3 img {
    border-radius: 150px;
    height: 50px;
    width: 50px;
    background: #fff;
    z-index: 1;
    position: relative;
    border: 1px solid #707070;
    position: relative;
    top: -15px;
    left: 5px;
}

#page_products .product h4 {
    font-size: 15px;
    font-size: 1.5rem;
    color: #535353;
    margin-bottom: 2%;

}

#page_products .product .cat_osusume {
    font-size: 12px;
    font-size: 1.2rem;
    background: #00a0e9;
    padding: 2px 6px 2px 6px;
    color: #fff;
    position: relative;
    top: -1px;
    margin-left: 5px;
}

#page_products .product .cat_new {
    font-size: 12px;
    font-size: 1.2rem;
    background: #e97d00;
    padding: 2px 6px 2px 6px;
    color: #fff;
    position: relative;
    top: -1px;
}

#page_products .product .cat_ninki {
    font-size: 12px;
    font-size: 1.2rem;
    background: #e92d00;
    padding: 2px 2px 2px 6px;
    color: #fff;
    position: relative;
    top: -1px;
}

#page_products .product h5 {
    font-size: 13px;
    font-size: 1.3rem;
    line-height: 1.3;
    color: #484848;
    padding-bottom: 8px;
}

#page_products .product p {
    font-size: 13px;
    font-size: 1.3rem;
    line-height: 1.3;
    color: #484848;
}

#page_products .product .linkbtn2 a {
    padding: 12px 12%;
    margin-top: 15px;
}

#page_products .reserv .photo {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

#page_products .reserv .photo img {
    width: 55%;
}

#page_products .reserv .text {
    width: 100%;
    color: #574a20;
}

#page_products .reserv .text h3 {
    font-size: 15px;
    font-size: 1.5rem;
    font-weight: bold;
    padding-bottom: 2%;
    text-align: center;
    color: #484848;
}

#page_products .reserv .text p {
    font-size: 13px;
    font-size: 1.3rem;
    line-height: 1.3;
}

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
 --products_menu
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
#products_menu li img {
    border-radius: 150px;
    height: 50px;
    width: 50px;
    background: #fff;
    z-index: 1;
    position: relative;
    border: 1px solid #707070;
    position: relative;
    top: -5px;
    left: 9px;
    display: block;
}

#products_menu li a {
    border: 1px solid #00a0e9;
    background: #00a0e9;
    color: #fff;
    width: 100%;
    display: block;
    border-radius: 20px
}

#products_menu li a:hover {
    background: #fff;
    color: #00a0e9;
}

@media (max-width: 768px) {
    #products_menu li {
        width: 48%;
        float: left;
        position: relative;
    }

    #products_menu li::after {
        position: absolute;
        content: "";
        width: 0;
        height: 0;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-top: 12px solid #fff;
        right: 13px;
        bottom: 20px;
    }

    #products_menu li span {
        position: absolute;
        top: 13px;
        font-size: 16px;
        right: 32px;

    }

    #products_menu li:nth-child(odd) {
        margin-right: 4%;
    }

    #products_menu li:nth-child(n + 3) {
        margin-top: 4%;
    }
}

@media (max-width: 467px) {
    #products_menu li {
        width: 100%;
        float: left;
        position: relative;
    }

    #products_menu li::after {
        position: absolute;
        content: "";
        width: 0;
        height: 0;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-top: 12px solid #fff;
        right: 13px;
        bottom: 20px;
    }

    #products_menu li span {
        position: absolute;
        top: 13px;
        font-size: 16px;
        right: 38px;

    }

    #products_menu li:nth-child(odd) {
        margin-right: 0%;
    }

    #products_menu li:nth-child(n + 3) {
        margin-top: 0%;
    }

    #products_menu li:nth-child(n + 1) {
        margin-top: 4%;
    }

}

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
 --page_contact
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
#page_contact .contact {
    padding-bottom: 2%;
}

#page_contact .contact .text {
    color: #683b00;
}

#page_contact .contact button {
    border: none;
    background: #ff8900;
    cursor: pointer;
    padding: 10px 0;
    width: 100%;
    font-size: 14px;
    color: #fff;
    letter-spacing: 1px;
    outline: none;
}

#page_contact .mfp_buttons {
    text-align: center;
}

#page_contact .privacy a {
    text-decoration: underline;
}

#page_thanks section.contact .box {
    padding: 4% 0;
    margin: 0px auto 2%;
    font-size: 13px;
    font-size: 1.3rem;
}



/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
 --page_single
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
#page_single section.news .box {
    background: #fff;
    padding: 4% 0 0;
    margin: 4% auto 0px;
}

#page_single section.news .news-outer {
    width: 100%;
}

#page_single section.news .news-outer .photo {
    width: 12%;
    float: left;
}

#page_single section.news .news-outer .photo img {
    border-radius: 70px;
    height: 90px;
    width: 90px;
}

#page_single section.news .news-outer .text {
    width: 88%;
    padding-top: 15px;
    float: left;
}

#page_single section.news .entry-header {
    padding: 0;
}

#page_single section.news .entry-header p {
    color: #555;
    padding-bottom: 5px;
    font-weight: bold;
}

#page_single section.news .entry-title {
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 1.5;
    color: #0c7696;
    font-weight: bold;
}

#page_single section.news .entry-content {
    padding: 4% 0;
    color: #454545;
    border-bottom: 1px solid #454545;
    margin-bottom: 4%;
    font-size: 13px;
}

#page_single section.news .entry-content .left {
    width: 100%;
}

#page_single section.news .entry-content .left img {
    width: 100%;
    height: auto;
}

#page_single section.news .entry-content .right {
    width: 100%;
    float: left;
    margin-top: 4%;
}

#page_single section.news ul.page_link li a {
    font-size: 11px;
    display: inline-block;
    padding: 4px 12px 4px;
    border-radius: 3px;
    border: solid 1px #717171;
    background: #fff;
    text-decoration: none;
    color: #717171;
}

#page_single section.news ul.page_link li.next {
    float: right;
}

#page_single section.news ul.page_link li.prev {
    float: left;
}

#page_single .linkbtn a {
    color: #0c7696;
}

#page_category .topics dl {
    width: 100%;
    border-bottom: 1px solid #707070;
    padding: 2% 0;
}

#page_category .topics dl dt {
    width: 100%;
    color: #555555;
}

#page_category .topics dl dd {
    width: 100%;
}

#page_category .topics dl dd a {
    text-decoration: underline !important;
}

#page_category .topics dl dd h3 {
    text-decoration: underline !important;
    font-weight: bold;
    padding-bottom: 5px;
    color: #0c7696;
    font-size: 13px;
    font-size: 1.3rem;
}

#page_single .linkbtn {
    margin: 4% 0 0;
    font-size: 12px;
    font-size: 1.2rem;
}

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
 --bottom_link
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
#bottom_link .top {
    text-align: center;
}

#bottom_link .top img {
    width: 20%;
}

#bottom_link .col {
    width: 100%;
}

#bottom_link li:first-of-type {
    margin-bottom: 2%;
}

#bottom_link li:last-of-type {
    margin-top: 2%;
}

#bottom_link .col img {
    width: 100%;
}

#bottom_link .photo_title figure {
    position: relative;
    overflow: hidden;
}

#bottom_link .photo_title img {
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
    width: 100%;
    height: auto;
}

#bottom_link .photo_title a:hover img {
    transform: scale(1.1);
    transition-duration: 0.3s;
}

#bottom_link .photo_title figcaption {
    background-color: rgba(12, 118, 150, 0.8);
    padding: 4px 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: #fff;
    font-weight: bold;
    font-size: 12px;
    font-size: 1.2rem;
}
