{#
 * This file is part of the Recommend Product plugin
 *
 * Copyright (C) 2016 LOCKON CO.,LTD. All Rights Reserved.
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
修正：松村
#}

<!-- ▼item_list▼ -->
<div id="item_list">
    <div class="row cf">
        {% for RecommendProduct in recommend_products %}
                <div class="pickup_item">
                    <div class="pickup_outer">
                    <a href="{{ url('product_detail', {'id': RecommendProduct.Product.id}) }}">
                        <dl>
                            <dt class="item_name">
                                    {{ RecommendProduct.Product.name }}
                                    <div class="tag">
                                        {% for ProductTag in RecommendProduct.Product.ProductTag %}
                                            <span id="product_tag_box__product_tag--{{ ProductTag.Tag.id }}" class="product_tag_list">{{ ProductTag.Tag }}</span>
                                        {% endfor %}
                                    </div>
                            </dt>
                            <dd class="item_photo">
                                <div class="item_photo"><img src="{{ app.config.image_save_urlpath }}/{{ RecommendProduct.Product.mainFileName|no_image_product }}"></div>
                            </dd>
                        </dl>
                    </a>
                    </div>    
            </div>
        {% endfor %}
    </div>
</div>
<!-- ▲item_list▲ -->