@charset "UTF-8";
/* padding */
.pt_s {
  padding-top: 10px;
}
.pt {
  padding-top: 30px;
}
.pt_l {
  padding-top: 50px;
}
.pb_s {
  padding-bottom: 10px;
}
.pb {
  padding-bottom: 30px;
}
.pb_l {
  padding-bottom: 50px;
}

/* margin */
.mt_s {
  margin-top: 10px;
}
.mt {
  margin-top: 30px;
}
.mt_l {
  margin-top: 50px;
}
.mb_s {
  margin-bottom: 10px;
}
.mb {
  margin-bottom: 30px;
}
.mb_l {
  margin-bottom: 50px;
}

/* font-size */
.fsize_xl {
    font-size: 24px;
    font-size: 2.4rem;
}

.fsize_l {
    font-size: 20px;
    font-size: 2rem;
}

.fsize {
    font-size: 16px;
    font-size: 1.6rem;
}

.fsize_s {
    font-size: 14px;
    font-size: 1.4rem;
}

.fsize_xs {
    font-size: 12px;
    font-size: 1.2rem;
}

/* テキスト用BOX pタグの下に改行が入る。 */
div.textbox p {
  margin-bottom: 1em;
}
div.textbox p:last-child {
  margin-bottom: 0;
}

/********************************************************************************
　--common
*********************************************************************************/
/* --headline
************************************/


/* 　　--table
************************************/

.linkbtn1 {
  text-align:center;
}
.linkbtn1 a {
  border: 1px solid #a4ab24;
  display: inline-block;
  color: #fff !important;
  background: #a4ab24;
  padding: 6px 8% 6px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border-radius: 5px;
  -webkit-border-radius: 5px;/* for Safari and Chrome 対応*/
  -moz-border-radius: 5px;/* for Firefox 対応*/
}
.linkbtn1 a:hover {
  background: #fff;
  color: #a4ab24 !important;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}


.linkbtn2 a {
  color:#424242;
  position: relative;
  padding-right: 20px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;

}
.linkbtn2 a:hover {
  color:#00540c;
  text-decoration: underline;
}
.linkbtn2 a:before{
  position: absolute;
  width: 16px;
  height: 16px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #00540c;
  content:"";
  right: 0;
  top:6px;

}
.linkbtn2 a:after{
  position: absolute;
  box-sizing: border-box;
  width: 4px;
  height: 4px;
  border: 4px solid transparent;
  border-left: 5px solid #fff;
  content:"";
  right: 1px;
  top:10px;
}


/* --headline
************************************/
.headline1 {
  /*font-family: "Hannari", "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;*/
  font-weight: bold;
  font-size:32px;
  font-size:3.2rem;
  text-align:left;
  line-height: 1.4;
}
.headline1 span.green {
  color:#0a6600;
}
.headline2 {
  /*font-family: "Hannari", "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;*/
  font-weight: bold;
  font-size:24px;
  font-size:2.4rem;
  line-height: 1.4;

}
.headline3 {
  color:#fff;
  font-size: 18px;
  font-size:1.8rem;
  display: flex;
  align-items: center;
  margin: 0px auto;
}
.headline3:before, .headline3:after {
  content: "";
  flex-grow: 1;
  height: 1px;
  background: #fff;
  display: block;
}
.headline3:before {
  margin-right: 0.5em;
}
.headline3:after {
  margin-left: 0.5em;
}

.headline4 {
    /*font-family: "Hannari", "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;*/
    font-weight: bold;
    font-size: 28px;
    font-size: 2.8rem;
    line-height: 1.4;
    padding-left: 25px;
    padding-bottom: 4px;
    line-height: 1;
    position: relative;
}
.headline4:before {
    background: #2a4971;
    content: "";
    height: 21px;
    width: 15px;
    left: 0;
    position: absolute;
    top: 8px;
}

.headline5 {
    /*font-family: "Hannari", "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;*/
    font-weight: bold;
    font-size: 28px;
    font-size: 2.8rem;
    line-height: 1.5;
    padding-left: 55px;
    padding-bottom: 4px;
    position: relative;
}
.headline5:before {
    background: #2a4971;
    content: "";
    height: 21px;
    width: 15px;
    left: 0;
    position: absolute;
    top: 14px;
    left:25px;
}
.headline5.underline {
    border-bottom: 1px solid #264b7f;
}
/* --bg_color
************************************/
.bg_white {
  background: #fff;
}
.bg_gray1 {
  background: #dadada;
}
.bg_gray2 {
  background: #eae3da;
}
.bg_orange {
  background: #f99830;
}
.bg_blue1 {
  background: #2a4971;
}
.bg_blue2 {
  background: #306698;
}






/* --table
************************************/
table.style1,
#mfp_confirm_table
{
  margin:0 0px 20px;
  font-size:16px;
  font-size:1.6rem;
  width:100%;
  background:#fff;
  color:#fff;
}
table.style1 th,
#mfp_confirm_table th
{
text-align:left;
width:240px;
  background:#306698;
  padding:17px 30px 15px;
  border-bottom:1px solid #fff;
}
table.style1 tr:last-of-type th,
#mfp_confirm_table  tr:last-of-type th {
  border-bottom:1px solid #ccc;
}
table.style1 tr:last-of-type td,
#mfp_confirm_table tr:last-of-type td
{
  border-bottom:1px solid #ccc;
}
table.style1 tr:first-of-type td,
#mfp_confirm_table  tr:first-of-type td {
  border-top:1px solid #ccc;
}
table.style1 tr:last-of-type td,
#mfp_confirm_table  tr:last-of-type td {
  border-bottom:1px solid #ccc;
}
table.style1 td,
#mfp_confirm_table td {
  background:#fff;
  color:#000;
  border-bottom:1px solid #ccc;
  padding:17px 30px 15px;
}

table.style1 em {
    float: right;
    background: #ac0019;
    color: #fff;
    font-size: 11px;
    padding: 2px 5px;
    margin-top: 2px;
}
form input[type="text"], input[type="mail"], select {
    padding: 7px 10px;
    font-size: 15px;
    font-size: 1.5rem;
    margin: 4px 0;
    width: 100%!important;
    border: 1px solid #a7a7a7;
}
textarea {
    padding: 7px 10px;
    font-size: 15px;
    font-size: 1.5rem;
    margin: 4px 0;
    width: 100%!important;
    height:auto!important;
    border: 1px solid #a7a7a7;
}
.mfp_err {
  color:#ac0019!important;
}
#mfp_phase_confirm_inner {
  color: #000;
  font-size:16px;
  font-size:1.6rem;
}
#mfp_phase_confirm_inner table {
  margin-bottom:40px;
}
#mfp_phase_confirm_inner .mfp_buttons {
  margin-bottom:40px;
}
#mfp_phase_confirm_inner .privacy {
    margin-bottom: 20px;
}
#mfp_phase_confirm_inner .privacy {
    margin-bottom: 20px;
}
#page_contact .privacy {
    text-align: center;
}
#page_contact .privacy a {
    text-decoration: underline;
}















/* --link
************************************/
.link_red {
  color: #c73c25 !important; }

.link_red:hover {
  text-decoration: underline; }

.link_blue {
  color: #2687a8 !important; }

.link_blue:hover {
  text-decoration: underline; }

/* --font_color
************************************/
.font_red {
  color: #c73c25 !important; }

.font_blue {
  color: #2687a8 !important; }

/* --img_center
************************************/
.img_center {
  display: block;
  text-align: center;
  margin: 0 auto;
}
/* --sml
************************************/
/* --new
************************************/
.new:after {
  content: "new";
  margin-left: 5px;
  color: #fff;
  background: #c73c25;
  padding: 1px 3px;
  font-size: 12px; }


.polygon-inner {
    position: relative;
    z-index: 1;
}
.polygon-section {
    position: absolute;
    right: 0;
    left: 0;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}
.polygon-section.naname {
    height:270px;
}
.polygon-section.naname_s {
    height:200px;
}

.top-minus {
  top:0px;
}

header .polygon-section.polygon-top-left {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 250px 100vw 0 0;
  border-color: #d8dd7a transparent transparent transparent;
}

#page_index .about_photo .polygon-section.polygon-top-right {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 100vw 180px 0;
  border-color: transparent #2a4971 transparent transparent;
}

#page_index .about_photo .polygon-section.polygon-bottom-left {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 180px 0 0 100vw;
  bottom:0;
  border-color: transparent transparent transparent #fff;

}
#page_index .soba .polygon-section.polygon-top-right {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 100px 100vw 0 0;
  border-color: #fff transparent transparent transparent;
}
#page_index .net_store .polygon-section.polygon-top-left {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 100px 100vw 0 0;
  border-color: #dadada transparent transparent transparent;
}

@media only screen and (max-width:1024px) {
  header .polygon-section.polygon-top-left {
    border-width: 250px 1000px 0 0;
  }

  #page_index .about_photo .polygon-section.polygon-top-right {
    border-width: 0 1024px 180px 0;
    top:-4px;
  }

  #page_index .about_photo .polygon-section.polygon-bottom-left {
    border-width: 180px 0 0 1024px;
    bottom:-2px;
  }
  #page_index .soba .polygon-section.polygon-top-right {
    border-width: 100px 1024px 0 0;
  }
  #page_index .net_store .polygon-section.polygon-top-left {
    border-width: 100px 1024px 0 0;
  }
}


#page_index .soba .box-top {
  height:100px;
}
#page_index .soba .box-bottom {
  height:10px;
}
