@charset "UTF-8";
@import url(//fonts.googleapis.com/earlyaccess/notosansjapanese.css);
@import url(https://fonts.googleapis.com/earlyaccess/hannari.css);

@font-face {
  font-family: 'yasashisa';
  src: url('../../font/yasashisa.eot') format('eot'),
       url('../../font/yasashisa.ttf') format('ttf'),
       url('../../font/yasashisa.woff') format('woff');
}
/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
　PC・SP共通設定
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
html,
body {
  width: 100%;
  background: #fff;
}

html {
  font-size: 62.5%;
}
#outer{
	width:100%;
	overflow-x:hidden;
}
body {
  background: #fff;
  text-align: center;
  color: #000;
  font-family: "Noto Sans Japanese", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Verdana, "ＭＳ ゴシック", Osaka-mono, sans-serif;
  -webkit-text-size-adjust: 100%;
  min-width: 1000px;
}

#outer {
  width: 100%;
  overflow-x: hidden;
}

/* link */
a {
  color: #000;
  text-decoration: none;
  outline: none;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.sp {
  display: none;
}
.pc {
  display: block;
}

#pan {
  font-size:13px;
  padding-top:10px;
}

a:link {
  color: #000;
}

a:visited {
  color: #000;
}

a:hover {
  color: #000;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

ul.indent {
  text-indent: -1em;
  padding-left: 1em;
}

@font-face {
  font-family: "yasashisa";
  src: url("yasashisa.eot?") format("eot"), url("yasashisa.woff") format("woff");
}

.font_hannari {
  /*font-family: "Hannari", "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;*/
}
/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
　--pc
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/**************************
　--common(pc)
++++++++++++++++++++++++++*/
body {
  line-height: 1.6;
  font-size: 16px;
  font-size: 1.6rem;
}

/**************************
　--header(pc)
++++++++++++++++++++++++++*/
header {
  position: relative;
  z-index: 999;
  width: 100%;

  background: #d8dd7a;
  z-index: 10000;
  

}
header .pcmenu .header-top{
  min-width:1000px;	
}
#page_kodawari header,
#page_menu header,
#page_shop header,
#page_contact header,
#page_category header,
#page_single header {
  position: fixed;
}

header h2 {
  position: absolute;
  left:85px;
  top:0;
}

header .pcmenu .header-top h1 {
  position:absolute;
  left:20px;
  top:0;
}

#page_index header .pcmenu .header-top h1 {
  display: none;
}

header .pcmenu .header-top.fixed h1 {
  display: block;
  position:absolute;
  left:20px;
  top:0;
}

header .pcmenu .header-top {
    background: #d8dd7a;
    width: 100%;
    display: table;
	padding: 20px 0px 20px;
    position: relative;
}
@media screen and (max-width: 1180px) {
	#page_index header .pcmenu .header-top {
		padding: 0;
	}
	#page_index header .pcmenu .header-top.fixed {
		padding: 20px 0px 20px;
	}
}


header .pcmenu .header-top ul li {
	float:left;
	padding-right:25px;
}
header .pcmenu .header-top ul li:last-child{
	padding-right:0;
}

@media screen and (max-width: 1180px) {
	header .pcmenu .header-top ul li:last-child{
		padding-right:25px;
	}
	header .pcmenu .header-top.fixed ul li:last-child{
		padding-right:0;
	}
	.subpage header .pcmenu .header-top ul li {
		padding-right:20px;
	}
	.subpage header .pcmenu .header-top ul li:last-child {
		padding-right:0;
	}
}

header .pcmenu .header-top ul li a{
  color:#424242;
  font-weight: bold;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
header .pcmenu .header-top ul li a:hover {
  color:#2a4971;
}

header .pcmenu .header-top nav {
	float:right;
	margin-left:280px;
  z-index: 9999;
}
@media screen and (max-width: 1180px) {
	header .pcmenu .header-top.fixed nav {
		margin-left:0;
	}
}
@media screen and (max-width: 1180px) {
	.subpage header .pcmenu .header-top nav {
		margin-left:100px;
	}
	#page_index header .pcmenu .header-top nav {
		margin-top:0px;
		padding-top:0px;
	}
	#page_index header .pcmenu .header-top.fixed nav {
		margin-top:0px;
	}
}

header .pcmenu .header-top .header-right {
	float:right;
}
.subpage header .pcmenu .header-top .header-right{
	margin-right:20px;
}

@media screen and (max-width: 1180px) {
#page_index header .pcmenu .header-top .header-right {
	margin-right:20px;
	margin-top: 15px;
}
#page_index header .pcmenu .header-top.fixed .header-right {
    margin-top: 0;
}
}
header .pcmenu .header-top .header-right ol {
	padding: 0 10px;
}
header .pcmenu .header-top .header-right ol li.lang {
	padding-right:7px;
}
header .pcmenu .header-top .header-right ol li {
	float:left;
	padding-left:15px;
}

.pcmenu .header-bottom {
  display: none;
}


#page_index .pcmenu .header-bottom {
  display: block;
  position: relative;
}

#page_index .pcmenu .header-bottom .tel {
  color:#;
  font-size:15px;
  font-size:1.5rem;
  left:240px;
  top:125px;
  z-index: 9999;
  position: absolute;
  text-align:left;
}
@media screen and (max-width: 1180px) {
	#page_index .pcmenu .header-bottom .tel {
  		top:111px;		
	}
}

header .pcmenu .header-bottom {
  position: relative;
}
header .pcmenu .header-bottom h2 {
  position: absolute;
top: -56px;
    left: 5px;
    z-index: 1;
}
@media screen and (max-width: 1180px) {
	header .pcmenu .header-bottom h2 {
		top: -70px;
	}
}



/**************************
　--contents(pc)
++++++++++++++++++++++++++*/
#contents {
	width: 100%;
	background:url(../../images/contents_bgimg.jpg) repeat;
	overflow-x: hidden;
  background-attachment: fixed;
}

.wrapper {
	width: 1000px;
	margin: 0px auto;
	text-align: left;
	padding: 0;
}

/**************************
　--footer(pc)
++++++++++++++++++++++++++*/
footer {
  color:#fff;
}
footer .fotter-bottom {
	background:#042847;
}
footer nav ul {
	text-align:center;
	padding:40px 0 30px;
	margin:0 auto;
}
footer nav ul li {
	display:inline-block;
	padding:0 30px;
	border-left:1px solid #fff;
	line-height:1;
}
footer nav ul li:last-of-type {
	border-right:1px solid #fff;
}
footer nav ul li a {
	color:#fff!important;
  font-size:13px;
  font-size:1.3rem;	
}
footer nav {
	padding:0 180px;
}

footer nav {
  padding:0 180px;
}

footer address {
  line-height:1.4;
}
footer address a {
  color:#fff!important;
  text-decoration:underline;
}
footer address p {
  padding-bottom:10px;
  font-size:14px;
  font-size:1.4rem;
  letter-spacing: 1px;
}
footer address span.small {
  font-size:11px;
  font-size:1.1rem;
}
footer .outer .left {
  width: 22%;
  float:left;
}
footer .outer .right {
  width: 78%;
  float:left;
  padding-left:10px;
}
footer .instagram {
  padding-left:10px;
}

footer ol li {
  width: 42%!important;
}
footer ol li:first-of-type {
  margin-left:7%;
  margin-right:4%;
}
footer ol li p {
  font-size:12px;
  font-size:1.2rem;
  color:#fff;
  padding-top:5px;
  padding-right:10px;
}
footer .grid_col2.ptn2 .col h3 {
  font-size:15px;
  font-size:1.5rem;

}
footer .grid_col2.ptn2 .col .right > h3 {
    padding-top: 37px;
    font-size: 18px;
    line-height: 1.4;
}
footer .copy {
  font-size: 11px;
  font-size: 1.1rem;
  text-align: center;
  padding-bottom:15px;
  color:#fff;
}
#page_top {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 10000;
  text-align: center;
  text-decoration: none;
  color: #fff;
  padding: 0% 0;
}
#page_top img{
	width:60px;
	height:auto;
}


footer address p {
  letter-spacing: 1px;
  padding-bottom:5px;
}

footer address dl {
    padding-bottom: 5px;
}
footer address dl dt {
  width: 5em;
  float:left;
}
footer address dl dd {
  overflow:hidden;
}
footer address dl dd a {
  text-decoration:none;
}
/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
　--sp
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/**************************
　--header(sp)
++++++++++++++++++++++++++*/
header .spmenu {
  z-index: 999999;
  width: 100%;
  height: 52px;
  top: 0;
  display: block;
  position: fixed;
  background: #e2004e;
}
@media screen and (min-width: 768px) {
  header .spmenu {
    display: none;
  }
}
@media screen and (min-width: 1000px) {
  header .spmenu {
    display: none;
  }
}

header .spmenu h2 {
  text-align: left;
  padding: 6px 0 0 10px;
}

header .spmenu h2 img {
  width: 52px;
}

header .spmenu .twitter {
  position: fixed;
  top: 12px;
  right: 60px;
}

header .spmenu .twitter img {
  width: 31px;
}

header .spmenu .drawer-hamburger {
  width: 2.6rem;
  padding: 16px 3% 8%;
  position: fixed;
  z-index: 99999;
}

header .spmenu .drawer-brand {
  max-width: 200px;
  margin-left: -15px;
}

header .spmenu .drawer-brand img {
  width: 84%;
  height: auto;
  margin-top: 7px;
}

header .spmenu .drawer-menu-item {
  border-bottom: 1px solid #fff;
  text-align: left;
  padding: 3% 8% 3% 4%;
  background: #e2004e;
  color: #fff;
  position: relative;
  font-size: 15px;
  font-size: 1.5rem;
}

header .spmenu .color .drawer-menu-item {
  color: #000;
  border-bottom: 1px solid #fff;
  background: #fff;
}

header .spmenu li #acMenu dt {
  border-bottom: 1px solid #fff;
  text-align: left;
  padding: 3% 4%;
  font-size: 15px;
  font-size: 1.5rem;
  background: #595555;
  color: #fff;
}

header .spmenu li #acMenu dd {
  background: #ffffff;
  text-align: center;
  display: none;
  margin: 0px;
  padding: 0px;
}

header .spmenu li #acMenu .accordion_icon, .accordion_icon span {
  display: inline-block;
  transition: all .4s;
  box-sizing: border-box;
}

header .spmenu li #acMenu .accordion_icon {
  position: relative;
  width: 20px;
  height: 20px;
  float: right;
  margin-right: -5px;
  top: 7px;
  margin-bottom: 0px !important;
}

header .spmenu li #acMenu .accordion_icon span {
  position: absolute;
  left: 6px;
  width: 50%;
  height: 1px;
  background-color: #fff;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -ms-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
}

header .spmenu li #acMenu .accordion_icon span:nth-of-type(1) {
  top: 5px;
  transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
}

header .spmenu li #acMenu .accordion_icon span:nth-of-type(2) {
  top: 5px;
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
}

/*＋、－切り替え*/
header .spmenu li #acMenu .accordion_icon.active span:nth-of-type(2) {
  display: none;
}

#acMenu .accordion_icon.active span:nth-of-type(1) {
  top: 5px;
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}

header .spmenu .inner {
  background-repeat: no-repeat;
  width: 100%;
  height: 1000px;
}

header .spmenu .drawer-menu-item:after {
  position: absolute;
  top: 50%;
  right: 4%;
  display: block;
  content: "";
  width: 6px;
  height: 6px;
  margin-top: -3px;
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

header .spmenu .color .drawer-menu-item:after {
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
}

header .spmenu .drawer-menu-item:hover {
  color: #ffe000;
  text-decoration: none;
}

header .spmenu .drawer-nav {
  background-color: rgba(0, 0, 0, 0.4) !important;
}

.drawer-hamburger-icon, .drawer-hamburger-icon:after, .drawer-hamburger-icon:before {
  background-color: #fff !important;
}

.drawer-open .drawer-hamburger-icon {
  background-color: #e2004e !important;
}

.drawermenu .inner {
  border-top: none !important;
}

/**************************
　--footer(sp)
++++++++++++++++++++++++++*/

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
　--pagetitle
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
#pagetitle .photo .bg h2 {
	padding-top:150px;
	font-size:38px;
	color:#fff;
  font-weight: bold;

}
#pagetitle .photo .bg h2 .underline {
    display: block;
    height: 1px;
    border: none;
    width: 70px;
    border-top: 5px #fff solid;
    text-align: center;
    margin: 10px auto;
    border-radius: 5px;
}

#pagetitle .photo {
	background-size: cover!important;
	height:311px;
}
#pagetitle .photo.topics {
  background: url(../../images/pagetitle_topics.jpg) no-repeat;
  background-size: cover;
}
#pagetitle .photo .bg {
	background:rgba(0,0,0,0.45);
	height:100%;
}


/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
　--grid
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
.grid_col2 {
	width: 100%;
}
.grid_col2.ptn1 .col {
	width: 50%;
	float:right;
}
.grid_col2.ptn2 .col {
	width: 50%;
	float:left;
}

.grid_col3 {
	width: 100%;
}
.grid_col3 .col {
	width: 33.333%;
	float:left;
}

.grid_col4 {
  width: 100%;
}
.grid_col4 .col {
  width: 25%;
  float:left;
}

.tablecol {
    display: table;
    width: 100%;
}

.tablecol.col2 .col {
    display: table-cell;
    width: 50%;
}

.tablecol.col3 .col {
    display: table-cell;
    width: 33.3333%;
}

.tablecol.col4 .col {
    display: table-cell;
    width: 25%;
}

.tablecol.col5 .col {
    display: table-cell;
    width: 20%;
}


.flexcol {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 100%;
}


.flexcol .photo {
  width: 50%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  justify-content: center;
}
.flexcol .text {
  width: 50%;
  display:flex;
  -webkit-align-items: center;
  -webkit-justify-content: center; 
  align-items: center; /*上下中央*/
  justify-content: center; /*左右中央*/
  padding:40px;
  line-height: 2;
}

.flexcol.photo_left {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.flexcol.photo_right {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}
