@charset "UTF-8";

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
　--page_index
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
#page_index .mainimg {
    background-size: cover;
    padding-top: 10%;
    position: relative;
}

#page_index .about h2 {
    text-align: center;
    color: #fff;
}

#page_index .about p {
    padding: 0 90px;
    color: #fff;
    text-align: center;
    font-weight: bold;
}

#page_index .about_photo {
    background: url(../../images/index_about.jpg) no-repeat center center;
    background-size: cover;
    height: 662px;
    position: relative;
}

#page_index .kodawari h3 {
    text-align: center;
}

#page_index .kodawari h4 {
    margin-bottom: 5px;
}

#page_index .kodawari p {
    text-align: center;
}

#page_index .kodawari p.font_hannari {
    font-weight: bold;
}

#page_index .kodawari .text {
    display: block;
    padding-top: 185px;
}

#page_index .kodawari .content_up1 .text {
    padding-top: 217px;
}

#page_index .kodawari .photo {
    height: 488px;
    z-index: 9999;
}



#page_index .kodawari .content_up1 {
    margin-top: -240px;
}

#page_index .kodawari .content_up2 {
    margin-top: -160px;
}

#page_index .kodawari .text p {
    text-align: left !important;
}

#page_index .kodawari .text h4 {
    text-align: left !important;
}

#page_index .soba {
    position: relative;
    margin-top: -80px;
}

#page_index .soba h5 {
    text-align: center;
}


#page_index .soba .outer {
    padding: 80px 0 0px;
    background: url(../../images/index_soba_bg.png) no-repeat center center;
    background-size: cover;
}

#page_index .soba .title h3 {
    text-align: center;
}

#page_index .soba .title p {
    text-align: center;
    font-weight: bold;
    /*font-family: "Hannari", "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;*/

}

#page_index .soba .box_ptn1 {
    background: #306698;
    color: #fff;
    border-top: 23px solid #2a4971;
    border-bottom: 23px solid #2a4971;
}

#page_index .soba .box_ptn1 h4 {
    font-size: 24px;
    font-size: 2.4rem;
    text-align: center;
}

#page_index .soba ul li {
    padding: 15px 40px 15px;
    width: 48%;
}

#page_index .soba ul li:first-of-type {
    margin-right: 4%;
}

#page_index .net_store a:hover img {
    opacity: 0.8;
}

#page_index .net_store a img {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#page_index .store .title {
    text-align: center;
}

#page_index .store .title p {
    font-weight: bold;
    /*font-family: "Hannari", "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;*/
}

#page_index .map iframe {
    width: 100%;
    height: 400px;
    vertical-align: bottom;
}

#page_index .news h3 {
    color: #fff;
    padding-bottom: 5px;
}

#page_index .news dl {
    padding-bottom: 4px;
}

#page_index .news dl dt {
    color: #fff;
    width: 10%;
    float: left;
}

#page_index .news dl dd {
    color: #fff;
    width: 90%;
    float: left;
}

#page_index .net_store {
    position: relative;
}

#page_index .net_store p {
    padding-top: 140px;
}

#page_index .store_photo {
    background: url(../../images/index_store_photo.jpg) no-repeat center center;
    background-size: cover;
    height: 388px;
}

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
 --page_kodawari
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
#page_kodawari .kodawari_top .bottom h3 {
    text-align: center;
}

#page_kodawari .kodawari_top .bottom p {
    text-align: left;
    line-height: 1.8;
}

#page_kodawari .kodawari_bottom .photo {
    height: 488px;
    z-index: 9999;
}

#page_kodawari .kodawari_bottom .text {
    display: block;
}

#page_kodawari .kodawari_bottom .row1 .photo {
    height: 450px;
}

#page_kodawari .kodawari_bottom .row2 .photo {
    height: 470px;
}

#page_kodawari .kodawari_bottom .row3 .photo {
    height: 470px;
}

#page_kodawari .kodawari_bottom .row4 .photo {
    height: 460px;
}

#page_kodawari .kodawari_bottom .row5 .photo {
    height: 380px;
}

#page_kodawari .kodawari_bottom .row2 {
    margin-top: -74px;
    z-index: 1;
}

#page_kodawari .kodawari_bottom .row3 {
    margin-top: -93px;
    z-index: 2;
}

#page_kodawari .kodawari_bottom .row4 {
    margin-top: -74px;
    z-index: 3;
}

#page_kodawari .kodawari_bottom .row5 {
    margin-top: -90px;
    z-index: 4;
}




#page_kodawari .kodawari_bottom .row1 .text {
    padding-top: 100px;
}

#page_kodawari .kodawari_bottom .row2 .text {
    padding-top: 100px;
}

#page_kodawari .kodawari_bottom .row3 .text {
    padding-top: 100px;
}

#page_kodawari .kodawari_bottom .row4 .text {
    padding-top: 100px;
}

#page_kodawari .kodawari_bottom .row5 .text {
    padding-top: 100px;
}

#page_kodawari .net_store a:hover img {
    opacity: 0.8;
}

#page_kodawari .net_store a img {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#page_kodawari .kodawari_top .bottom h3 br {
    display: none;
}

#page_kodawari .kodawari_bottom .text h4 br {
    display: none;
}

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
 --page_menu
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
#page_menu .soba .grid_col2 .right {
    text-align: right;
}

#page_menu .grid_col2 .right a img {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#page_menu .grid_col2 .right a:hover img {
    opacity: 0.8;
}

#page_menu .soba .outer {
    background: url(../../images/index_soba_bg.png) no-repeat center center;
    background-size: cover;
}

#page_menu .soba .title h3 {
    text-align: center;
}

#page_menu .soba .title p {
    text-align: center;
    font-weight: bold;
    /*font-family: "Hannari", "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;*/
}

#page_menu .soba h5 {
    text-align: center;
}


#page_menu .soba .box_ptn1 {
    background: #306698;
    color: #fff;
    border-top: 23px solid #2a4971;
    border-bottom: 23px solid #2a4971;
}

#page_menu .soba .box_ptn1 h4 {
    font-size: 24px;
    font-size: 2.4rem;
    text-align: center;
}

#page_menu .soba ul li {
    padding: 15px 40px 15px;
    width: 48%;
}

#page_menu .soba ul li:first-of-type {
    margin-right: 4%;
}

#page_menu .hiyashi_soba .capiton {
    font-size: 13px;
    font-size: 1.3rem;
}

#page_menu .hiyashi_soba .menu_ptn1 .left {
    width: 32%;
    float: left;
}

#page_menu .hiyashi_soba .menu_ptn1 .right {
    width: 68%;
    float: left;
    padding-left: 40px;
}

#page_menu .hiyashi_soba .menu_ptn1 .right table {
    width: 100%;
}

#page_menu .hiyashi_soba .menu_ptn1 .right table .item {
    position: relative;
    font-size: 18px;
    font-size: 1.8rem;
    font-weight: bold;
}

#page_menu .hiyashi_soba .menu_ptn1 .right table .item:before {
    content: "";
    border-left: 5px solid #232323;
    margin-right: 10px;
    width: 50%;
}

#page_menu .hiyashi_soba .menu_ptn1 .right table .you {
    text-align: center;
    font-size: 18px;
    font-size: 1.8rem;
    font-weight: bold;
}

#page_menu .hiyashi_soba .menu_ptn1 .right table .waki {
    text-align: center;
    font-size: 18px;
    font-size: 1.8rem;
    font-weight: bold;
}

#page_menu .hiyashi_soba .menu_ptn1 .right table .text {
    font-size: 12px;
    padding-bottom: 40px;
    padding-left: 37px;
    padding-top: 2px;
}

#page_menu .hiyashi_soba .menu_ptn1 .right table th {
    padding-bottom: 20px;
}

#page_menu .hiyashi_soba .menu_ptn1 .right .oomori {
    text-align: right;
    font-size: 12px;
    font-size: 1.3rem;
    padding-right: 40px;
}

#page_menu .hiyashi_soba .menu_ptn2 table {
    width: 100%;

}

#page_menu .hiyashi_soba .menu_ptn2 table .item {
    position: relative;
    font-size: 18px;
    font-size: 1.8rem;
    font-weight: bold;
    padding-left: 30px;
}

#page_menu .hiyashi_soba .menu_ptn2 table .item:before {
    content: "";
    border-left: 5px solid #232323;
    margin-right: 10px;
}

#page_menu .hiyashi_soba .menu_ptn2 table .en {
    text-align: center;
    font-size: 18px;
    font-size: 1.8rem;
    font-weight: bold;
}

#page_menu .hiyashi_soba .menu_ptn2 table .text {
    font-size: 12px;
    padding-bottom: 20px;
    padding-left: 65px;
    padding-top: 2px;
}

#page_menu .hiyashi_soba .grid_col2 img {
    padding-left: 30px;
}

#page_menu .hiyashi_soba .grid_col2 p {
    padding-left: 30px;
    font-size: 13px;
    font-size: 1.3rem;
}

#page_menu .hiyashi_soba .grid_col2 .col table {
    width: 94%;
}

#page_menu .hiyashi_soba .linkbtn {
    text-align: right;
}

#page_menu .hiyashi_soba .linkbtn a img {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#page_menu .hiyashi_soba .linkbtn a:hover img {
    opacity: 0.8;
}

#page_menu section.kome ul li {
    line-height: 1.7;

}

#page_menu .net_store a:hover img {
    opacity: 0.8;
}

#page_menu .net_store a img {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
 --page_shop
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
#page_shop .info .outer {
    width: 100%;
}

#page_shop .info .outer .left {
    width: 38%;
    float: left;
}

#page_shop .info .outer .right {
    width: 62%;
    float: left;
    padding-left: 40px;
}

#page_shop .info .outer .right h3 {
    font-size: 30px;
    font-size: 3.0rem;
}

#page_shop .info .outer .right address {
    line-height: 1.9;
    font-size: 17px;
    font-size: 1.7rem;
}

#page_shop .info .right address dl dt {
    width: 15%;
    float: left;
}

#page_shop .info .right address dl dd {
    width: 85%;
    float: left;
}


#page_shop .info .map iframe {
    width: 100%;
    height: 290px;
    vertical-align: bottom;
}

#page_shop .hitokoto .grid_col2 {
    margin-top: 23px;
}

#page_shop .hitokoto .grid_col2 .right {
    padding-left: 6px;
}

#page_shop section.bottom .photo {
    background: url(../../images/shop_bottom_photo.jpg) no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    height: 692px;
}


#page_shop .hitokoto {
    margin-top: 150px;
}

#page_shop .hitokoto p {
    padding-left: 25px;
    line-height: 2;
}

#page_contact .mfp_buttons {
    text-align: center;
}

#page_contact button {
    border: none;
    background: #a4ab24;
    cursor: pointer;
    padding: 15px;
    font-size: 16px;
    color: #fff;
    width: 200px;
    letter-spacing: 0.16em;
}


/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
 --page_single
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
#page_single section.news .box {
    background: #fff;
    padding: 40px;
    margin: 40px auto 20px;
}

#page_single section.news .entry-header {
    border-bottom: 1px solid #2a4971;
    padding: 0px 0 15px;
}

#page_single section.news .entry-title {
    font-size: 24px;
    font-size: 2.4rem;
    font-weight: bold;
    position: relative;
    /*font-family: "Hannari", "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;*/
    line-height: 1;
    padding-left: 30px;

}

#page_single section.news .entry-title:before {
    background: #2a4971;
    content: "";
    height: 21px;
    width: 15px;
    left: 0;
    position: absolute;
    top: 6px;
}

#page_single section.news .entry-content {
    padding: 20px 0;
}

#page_single section.news ul.page_link li a {
    font-size: 13px;
    display: inline-block;
    padding: 6px 15px 3px;
    border-radius: 3px;
    border: solid 1px #2a4971;
    background: #fff;
    text-decoration: none;
    color: #2a4971;
}

#page_single section.news ul.page_link li.next {
    float: right;
}

#page_single section.news ul.page_link li.prev {
    float: left;
}

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
 --page_category
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
#page_category a:first-of-type dl {
    border-top: 1px solid #2a4971;
}

#page_category dl {
    font-size: 16px;
    font-size: 1.6rem;
    padding: 11px 0;
    border-bottom: 1px solid #2a4971;
}

#page_category dl dt {
    width: 13%;
    float: left;

}

#page_category dl dd {
    width: 87%;
    float: left;

}

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
 --other-store
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
#other-store .grid_col2 img {
    width: 100%;
}

#other-store .left {
    margin-right: 4%;
}

#other-store .grid_col2 {
    width: 100%;
}

#other-store .grid_col2 .col {
    width: 48%;
}

#other-store h3 {
    text-align: center;
    font-family: 'yasashisa';
    color: #683b00;
    transform: skew(-1deg, -1deg);
    font-size: 14px;
    font-size: 1.4rem;
}

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
 --bottom_link
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
#bottom_link .col {
    width: 32%;
}

#bottom_link li:first-of-type {
    margin-right: 2%;
}

#bottom_link li:last-of-type {
    margin-left: 2%;
}

#bottom_link .col img {
    width: 100%;
}

#bottom_link .col .photo {
    position: relative;
}

#bottom_link .col .text {
    font-size: 18px;
    font-size: 1.8rem;
    font-weight: bold;
    z-index: 100;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    /* Safari用 */
    transform: translate(-50%, -50%);
    color: #fff;

    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;

}

#bottom_link .col .text.lg {
    left: 51%;
    width: 57%;

}


#bottom_link .col .bg {
    z-index: 99;
    position: absolute;
    height: 100%;
    width: 100%;
    display: block;
    background: rgba(0, 0, 0, 0.4);
    top: 0;
    opacity: 1;
    visibility: visible;
    transition: all 0.5s;
}

#bottom_link .col p {
    font-size: 13px;
    font-size: 1.3rem;
}

#bottom_link .col a:hover .bg {
    opacity: 0;
    visibility: hidden;
}

#bottom_link .col a:hover .text {
    font-size: 18px;
    font-size: 1.8rem;
    font-weight: bold;
    color: #2a4971;
    text-shadow:
        #fff 2px 0px 2px, #fff -2px 0px 2px,
        #fff 0px -2px 2px, #fff -2px 0px 2px,
        #fff 2px 2px 2px, #fff -2px 2px 2px,
        #fff 2px -2px 2px, #fff -2px -2px 2px,
        #fff 1px 2px 2px, #fff -1px 2px 2px,
        #fff 1px -2px 2px, #fff -1px -2px 2px,
        #fff 2px 1px 2px, #fff -2px 1px 2px,
        #fff 2px -1px 2px, #fff -2px -1px 2px,
        #fff 1px 1px 2px, #fff -1px 1px 2px,
        #fff 1px -1px 2px, #fff -1px -1px 2px;
}

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
 --vegas
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
.vegas-pager a {
    background: rgba(255, 255, 255, 0.6);
    text-indent: -9999px;
    display: block;
    width: 12px;
    height: 12px;
    margin: 0 5px;
    outline: 0;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
}

.vegas-pager-item {
    font-size: 0;
    line-height: 0;
}

.vegas-pager {
    text-align: center;
    font-size: .85em;
    font-family: Arial;
    font-weight: 700;
    color: #666;
    padding-top: 20px;
}


.vegas-pager a.active,
.vegas-pager a:hover {
    background: #fff;
}

.vegas-pager-item {
    display: inline-block;
    vertical-align: bottom;
}

.vegas-pager {
    position: absolute;
    bottom: 30px;
    width: 100%;
}
