@charset "UTF-8";
/* padding */
.pt_s {
  padding-top: 10px;
}
.pt {
  padding-top: 30px;
}
.pt_l {
  padding-top: 50px;
}
.pb_s {
  padding-bottom: 10px;
}
.pb {
  padding-bottom: 30px;
}
.pb_l {
  padding-bottom: 50px;
}

/* margin */
.mt_s {
  margin-top: 10px;
}
.mt {
  margin-top: 30px;
}
.mt_l {
  margin-top: 50px;
}
.mb_s {
  margin-bottom: 10px;
}
.mb {
  margin-bottom: 30px;
}
.mb_l {
  margin-bottom: 50px;
}

/* font-size */
.fsize_xl {
    font-size: 24px;
    font-size: 2.4rem;
}

.fsize_l {
    font-size: 20px;
    font-size: 2rem;
}

.fsize {
    font-size: 16px;
    font-size: 1.6rem;
}

.fsize_s {
    font-size: 14px;
    font-size: 1.4rem;
}

.fsize_xs {
    font-size: 12px;
    font-size: 1.2rem;
}

/* テキスト用BOX pタグの下に改行が入る。 */
div.textbox p {
  margin-bottom: 1em;
}
div.textbox p:last-child {
  margin-bottom: 0;
}

/********************************************************************************
　--common
*********************************************************************************/
/* --headline
************************************/


/* 　　--table
************************************/

.linkbtn1 {
  text-align:center;
}
.linkbtn1 a {
  border: 1px solid #0a6600;
  display: inline-block;
  color: #fff !important;
  font-weight: bold;
  background: #0a6600;
  padding: 6px 8%;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border-radius: 5px;
  -webkit-border-radius: 5px;/* for Safari and Chrome 対応*/
  -moz-border-radius: 5px;/* for Firefox 対応*/
}
.linkbtn1 a:hover {
  background: #fff;
  color: #0a6600 !important;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}


.linkbtn2 a {
  color:#424242;
  position: relative;
  padding-right: 35px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;

}
.linkbtn2 a:hover {
  color:#00540c;
  text-decoration: underline;
}
.linkbtn2 a:before{
  position: absolute;
  width: 25px;
  height: 25px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #00540c;
  content:"";
  right: 0;
  top:1px;

}
.linkbtn2 a:after{
  position: absolute;
  box-sizing: border-box;
  width:10px;
  height: 10px;
  border: 5px solid transparent;
  border-left: 6px solid #fff;
  content:"";
  right: 3px;
  top:8px;
}


/* --headline
************************************/
.headline1 {
  color:#683b00;
  font-weight: 900;
  font-size:32px;
  font-size:3.2rem;
  text-align:left;
  padding-left:10px;
  border-left:10px solid #0a6600;
  line-height: 1.4;
  letter-spacing:1px;
}
.headline1 span.green {
  color:#0a6600;
}
.headline1 span.large{
  font-size:38px;
  font-size:3.8rem;
}
.headline3 {
  color:#683b00;
  font-size: 38px;
  font-size:3.8rem;
  font-weight: 900;
  display: flex;
  align-items: center;
  width: 1000px;
  margin: 0px auto;
}
.headline3:before, .headline3:after {
  content: "";
  flex-grow: 1;
  height: 2px;
  background: #683b00;
  display: block;
}
.headline3:before {
  margin-right: 1.5em;
}
.headline3:after {
  margin-left: 1.5em;
}
/* --bg_color
************************************/
.bg_white {
  background: #fff;
}
.bg_gray1 {
  background: #d3cac2;
}
.bg_gray2 {
  background: #eae3da;
}
.bg_orange {
  background: #f99830;
}

.bg_img1 {
  background: url(../../images/bg_img1.jpg) repeat;
}


/* --table
************************************/
table.style1,
#mfp_confirm_table
{
  margin:0 0px 20px;
  font-size:16px;
  font-size:1.6rem;
  width:100%;
  background:#fff;
  color:#683b00;
}
table.style1 th,
#mfp_confirm_table th
{
text-align:left;
width:240px;
  background:#f7cdaa;
  padding:17px 30px 15px;
  border-bottom:1px solid #fff;
}
table.style1 tr:last-of-type th,
#mfp_confirm_table  tr:last-of-type th {
  border-bottom:none;
}
table.style1 tr:last-of-type td,
#mfp_confirm_table tr:last-of-type td
{
  border-bottom:none;
}

table.style1 td,
#mfp_confirm_table td {
  background:#fff;
  border-bottom:1px solid #ccc;
  padding:17px 30px 15px;
}

table.style1 em {
    float: right;
    background: #ac0019;
    color: #fff;
    font-size: 11px;
    padding: 2px 5px;
    margin-top: 2px;
}
form input[type="text"], input[type="mail"], select {
    padding: 7px 10px;
    font-size: 15px;
    font-size: 1.5rem;
    margin: 4px 0;
    width: 100%!important;
    border: 1px solid #a7a7a7;
}
textarea {
    padding: 7px 10px;
    font-size: 15px;
    font-size: 1.5rem;
    margin: 4px 0;
    width: 100%!important;
    height:auto!important;
    border: 1px solid #a7a7a7;
}
.mfp_err {
  color:#ac0019!important;
}
#mfp_phase_confirm_inner {
  color: #683b00;
  font-size:16px;
  font-size:1.6rem;
}
#mfp_phase_confirm_inner .privacy {
  margin-bottom:20px;
}
#mfp_phase_confirm_inner .mfp_buttons {
  margin-bottom:40px;
}


/* --link
************************************/
.link_red {
  color: #c73c25 !important; }

.link_red:hover {
  text-decoration: underline; }

.link_blue {
  color: #2687a8 !important; }

.link_blue:hover {
  text-decoration: underline; }

/* --font_color
************************************/
.font_red {
  color: #c73c25 !important; }

.font_blue {
  color: #2687a8 !important; }

/* --img_center
************************************/
.img_center {
  display: block;
  text-align: center;
  margin: 0 auto;
}
/* --sml
************************************/
/* --new
************************************/
.new:after {
  content: "new";
  margin-left: 5px;
  color: #fff;
  background: #c73c25;
  padding: 1px 3px;
  font-size: 12px; }

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++



