@charset "UTF-8";

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
　--page_index
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
#page_index .mainimg {
    background-size: cover;
    padding-top: 50%;
    position: relative;
}

#page_index .about_top .photo {
    background-size: cover !important;
    min-height: 334px;
}

#page_index .about_top .text p {
    height: 100%;
}

#page_index .about_top .flexcol .text {
    font-family: 'yasashisa';
    color: #424242;
    font-size: 15px;
    font-size: 1.5rem;
}


#page_index .about_bottom ul li .box {
    margin-right: 2%;
    margin-left: 2%;
    padding: 22px;
}

#page_index .about_bottom ul li:first-of-type .box {
    margin-right: 2%;
    margin-left: 0%;
}

#page_index .about_bottom ul li:last-of-type .box {
    margin-right: 0%;
    margin-left: 2%;
}

#page_index .about_bottom ul li .box h3 {
    text-align: center;
    font-family: 'yasashisa';
    font-size: 18px;
    font-size: 1.8rem;
    font-weight: bold;
}

#page_index .about_bottom ul li .box p {
    font-family: 'yasashisa';
    line-height: 2;
}

#page_index .ranking ul li img {
    border-radius: 150px;
    height: 250px;
    width: 250px;
    box-shadow: 1px 2px 6px #000;
    background: #fff;
}

#page_index .ranking ul li {
    position: relative;
}

#page_index .ranking ul li:after {
    position: absolute;
    left: 0;
    top: 0;
}

#page_index .ranking ul li.rank1:after {
    content: url(../../images/runking1.png);
}

#page_index .ranking ul li.rank2:after {
    content: url(../../images/runking2.png);
}

#page_index .ranking ul li.rank3:after {
    content: url(../../images/runking3.png);
}

#page_index .ranking ul li .text {
    text-align: center;
    color: #683b00;
    font-family: 'yasashisa';
    font-weight: bold;
}

#page_index .voice {
    padding: 80px 0 80px;
}

#page_index .voice .outer {
    position: relative;
}

#page_index .voice .outer:before {
    content: url(../../images/index_ranking_voice.png);
    position: absolute;
    left: 100px;
    top: -45px;
}

#page_index .voice .naname {
    text-align: center;
    transform: rotate(-3deg);
    font-family: 'yasashisa';
}

#page_index .topics dl {
    width: 100%;
    border-bottom: 2px dashed #0b6013;
    padding: 20px 0;
}

#page_index .topics dl dt {
    width: 17%;
    float: left;
}

#page_index .topics dl dd {
    width: 83%;
    padding-top: 15px;
    float: left;
}

#page_index .topics dl dd a {
    text-decoration: underline !important;
}

#page_index .topics dl dt img {
    border-radius: 70px;
    height: 140px;
    width: 140px;
}

#page_index .topics dl dd h3 {
    font-weight: bold;
    padding-bottom: 5px;
}

#page_index .topics dl dd .text {
    font-family: 'yasashisa';
}

#page_index .topics dl dd .text .tuduki-underline {
    text-decoration: underline;
}

#page_index .topics .linkbtn2 {
    text-align: right;
}

#page_index .access iframe {
    width: 100%;
    height: 400px;
    vertical-align: bottom;

}

#page_index .store_photo {
    background: url(../../images/index_store_photo.jpg) repeat;
    background-size: cover;
    height: 350px;
}

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
 --page_kodawari
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
#page_kodawari .omoi .grid_col2 {
    width: 100%;
}

#page_kodawari .omoi .grid_col2 .col {
    width: 49.5%;
}

#page_kodawari .omoi .grid_col2 .col:first-of-type {
    margin-right: 1%;
}

#page_kodawari .omoi .grid_col2 li:first-of-type img {}

#page_kodawari .omoi .grid_col2 li img {
    width: 100%;
}

#page_kodawari .omoi .text {
    padding: 40px 0 20px;
    font-family: 'yasashisa';
    color: #424242;
}

#page_kodawari .omoi .text h3 {
    text-align: center;
    margin-bottom: 20px;
}

#page_kodawari .kodawari5 {
    margin-bottom: 70px;
}

#page_kodawari .kodawari5 .flexcol .photo {
    display: block;
    width: 415px;
}

#page_kodawari .kodawari5 .flexcol .text {
    display: block;
    padding: 0px 0 40px 0;
    color: #424242;
    width: 55%;

}

#page_kodawari .kodawari5 .flexcol .text p {
    font-family: 'yasashisa';
}

#page_kodawari .kodawari5 .flexcol .text h3 {
    font-size: 28px;
    font-size: 2.8rem;
    letter-spacing: -1px;
    color: #683b00;
    font-weight: bold;
}

#page_kodawari .kodawari5 .photo_right .photo {
    text-align: right;
}

#page_kodawari .kodawari5 .photo_right .text {
    padding-right: 30px;
}

#page_kodawari .kodawari5 .photo_left .text {
    padding-left: 30px;
}

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
 --page_menu
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
#page_menu .ranking ul li img {
    border-radius: 50%;
    height: 250px;
    width: 250px;
    box-shadow: 1px 2px 6px #000;
    background: #fff;
}

#page_menu .ranking ul li {
    position: relative;
}

#page_menu .ranking ul li:after {
    position: absolute;
    left: 0;
    top: 0;
}

#page_menu .ranking ul li.rank1:after {
    content: url(../../images/runking1.png);
}

#page_menu .ranking ul li.rank2:after {
    content: url(../../images/runking2.png);
}

#page_menu .ranking ul li.rank3:after {
    content: url(../../images/runking3.png);
}

#page_menu .ranking ul li h3 {
    text-align: center;
    font-size: 19px;
    font-size: 1.9rem;
    color: #683b00;
    font-family: 'yasashisa';
    font-weight: bold;
}

#page_menu .ranking ul li p {
    margin-top: 5px;
    text-align: center;
    font-size: 13px;
    font-size: 1.3rem;
    color: #683b00;
    font-family: 'yasashisa';
    padding: 0 40px;
}

#page_menu .newitem .outer {
    padding: 60px 0;
}

#page_menu .newitem ul li {
    padding: 0 25px 15px;
}

#page_menu .newitem ul li {
    border-right: 1.5px dashed #874c4c;
}

#page_menu .newitem ul li:nth-child(4n) {
    border-right: none;
}

#page_menu .voice1 {
    padding: 70px 0 140px;
}

#page_menu .voice1 .outer {
    position: relative;
    width: 100%;
}

#page_menu .voice1 .outer:before {
    content: url(../../images/menu_voice1.png);
    position: absolute;
    left: 80px;
    top: -5px;
}

#page_menu .voice1 .text {
    text-align: center;
    font-family: 'yasashisa';
    color: #683b00;
    width: 70%;
    float: left;
    text-align: right;
    padding-right: 50px;
    padding-top: 45px;
    line-height: 1.8;
}

#page_menu .voice1 .box {
    width: 28%;
    padding: 15px 15px 35px 15px;
    float: left;
    background: #fff;
    transform: rotate(5deg);
}

#page_menu .voice1 .box p {
    text-align: center;
    font-family: 'yasashisa';
    color: #683b00;
    padding-top: 5px;
}

#page_menu .teiban {
    color: #683b00;
}

#page_menu .teiban .col {
    padding: 0 20px 60px;
    font-family: 'yasashisa';

}

#page_menu .teiban .title {
    text-align: center;
    padding-top: 5px;
    font-weight: bold;
}

#page_menu .teiban .text {
    padding-top: 5px;
}

#page_menu .voice2 {
    padding: 50px 0 60px;
}

#page_menu .voice2 .outer {
    position: relative;
    width: 100%;
}

#page_menu .voice2 .outer:before {
    content: url(../../images/menu_voice2.png);
    position: absolute;
    right: 80px;
    top: 15px;
}

#page_menu .voice2 .text {
    text-align: center;
    font-family: 'yasashisa';
    color: #683b00;
    width: 70%;
    float: left;
    text-align: left;
    padding-left: 115px;
    padding-top: 70px;
}

#page_menu .voice2 .box {
    width: 28%;
    padding: 15px 15px 35px 15px;
    float: left;
    background: #fff;
    transform: rotate(-5deg);
}

#page_menu .voice2 .box p {
    text-align: center;
    font-family: 'yasashisa';
    color: #683b00;
    padding-top: 5px;
    text-align: left;
}

#page_menu .cafemenu .left {
    padding: 0 20px;
}

#page_menu .cafemenu .left .grid_col2 dt {
    padding-left: 20px;
}

#page_menu .cafemenu .left dd {
    font-family: 'yasashisa';
    color: #683b00;
}

#page_menu .cafemenu {
    padding: 70px 0 90px;
}

#page_menu .cafemenu .outer {
    position: relative;
    width: 100%;
}

#page_menu .cafemenu .outer:before {
    content: url(../../images/menu_voice3.png);
    position: absolute;
    right: 0px;
    bottom: 0px;
    z-index: 1;
}

#page_menu .cafemenu .text {
    text-align: center;
    font-family: 'yasashisa';
    color: #683b00;
    width: 100%;
    text-align: left;
    padding-left: 20px;
    padding-top: 85px;
    padding-bottom: 85px;

}

#page_menu .cafemenu .box {
    width: 250px;
    padding: 15px 15px 35px 15px;
    background: #fff;
    transform: rotate(5deg);
    margin-left: 30px;
}

#page_menu .cafemenu .box p {
    text-align: center;
    font-family: 'yasashisa';
    color: #683b00;
    padding-top: 8px;
    transform: rotate(0deg);
}

#page_menu .cafemenu h3 {
    font-weight: bold;
}

#page_menu .newitem h3 {
    font-weight: bold;
}

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
 --page_shop
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
#page_shop .shokai h3 {
    color: #683b00;
    font-size: 26px;
    font-size: 2.6rem;
    font-weight: bold;
}

#page_shop .shokai .outer {
    width: 100%;
}

#page_shop .shokai .left {
    width: 55%;
    float: left;
}

#page_shop .shokai .left > dl {
    padding: 20px 20px 40px;
    background: #fff;
}

#page_shop .shokai .left h4 {
    color: #683b00;
    font-size: 24px;
    font-size: 2.4rem;
}

#page_shop .shokai .left address {
    color: #683b00;
}

#page_shop .shokai .left address a {
    color: #683b00;
}

#page_shop .shokai .left address dl dt {
    float: left;
    width: 4em;
}

#page_shop .shokai .left address dl dd {
    overflow: hidden;
}

#page_shop .shokai .left address dl dd .right-ad1 {
    padding-left: 135.5px;
    display: block;
}

#page_shop .shokai .right {
    width: 45%;
    float: left;
}

#page_shop .shokai .right ul li {
    padding: 10px 10px 20px 10px;
    background: #fff;
    width: 305px;
}

#page_shop .shokai .right ul li.row1 {
    transform: rotate(-5deg);
    margin-left: 40px;
    color: #683b00;
    text-align: center;
}

#page_shop .shokai .right ul li.row2 {
    transform: rotate(5deg);
    margin-left: 100px;
    color: #683b00;
    text-align: center;
}

#page_shop .shokai .right ul li p {
    margin-top: 5px;
}

#page_shop .access .map {
    width: 100%;
    height: 465px;
}

#page_shop .access .map iframe {
    width: 100%;
    height: 100%;
    vertical-align: bottom;
}

#page_shop .access {
    color: #683b00;
}

#page_shop .access h3 {
    font-size: 24px;
    font-size: 2.4rem;
    font-weight: bold;
    padding-bottom: 5px;
}

#page_shop .access p {
    padding-bottom: 20px;
}

#page_shop .herlkun {
    color: #683b00;
    padding: 100px 0 150px;
}

#page_shop .herlkun h3 {
    font-size: 24px;
    font-size: 2.4rem;
    font-weight: bold;

}

#page_contact .text {
    color: #683b00;
}

#page_contact .mfp_buttons {
    text-align: center;
}

#page_contact button {
    font-family: 'yasashisa';
    border: none;
    background: #4c1d14;
    cursor: pointer;
    padding: 15px;
    font-size: 16px;
    color: #fff;
    border-radius: 15px;
    width: 200px;
    letter-spacing: 1px;
    outline: none;
}

#page_thanks section.contact .box {
    padding: 40px 0;
    margin: 0px auto 20px;

}

#page_contact .privacy {
    text-align: center;
}

#page_contact .privacy a {
    text-decoration: underline;
}

#mfp_phase_confirm .privacy {
    display: block !important;

}

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
 --page_single
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
#page_single section.news .box {
    background: #fff;
    padding: 40px;
    margin: 40px auto 20px;
}

#page_single section.news .news-outer {
    width: 100%;
}

#page_single section.news .news-outer .photo {
    width: 12%;
    float: left;
}

#page_single section.news .news-outer .photo img {
    border-radius: 70px;
    height: 90px;
    width: 90px;
}

#page_single section.news .news-outer .text {
    width: 88%;
    padding-top: 15px;
    float: left;
}


#page_single section.news .entry-header {
    border-bottom: 2px dashed #0b6013;
    padding: 0px 0 10px;
}

#page_single section.news .entry-title {
    font-size: 26px;
    font-size: 2.6rem;
    color: #683b00;
    font-weight: bold;
}

#page_single section.news .entry-content {
    padding: 20px 0;
    font-family: 'yasashisa';
}

#page_single section.news .entry-content .left {
    width: 300px;
    float: left;
}

#page_single section.news .entry-content .left img {
    width: 100%;
    height: auto;
}

#page_single section.news .entry-content .right {
    width: 600px;
    float: left;
    margin-left: 20px;
}

#page_single section.news ul.page_link li a {
    font-size: 13px;
    display: inline-block;
    padding: 6px 15px 6px;
    border-radius: 3px;
    border: solid 1px #717171;
    background: #fff;
    text-decoration: none;
    color: #717171;
}

#page_single section.news ul.page_link li.next {
    float: right;
}

#page_single section.news ul.page_link li.prev {
    float: left;
}


#page_category .topics dl {
    width: 100%;
    border-bottom: 2px dashed #0b6013;
    padding: 20px 0;
}

#page_category .topics dl dt {
    width: 17%;
    float: left;
}

#page_category .topics dl dd {
    width: 83%;
    float: left;
}

#page_category .topics dl dd a {
    text-decoration: underline !important;
}

#page_category .topics dl dt img {
    border-radius: 70px;
    height: 140px;
    width: 140px;
}

#page_category .topics dl dd h3 {
    font-weight: bold;
    padding-bottom: 5px;
}

#page_category .topics dl dd .text {
    font-family: 'yasashisa';
}


/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
 --other-store
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
#other-store .grid_col2 img {
    width: 100%;
    margin-bottom: 7px;
}

#other-store .left {
    margin-right: 4%;
}

#other-store .grid_col2 {
    width: 100%;
}

#other-store .grid_col2 .col {
    width: 48%;
}

#other-store h3 {
    text-align: center;
    font-family: 'yasashisa';
    color: #683b00;
    transform: skew(-1deg, -1deg);
    font-size: 14px;
    font-size: 1.4rem;
}


#bottom_link .col {
    width: 32%;
}

#bottom_link li:first-of-type {
    margin-right: 2%;
}

#bottom_link li:last-of-type {
    margin-left: 2%;
}

#bottom_link .col img {
    width: 100%;
}

#bottom_link .col .photo {
    position: relative;
}

#bottom_link .col .text {
    font-size: 18px;
    font-size: 1.8rem;
    font-weight: bold;
    z-index: 100;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    /* Safari用 */
    transform: translate(-50%, -50%);
    color: #fff;

    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;

}

#bottom_link .col .text.lg {
    left: 51%;
    width: 57%;

}


#bottom_link .col .bg {
    z-index: 99;
    position: absolute;
    height: 100%;
    width: 100%;
    display: block;
    background: rgba(0, 0, 0, 0.4);
    top: 0;
    opacity: 1;
    visibility: visible;
    transition: all 0.5s;
}

#bottom_link .col p {
    font-size: 13px;
    font-size: 1.3rem;
}

#bottom_link .col a:hover .bg {
    opacity: 0;
    visibility: hidden;
}

#bottom_link .col a:hover .text {
    font-size: 18px;
    font-size: 1.8rem;
    font-weight: bold;
    color: #683b00;
    text-shadow:
        #fff 2px 0px 2px, #fff -2px 0px 2px,
        #fff 0px -2px 2px, #fff -2px 0px 2px,
        #fff 2px 2px 2px, #fff -2px 2px 2px,
        #fff 2px -2px 2px, #fff -2px -2px 2px,
        #fff 1px 2px 2px, #fff -1px 2px 2px,
        #fff 1px -2px 2px, #fff -1px -2px 2px,
        #fff 2px 1px 2px, #fff -2px 1px 2px,
        #fff 2px -1px 2px, #fff -2px -1px 2px,
        #fff 1px 1px 2px, #fff -1px 1px 2px,
        #fff 1px -1px 2px, #fff -1px -1px 2px;
}


/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
 --vegas
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
.vegas-pager a {
    background: rgba(255, 255, 255, 0.6);
    text-indent: -9999px;
    display: block;
    width: 12px;
    height: 12px;
    margin: 0 5px;
    outline: 0;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
}

.vegas-pager-item {
    font-size: 0;
    line-height: 0;
}

.vegas-pager {
    text-align: center;
    font-size: .85em;
    font-family: Arial;
    font-weight: 700;
    color: #666;
    padding-top: 20px;
}


.vegas-pager a.active,
.vegas-pager a:hover {
    background: #fff;
}

.vegas-pager-item {
    display: inline-block;
    vertical-align: bottom;
}

.vegas-pager {
    position: absolute;
    bottom: 30px;
    width: 100%;
}
